/* line 46, ../sass/lib/_mixins.scss */
.descriptions-list:after, .wrap-row:after, .input-wrap-textarea:after, .content-header:after, .footer .content-wrapper:after, .footer-widget:after, .digital-products-list-big .content-wrapper ul:after, .digital-products-list:after, body.login .page:after, .t-link-block:after, .testimonial-head:after, .single-photo .nav-block:after, .single-post .nav-block:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 110, ../sass/lib/_mixins.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 115, ../sass/lib/_mixins.scss */
.e-btn, .popup-with-form, .right-menu ul li a, .digital-products-list-big .content-wrapper .popup-youtube, .content-home .popup-with-form, .testimonials-load-more-link, .descriptions-list li a, input[type="submit"], #header .logo ul .item-logo:before, #header .logo ul ul, .main-menu ul li.menu-item-has-children > a:before, .main-menu .sub-menu, .main-menu .b-mobile-nav, .user-info {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 3, ../sass/lib/_sprites.scss */
#header .logo ul .item-logo:before, .main-menu ul li.menu-item-has-children > a:before, .footer-nav .widget_wysiwyg_widgets_widget .fb, .footer-nav .widget_wysiwyg_widgets_widget .tw, .digital-products-list-big .content-wrapper .popup-youtube:before, .testimonial-head:before {
  background-image: url('../img/icons-sdf3261f4a4.png');
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/latoRegular/lato-regular-webfont.eot");
  src: url("../fonts/latoRegular/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/latoRegular/lato-regular-webfont.woff2") format("woff2"), url("../fonts/latoRegular/lato-regular-webfont.woff") format("woff"), url("../fonts/latoRegular/lato-regular-webfont.ttf") format("truetype"), url("../fonts/latoRegular/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latolight';
  src: url("../fonts/latoLight/lato-light-webfont.eot");
  src: url("../fonts/latoLight/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/latoLight/lato-light-webfont.woff2") format("woff2"), url("../fonts/latoLight/lato-light-webfont.woff") format("woff"), url("../fonts/latoLight/lato-light-webfont.ttf") format("truetype"), url("../fonts/latoLight/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latosemibold';
  src: url("../fonts/latoSemibold/lato-semibold-webfont.eot");
  src: url("../fonts/latoSemibold/lato-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/latoSemibold/lato-semibold-webfont.woff2") format("woff2"), url("../fonts/latoSemibold/lato-semibold-webfont.woff") format("woff"), url("../fonts/latoSemibold/lato-semibold-webfont.ttf") format("truetype"), url("../fonts/latoSemibold/lato-semibold-webfont.svg#latosemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*bg*/
/*border*/
/*text color*/
/* footer link block 1 */
/* footer link block 2 */
/* footer link block 3 */
/* line 1, ../sass/components/_typography.scss */
h1, h2, h3, h4 {
  color: #ff5d5d;
  margin: 0;
}

/* line 5, ../sass/components/_typography.scss */
h1 {
  text-transform: uppercase;
}

/* line 8, ../sass/components/_typography.scss */
h4 {
  font-size: 22px;
  line-height: 41px;
  font-weight: 400;
  color: #505153;
}

/* line 14, ../sass/components/_typography.scss */
p {
  margin-top: 0;
}

/* line 17, ../sass/components/_typography.scss */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 22, ../sass/components/_typography.scss */
.display-none {
  display: none;
}

/* line 25, ../sass/components/_typography.scss */
a {
  color: #ff5d5d;
  text-decoration: none;
}
/* line 28, ../sass/components/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 32, ../sass/components/_typography.scss */
a:focus, a:hover, a:active {
  outline: 0 none;
}

/* line 1, ../sass/components/_chosen.scss */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 12, ../sass/components/_chosen.scss */
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/components/_chosen.scss */
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #ff5d5d;
  border-top: 0;
  background: #fff;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 28, ../sass/components/_chosen.scss */
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}

/* line 31, ../sass/components/_chosen.scss */
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
/* line 37, ../sass/components/_chosen.scss */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 12px;
  height: 34px;
  border: 1px solid #ff5d5d;
  border-radius: 5px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 32px;
}

/* line 52, ../sass/components/_chosen.scss */
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 27px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ff5d5d;
  font-weight: 600;
}

/* line 61, ../sass/components/_chosen.scss */
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}

/* line 64, ../sass/components/_chosen.scss */
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

/* line 74, ../sass/components/_chosen.scss */
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}

/* line 77, ../sass/components/_chosen.scss */
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}

/* line 80, ../sass/components/_chosen.scss */
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}

/* line 88, ../sass/components/_chosen.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/chosen-sprite.png") no-repeat 0px 6px;
}

/* line 94, ../sass/components/_chosen.scss */
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

/* line 101, ../sass/components/_chosen.scss */
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #ff5d5d;
  background: white url("../img/chosen-sprite.png") no-repeat 100% -20px;
  background: url("../img/chosen-sprite.png") no-repeat 100% -20px;
  line-height: normal;
  border-radius: 0;
}

/* line 113, ../sass/components/_chosen.scss */
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

/* line 118, ../sass/components/_chosen.scss */
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
/* line 125, ../sass/components/_chosen.scss */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

/* line 135, ../sass/components/_chosen.scss */
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}

/* line 144, ../sass/components/_chosen.scss */
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

/* line 148, ../sass/components/_chosen.scss */
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* line 153, ../sass/components/_chosen.scss */
.chosen-container .chosen-results li.highlighted {
  color: #ff5d5d;
}

/* line 156, ../sass/components/_chosen.scss */
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}

/* line 161, ../sass/components/_chosen.scss */
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

/* line 166, ../sass/components/_chosen.scss */
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

/* line 169, ../sass/components/_chosen.scss */
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
/* line 176, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #ff5d5d;
  cursor: text;
}

/* line 187, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

/* line 191, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 196, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  line-height: normal;
  border-radius: 0;
}

/* line 207, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #ff5d5d;
  max-width: 100%;
  border-radius: 3px;
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  line-height: 13px;
  cursor: default;
}

/* line 221, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}

/* line 224, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

/* line 234, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

/* line 237, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ff5d5d;
}

/* line 241, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}

/* line 244, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

/* line 247, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

/* line 251, ../sass/components/_chosen.scss */
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
/* line 259, ../sass/components/_chosen.scss */
.chosen-container-active .chosen-single {
  border: 1px solid #ff5d5d;
}

/* line 262, ../sass/components/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #ff5d5d;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 270, ../sass/components/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

/* line 274, ../sass/components/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 6px;
}

/* line 277, ../sass/components/_chosen.scss */
.chosen-container-active .chosen-choices {
  border: 1px solid #ff5d5d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 281, ../sass/components/_chosen.scss */
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
/* line 287, ../sass/components/_chosen.scss */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

/* line 291, ../sass/components/_chosen.scss */
.chosen-disabled .chosen-single {
  cursor: default;
}

/* line 294, ../sass/components/_chosen.scss */
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
/* line 300, ../sass/components/_chosen.scss */
.chosen-rtl {
  text-align: right;
}

/* line 303, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

/* line 307, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

/* line 312, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

/* line 315, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

/* line 319, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

/* line 323, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-choices li {
  float: right;
}

/* line 326, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

/* line 329, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

/* line 333, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

/* line 337, ../sass/components/_chosen.scss */
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}

/* line 341, ../sass/components/_chosen.scss */
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

/* line 345, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

/* line 349, ../sass/components/_chosen.scss */
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

/* line 352, ../sass/components/_chosen.scss */
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url("../img/chosen-sprite.png") no-repeat -30px -20px;
  background: url("../img/chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}

/* line 358, ../sass/components/_chosen.scss */
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}

/* line 361, ../sass/components/_chosen.scss */
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  /* line 368, ../sass/components/_chosen.scss */
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../img/chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
/* line 1, ../sass/components/_elements.scss */
.e-btn, .popup-with-form, .right-menu ul li a, .digital-products-list-big .content-wrapper .popup-youtube, .content-home .popup-with-form, .testimonials-load-more-link {
  border-radius: 6px;
  border: 1px solid #fff;
  line-height: 48px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
/* line 12, ../sass/components/_elements.scss */
.e-btn:hover, .popup-with-form:hover, .right-menu ul li a:hover, .digital-products-list-big .content-wrapper .popup-youtube:hover, .testimonials-load-more-link:hover {
  border-color: transparent;
  background-color: #ff5d5d !important;
  text-decoration: none;
}

/* line 18, ../sass/components/_elements.scss */
.e-btn {
  background: #ff5d5d;
  border-color: #ff5d5d;
  padding: 0 57px;
}

/* line 24, ../sass/components/_elements.scss */
.popup-with-form {
  background: #ff5d5d;
  border-color: #ff5d5d;
  padding: 0 57px;
}

/* line 30, ../sass/components/_elements.scss */
.descriptions-list {
  display: block;
  border-bottom: 1px solid #e9edf1;
  margin-bottom: 43px;
  padding-bottom: 20px;
}
/* line 36, ../sass/components/_elements.scss */
.descriptions-list li {
  display: block;
  float: left;
  margin-right: 20px;
  font-size: 14px;
  line-height: 32px;
  color: #d4dbe3;
}
/* line 44, ../sass/components/_elements.scss */
.descriptions-list li.active a {
  color: #575c63;
}
/* line 46, ../sass/components/_elements.scss */
.descriptions-list li.active a:before {
  color: #d4dbe3;
}
/* line 53, ../sass/components/_elements.scss */
.descriptions-list li:last-child a:before {
  display: none;
}
/* line 58, ../sass/components/_elements.scss */
.descriptions-list li a {
  text-decoration: none;
  color: #d4dbe3;
  position: relative;
}
/* line 63, ../sass/components/_elements.scss */
.descriptions-list li a:before {
  position: absolute;
  content: "-";
  right: -11px;
  top: -9px;
}
/* line 69, ../sass/components/_elements.scss */
.descriptions-list li a:hover {
  color: #575c63;
}
/* line 71, ../sass/components/_elements.scss */
.descriptions-list li a:hover:before {
  color: #d4dbe3;
}

/* select for devices */
/* line 79, ../sass/components/_elements.scss */
select {
  height: 35px;
  padding-right: 24px;
  padding-left: 10px;
  border-radius: 5px;
  color: #ff5d5d;
  font-size: 16px;
  -webkit-appearance: none;
  background-image: url("../img/arrow_select.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 1px solid #ff5d5d;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
  cursor: pointer;
}

/* line 102, ../sass/components/_elements.scss */
select::-ms-expand {
  display: none;
}

/* line 105, ../sass/components/_elements.scss */
select:focus {
  outline: none;
}

/* line 1, ../sass/components/_form.scss */
input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #f5f7f9;
  width: 100%;
  line-height: 50px;
  height: 50px;
  border-radius: 6px;
  padding: 0 10px;
  text-align: center;
  background: #f5f7f9;
}
@media screen and (max-width: 767px) {
  /* line 1, ../sass/components/_form.scss */
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    height: 36px;
    font-size: 16px;
    line-height: 19px;
    padding: 7px;
    text-align: center;
  }
  /* line 18, ../sass/components/_form.scss */
  input[type="text"] ::-webkit-input-placeholder,
  input[type="password"] ::-webkit-input-placeholder,
  input[type="email"] ::-webkit-input-placeholder {
    text-align: center;
  }
  /* line 22, ../sass/components/_form.scss */
  input[type="text"] :-moz-placeholder,
  input[type="password"] :-moz-placeholder,
  input[type="email"] :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
  }
  /* line 26, ../sass/components/_form.scss */
  input[type="text"] ::-moz-placeholder,
  input[type="password"] ::-moz-placeholder,
  input[type="email"] ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
  }
  /* line 30, ../sass/components/_form.scss */
  input[type="text"] :-ms-input-placeholder,
  input[type="password"] :-ms-input-placeholder,
  input[type="email"] :-ms-input-placeholder {
    text-align: center;
  }
}
/* line 34, ../sass/components/_form.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background: #fff;
  border-color: #9baaba;
  color: #ff5d5d;
}

/* line 40, ../sass/components/_form.scss */
textarea {
  border: 1px solid #f5f7f9;
  width: 100%;
  padding: 10px;
  background: #f5f7f9;
  border-radius: 6px;
}
/* line 46, ../sass/components/_form.scss */
textarea:focus {
  background: #fff;
  border-color: #9baaba;
  color: #ff5d5d;
}

/* line 54, ../sass/components/_form.scss */
textarea.filled,
input.filled {
  color: #9baaba;
  background: #fff;
  border-color: #9baaba;
}
/* line 58, ../sass/components/_form.scss */
textarea.filled.error,
input.filled.error {
  border-color: #f00;
}
/* line 62, ../sass/components/_form.scss */
textarea .error,
input .error {
  border-color: #f00;
}

/* line 66, ../sass/components/_form.scss */
input[type="submit"] {
  background-color: #ff5d5d;
  border: none;
  width: 268px;
  height: 50px;
  margin: 48px auto 0;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  /* line 66, ../sass/components/_form.scss */
  input[type="submit"] {
    height: 36px;
    margin-top: 0;
  }
}
/* line 80, ../sass/components/_form.scss */
input[type="submit"]:hover {
  background-color: #ff5d5d;
}

/* line 84, ../sass/components/_form.scss */
.login {
  padding: 0;
}

/* line 88, ../sass/components/_form.scss */
label.error {
  color: #f00;
  font-size: 14px;
}

/* line 93, ../sass/components/_form.scss */
.message {
  color: #008000;
  margin-bottom: 15px;
}

/* line 97, ../sass/components/_form.scss */
input:focus {
  outline: none;
}

/* line 98, ../sass/components/_form.scss */
textarea:focus {
  outline: none;
}

/* line 100, ../sass/components/_form.scss */
.create-post input[type="submit"] {
  background-color: #ff2424 !important;
  border-color: #ff2424 !important;
}
/* line 104, ../sass/components/_form.scss */
.create-post #frontend-button {
  background-color: #ababab !important;
  border-color: #ababab !important;
}

/* line 1, ../sass/components/_popup.scss */
.white-popup {
  max-width: 1020px;
}
@media screen and (max-width: 767px) {
  /* line 1, ../sass/components/_popup.scss */
  .white-popup {
    max-width: 100%;
  }
}
/* line 6, ../sass/components/_popup.scss */
.white-popup .form-wrapper {
  width: 562px;
  margin: 74px auto;
  text-align: center;
}
/* line 10, ../sass/components/_popup.scss */
.white-popup .form-wrapper h2 {
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 110px;
  position: relative;
}
/* line 18, ../sass/components/_popup.scss */
.white-popup .form-wrapper h2:before {
  position: absolute;
  content: "";
  bottom: -50px;
  left: 50%;
  margin-left: -48px;
  width: 96px;
  height: 2px;
  background: #f1f1f6;
}
/* line 29, ../sass/components/_popup.scss */
.white-popup .form-wrapper .input-wrap {
  width: 50%;
  float: left;
  height: 76px;
  padding: 0 12px;
}
@media screen and (max-width: 767px) {
  /* line 29, ../sass/components/_popup.scss */
  .white-popup .form-wrapper .input-wrap {
    height: 60px;
  }
}
/* line 38, ../sass/components/_popup.scss */
.white-popup .form-wrapper input[type="submit"] {
  background-color: #ff5d5d;
  background-image: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  width: 268px;
  height: 50px;
  margin: 48px auto 0;
  border-radius: 6px;
  text-indent: -9999px;
}
/* line 49, ../sass/components/_popup.scss */
.white-popup .form-wrapper input[type="submit"]:hover {
  background-color: #ff5d5d;
}
@media screen and (max-width: 767px) {
  /* line 38, ../sass/components/_popup.scss */
  .white-popup .form-wrapper input[type="submit"] {
    height: 36px;
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 6, ../sass/components/_popup.scss */
  .white-popup .form-wrapper {
    width: 100%;
    margin: 5px auto;
  }
  /* line 60, ../sass/components/_popup.scss */
  .white-popup .form-wrapper h2 {
    margin-bottom: 10px;
  }
  /* line 62, ../sass/components/_popup.scss */
  .white-popup .form-wrapper h2:before {
    display: none;
  }
  /* line 66, ../sass/components/_popup.scss */
  .white-popup .form-wrapper .input-wrap {
    width: 100%;
    float: none;
  }
  /* line 70, ../sass/components/_popup.scss */
  .white-popup .form-wrapper input[type="submit"] {
    margin-top: 0px;
  }
}

/* line 79, ../sass/components/_popup.scss */
.input-wrap-textarea {
  width: 100%;
}
@media screen and (max-width: 767px) {
  /* line 79, ../sass/components/_popup.scss */
  .input-wrap-textarea {
    margin-bottom: 25px;
  }
}
/* line 85, ../sass/components/_popup.scss */
.input-wrap-textarea textarea {
  width: 100%;
  max-width: 100%;
  resize: none;
  overflow-y: auto;
  height: 95px;
}

/* line 95, ../sass/components/_popup.scss */
.upload_photo_form .input-wrap-textarea textarea {
  border-color: #ff5d5d;
}

/* line 1, ../sass/components/_captcha.scss */
.cptch_wrap {
  text-align: center;
  display: block !important;
}

/* line 5, ../sass/components/_captcha.scss */
.cptch_label,
.cptch_reload_button_wrap {
  display: inline-block !important;
  vertical-align: middle !important;
}

/* line 1, ../sass/_layout.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* line 9, ../sass/_layout.scss */
body {
  font-family: 'latoregular', sans-serif;
  min-width: 320px;
  background: #f7fbfd;
  font-size: 16px;
  line-height: 30px;
}

/* line 16, ../sass/_layout.scss */
.wrapper {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  margin: 0 auto;
  padding: 0;
}
/* line 23, ../sass/_layout.scss */
.wrapper img {
  max-width: 100%;
  height: auto;
}

/* line 28, ../sass/_layout.scss */
.content-wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 75px 10px 0;
}
/* line 32, ../sass/_layout.scss */
.content-wrapper h1 {
  border-bottom: 1px solid #f1f1f6;
  font-size: 26px;
  margin-bottom: 20px;
  padding-bottom: 45px;
  text-align: center;
}

/* line 40, ../sass/_layout.scss */
.digital-products-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 45, ../sass/_layout.scss */
.digital-products-list li img {
  display: block;
}

/* line 50, ../sass/_layout.scss */
.main {
  position: relative;
}
/* line 52, ../sass/_layout.scss */
.main .content-wrapper {
  background: #fff;
}

/* line 56, ../sass/_layout.scss */
.bg-page {
  position: absolute;
  top: -208px;
  width: 100%;
  max-height: 596px;
  overflow: hidden;
  z-index: -1;
}
/* line 63, ../sass/_layout.scss */
.bg-page img {
  width: 100%;
}

/* line 67, ../sass/_layout.scss */
.content-header {
  margin-bottom: 40px;
}
/* line 70, ../sass/_layout.scss */
.content-header h1 {
  float: left;
  margin-top: 8px;
}
/* line 74, ../sass/_layout.scss */
.content-header .contact-me {
  float: right;
}
@media screen and (max-width: 767px) {
  /* line 67, ../sass/_layout.scss */
  .content-header {
    text-align: center;
  }
  /* line 79, ../sass/_layout.scss */
  .content-header h1 {
    float: none;
    margin-top: 0;
    margin-bottom: 15px !important;
    text-align: center !important;
  }
  /* line 85, ../sass/_layout.scss */
  .content-header .contact-me {
    float: none;
  }
}

/* line 90, ../sass/_layout.scss */
.table-wrap {
  overflow-x: auto;
  position: relative;
}
/* line 93, ../sass/_layout.scss */
.table-wrap table {
  max-width: 100%;
  width: auto;
}

@media screen and (max-width: 999px) {
  /* line 99, ../sass/_layout.scss */
  .bg-page {
    display: none;
  }

  /* line 102, ../sass/_layout.scss */
  #header {
    margin-bottom: 20px !important;
  }
}
/* line 107, ../sass/_layout.scss */
.single-product-description #header {
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 113px;
}

/* line 113, ../sass/_layout.scss */
.content-header h1 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 640px) {
  /* line 121, ../sass/_layout.scss */
  .column-grid .column-span-1 {
    float: none;
    margin: 0 0 20px 0;
    display: block;
    width: 100%;
  }
  /* line 126, ../sass/_layout.scss */
  .column-grid .column-span-1 > p {
    display: block;
  }
  /* line 128, ../sass/_layout.scss */
  .column-grid .column-span-1 > p span {
    display: block;
  }
  /* line 131, ../sass/_layout.scss */
  .column-grid .column-span-1 > p br {
    display: none;
  }
  /* line 134, ../sass/_layout.scss */
  .column-grid .column-span-1 > p strong {
    display: block;
    text-align: center;
  }
}

/* line 142, ../sass/_layout.scss */
.error404 {
  background: #fff;
}
/* line 144, ../sass/_layout.scss */
.error404 h2 {
  text-align: center;
}

/* line 148, ../sass/_layout.scss */
#frontend-button {
  text-transform: none !important;
  background: #FF2424 !important;
  border-color: #FF2424 !important;
  width: 268px !important;
  height: 50px !important;
  font-weight: bold !important;
}

/* line 1, ../sass/blocks/_header.scss */
#header {
  position: relative;
  z-index: 10;
  height: 95px;
  background: #ff5d5d;
}
@media screen and (max-width: 767px) {
  /* line 1, ../sass/blocks/_header.scss */
  #header {
    margin-bottom: 30px;
  }
}
/* line 9, ../sass/blocks/_header.scss */
#header .content-wrapper {
  max-width: none;
  padding-top: 23px;
  text-align: justify;
}
/* line 156, ../sass/lib/_mixins.scss */
#header .content-wrapper > * {
  display: inline-block;
  vertical-align: middle;
}
/* line 160, ../sass/lib/_mixins.scss */
#header .content-wrapper:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
@media screen and (max-width: 999px) {
  /* line 9, ../sass/blocks/_header.scss */
  #header .content-wrapper {
    padding-top: 10px;
  }
}
/* line 17, ../sass/blocks/_header.scss */
#header .nav-btn {
  display: none;
  position: absolute;
  right: 15px;
  left: auto;
  top: 10px;
  height: 46px;
  width: 56px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px;
}
/* line 29, ../sass/blocks/_header.scss */
#header .nav-btn:after {
  position: absolute;
  top: 11px;
  left: 10px;
  height: 16px;
  width: 36px;
  border: 4px solid #fff;
  border-width: 4px 0;
  content: '';
}
/* line 39, ../sass/blocks/_header.scss */
#header .nav-btn:before {
  position: absolute;
  top: 21px;
  left: 10px;
  height: 4px;
  width: 36px;
  background: #fff;
  content: '';
}
/* line 48, ../sass/blocks/_header.scss */
#header .nav-btn.active {
  background: #fff;
}
/* line 50, ../sass/blocks/_header.scss */
#header .nav-btn.active:after {
  border-color: #ff5d5d;
}
/* line 53, ../sass/blocks/_header.scss */
#header .nav-btn.active:before {
  background: #ff5d5d;
}
/* line 58, ../sass/blocks/_header.scss */
#header .logo {
  padding: 10px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  /* line 58, ../sass/blocks/_header.scss */
  #header .logo {
    padding: 10px 10px 10px 0;
  }
}
/* line 65, ../sass/blocks/_header.scss */
#header .logo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 69, ../sass/blocks/_header.scss */
#header .logo ul .item-logo {
  background: url("../img/logo.png") no-repeat 0 0;
  display: block;
  padding-left: 50px;
  height: 29px;
  line-height: 29px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding-right: 15px;
  z-index: 2;
}
/* line 82, ../sass/blocks/_header.scss */
#header .logo ul .item-logo:before {
  position: absolute;
  content: "";
  display: block;
  right: 0;
  top: 14px;
  background-position: 0 0;
  width: 7px;
  height: 5px;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 94, ../sass/blocks/_header.scss */
#header .logo ul ul {
  text-align: right;
  margin-top: 20px;
  padding: 0 10px;
  border-radius: 6px;
  background: #ff5d5d;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 107, ../sass/blocks/_header.scss */
#header .logo ul ul li {
  margin: 0;
  display: block;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
}
/* line 111, ../sass/blocks/_header.scss */
#header .logo ul ul li:first-child {
  box-shadow: none;
}
/* line 115, ../sass/blocks/_header.scss */
#header .logo ul ul a {
  display: block;
  padding: 5px 0;
  color: #fff;
  text-transform: inherit;
}
/* line 120, ../sass/blocks/_header.scss */
#header .logo ul ul a:hover {
  text-decoration: underline;
}
/* line 124, ../sass/blocks/_header.scss */
#header .logo ul ul.is-open {
  visibility: visible;
  margin-top: 3px;
}
/* line 130, ../sass/blocks/_header.scss */
#header .logo ul:hover ul {
  visibility: visible;
  margin-top: 3px;
}
/* line 135, ../sass/blocks/_header.scss */
#header .logo ul:hover .item-logo:before {
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
}
/* line 143, ../sass/blocks/_header.scss */
#header .right-menu ul {
  padding: 0;
  margin: 0;
}

/* line 150, ../sass/blocks/_header.scss */
.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}
/* line 156, ../sass/blocks/_header.scss */
.main-menu ul.menu > li > a {
  background: transparent;
  border: none;
}
/* line 159, ../sass/blocks/_header.scss */
.main-menu ul.menu > li > a:hover {
  background: transparent !important;
  border: none;
}
/* line 164, ../sass/blocks/_header.scss */
.main-menu ul li {
  display: inline-block;
  margin: 0 15px;
}
/* line 167, ../sass/blocks/_header.scss */
.main-menu ul li a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 0;
}
/* line 174, ../sass/blocks/_header.scss */
.main-menu ul li a:hover {
  text-decoration: underline;
}
/* line 178, ../sass/blocks/_header.scss */
.main-menu ul li.menu-item-has-children {
  margin-right: 0;
}
/* line 180, ../sass/blocks/_header.scss */
.main-menu ul li.menu-item-has-children > a {
  position: relative;
  padding-right: 15px;
}
/* line 183, ../sass/blocks/_header.scss */
.main-menu ul li.menu-item-has-children > a:before {
  position: absolute;
  content: "";
  display: block;
  right: 0;
  top: 17px;
  background-position: 0 0;
  width: 7px;
  height: 5px;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 196, ../sass/blocks/_header.scss */
.main-menu ul li.menu-item-has-children:hover > .sub-menu {
  visibility: visible;
  margin-top: 10px;
}
/* line 201, ../sass/blocks/_header.scss */
.main-menu ul li.menu-item-has-children:hover > a:before {
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
}
/* line 209, ../sass/blocks/_header.scss */
.main-menu ul .menu-item-has-children .menu-item-has-children {
  position: relative;
}
/* line 212, ../sass/blocks/_header.scss */
.main-menu ul .menu-item-has-children .menu-item-has-children:hover a:before {
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 220, ../sass/blocks/_header.scss */
.main-menu ul .menu-item-has-children .menu-item-has-children .sub-menu {
  width: 110%;
  top: -10px;
  left: 100%;
  margin-left: 11px;
}
/* line 231, ../sass/blocks/_header.scss */
.main-menu .sub-menu {
  position: absolute;
  text-align: left;
  margin-top: 20px;
  padding: 0 10px;
  border-radius: 6px;
  background: #ff5d5d;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}
/* line 241, ../sass/blocks/_header.scss */
.main-menu .sub-menu li {
  margin: 0;
  display: block;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
}
/* line 245, ../sass/blocks/_header.scss */
.main-menu .sub-menu li:first-child {
  box-shadow: none;
}
/* line 249, ../sass/blocks/_header.scss */
.main-menu .sub-menu a {
  text-transform: inherit;
}
/* line 254, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav {
  position: absolute;
  left: 10px;
  right: 10px;
  z-index: 5;
  background: #ff5d5d;
  border-radius: 6px;
  padding: 10px 20px;
  -moz-transform: translate3d(0, 80px, 0);
  -ms-transform: translate3d(0, 80px, 0);
  -webkit-transform: translate3d(0, 80px, 0);
  transform: translate3d(0, 80px, 0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
/* line 268, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav.is-open {
  -moz-transform: translate3d(0, 25px, 0);
  -ms-transform: translate3d(0, 25px, 0);
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  visibility: visible;
  z-index: 5;
  opacity: 1;
}
/* line 275, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav .sub-menu .sub-menu {
  width: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 1px solid #575c63;
  visibility: visible !important;
  background: #ff5d5d;
}
/* line 282, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav .sub-menu .sub-menu li {
  border-bottom: 1px solid #fc4a4a;
}
/* line 284, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav .sub-menu .sub-menu li a {
  color: #fff;
}
/* line 290, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul {
  display: block;
}
/* line 292, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul > li {
  border-bottom: 1px solid #fc4a4a;
}
/* line 294, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul > li a.popup-with-form {
  line-height: 30px !important;
  background: #fff;
  border: none;
}
/* line 298, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul > li a.popup-with-form:hover {
  background: #fff !important;
}
/* line 303, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul li {
  display: block;
  margin: 0;
  float: none;
  padding: 5px 0;
  box-shadow: inset 0 1px #ff5d5d;
}
/* line 309, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul li:first-child {
  box-shadow: none;
}
/* line 312, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul li a {
  padding: 5px 0;
}
/* line 316, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul li.menu-item-has-children > a {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 321, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul li.menu-item-has-children > a:before {
  top: 16px;
  background-position: 0 -25px;
  width: 14px;
  height: 10px;
}
/* line 326, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul li.menu-item-has-children .menu-item-has-children > a:before {
  background-position: 0 -55px;
  width: 14px;
  height: 10px;
}
/* line 331, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul li.menu-item-has-children.active > a:before {
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
}
/* line 338, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav > ul li:hover .sub-menu {
  margin: 0;
}
/* line 345, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav .right-menu {
  padding-top: 30px;
  box-shadow: inset 0 1px #ff5d5d;
}
/* line 349, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav .right-menu ul li {
  display: block;
  padding: 5px 0;
  margin: 0;
}
/* line 353, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav .right-menu ul li a {
  display: block;
  margin: 0 0 10px 0;
  border: 1px solid #fff;
}
/* line 357, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav .right-menu ul li a:hover {
  background: #fc4a4a !important;
  border-color: #fc4a4a;
  text-decoration: none;
}
/* line 363, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav .right-menu ul li .user-info:hover {
  font-weight: bold;
  color: #fff;
}
/* line 370, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav .sub-menu {
  display: none;
  margin-top: 0;
  margin-bottom: 5px !important;
  text-align: center;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  position: static;
  visibility: visible;
}
/* line 381, ../sass/blocks/_header.scss */
.main-menu .b-mobile-nav .sub-menu li a {
  color: #ff5d5d;
}

/* line 391, ../sass/blocks/_header.scss */
.ua-safari5 .main-menu .b-mobile-nav,
.os-android .main-menu .b-mobile-nav {
  display: none;
  opacity: 1;
  visibility: visible;
}
/* line 395, ../sass/blocks/_header.scss */
.ua-safari5 .main-menu .b-mobile-nav.is-open,
.os-android .main-menu .b-mobile-nav.is-open {
  display: block;
  z-index: 5;
}

/* line 403, ../sass/blocks/_header.scss */
.right-menu ul {
  list-style: none;
}
/* line 405, ../sass/blocks/_header.scss */
.right-menu ul li {
  margin: 0 20px;
}
/* line 407, ../sass/blocks/_header.scss */
.right-menu ul li a {
  background: none;
  border-color: #fff;
  padding: 0 28px;
}

/* line 416, ../sass/blocks/_header.scss */
.user-info {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  padding: 0;
  text-transform: capitalize;
  word-wrap: break-word;
}
/* line 425, ../sass/blocks/_header.scss */
.user-info:hover {
  text-decoration: none;
  color: #ff5d5d;
}
/* line 429, ../sass/blocks/_header.scss */
.user-info img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  vertical-align: middle;
}
/* line 434, ../sass/blocks/_header.scss */
.user-info img.alignnone, .user-info img.avatar {
  margin: 0 11px 0 0;
}

/* line 440, ../sass/blocks/_header.scss */
.video-js {
  width: auto !important;
  height: auto !important;
}

/* line 1, ../sass/blocks/_footer.scss */
.footer {
  background: #525458;
  width: 100%;
  overflow: hidden;
  /*for FF on Windows 7*/
  display: table-footer-group;
  height: 1%;
}
/* line 7, ../sass/blocks/_footer.scss */
.footer .content-wrapper {
  padding: 50px 10px 15px;
}
/* line 11, ../sass/blocks/_footer.scss */
.footer .footer-widget {
  border-bottom: 1px solid #5a5c60;
}
/* line 14, ../sass/blocks/_footer.scss */
.footer .footer-nav {
  float: left;
}
/* line 17, ../sass/blocks/_footer.scss */
.footer .copyright {
  float: right;
  color: #a5a6a7;
}
@media screen and (max-width: 767px) {
  /* line 17, ../sass/blocks/_footer.scss */
  .footer .copyright {
    float: none;
    text-align: center;
  }
}

/* line 26, ../sass/blocks/_footer.scss */
.footer-widget {
  padding-bottom: 35px;
  margin-bottom: 25px;
  text-align: left;
}
/* line 31, ../sass/blocks/_footer.scss */
.footer-widget > div {
  width: 33.333%;
  float: left;
  padding: 0 4%;
}
/* line 35, ../sass/blocks/_footer.scss */
.footer-widget > div a {
  color: #f8a762;
  text-decoration: none;
}
/* line 38, ../sass/blocks/_footer.scss */
.footer-widget > div a:hover {
  text-decoration: underline;
}
/* line 42, ../sass/blocks/_footer.scss */
.footer-widget > div p {
  color: #ffffff;
}
/* line 45, ../sass/blocks/_footer.scss */
.footer-widget > div:first-child {
  padding: 0 8% 0 0;
}
/* line 47, ../sass/blocks/_footer.scss */
.footer-widget > div:first-child a {
  color: #a2caef;
}
/* line 51, ../sass/blocks/_footer.scss */
.footer-widget > div:last-child {
  padding: 0 0 0 8%;
}
/* line 53, ../sass/blocks/_footer.scss */
.footer-widget > div:last-child a {
  color: #b0d16b;
}
/* line 57, ../sass/blocks/_footer.scss */
.footer-widget > div p {
  margin-bottom: 14px;
  line-height: 30px;
}
@media screen and (max-width: 767px) {
  /* line 31, ../sass/blocks/_footer.scss */
  .footer-widget > div {
    width: 100%;
    float: none;
    margin-bottom: 15px;
    text-align: center;
    padding: 0 !important;
  }
}

/* line 71, ../sass/blocks/_footer.scss */
.footer-nav .widget_nav_menu {
  float: left;
  margin-right: 62px;
}
@media screen and (max-width: 999px) {
  /* line 71, ../sass/blocks/_footer.scss */
  .footer-nav .widget_nav_menu {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 71, ../sass/blocks/_footer.scss */
  .footer-nav .widget_nav_menu {
    float: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 80, ../sass/blocks/_footer.scss */
  .footer-nav .widget_nav_menu li:last-child {
    margin-right: 0;
  }
}
/* line 86, ../sass/blocks/_footer.scss */
.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 90, ../sass/blocks/_footer.scss */
.footer-nav ul li {
  float: left;
  margin-right: 35px;
}
/* line 93, ../sass/blocks/_footer.scss */
.footer-nav ul li a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #a5a6a7;
}
/* line 98, ../sass/blocks/_footer.scss */
.footer-nav ul li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  /* line 70, ../sass/blocks/_footer.scss */
  .footer-nav {
    width: 100%;
    padding: 0;
    float: none !important;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
  }
  /* line 111, ../sass/blocks/_footer.scss */
  .footer-nav ul {
    display: block;
    width: 100%;
  }
  /* line 115, ../sass/blocks/_footer.scss */
  .footer-nav li {
    display: block;
    float: none !important;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  /* line 122, ../sass/blocks/_footer.scss */
  .footer-nav .menu {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  /* line 126, ../sass/blocks/_footer.scss */
  .footer-nav .menu li {
    display: inline-block;
    vertical-align: top;
    width: auto;
  }
}
/* line 134, ../sass/blocks/_footer.scss */
.footer-nav .widget_wysiwyg_widgets_widget {
  float: left;
  margin: -2px 0 0;
}
@media screen and (max-width: 999px) {
  /* line 134, ../sass/blocks/_footer.scss */
  .footer-nav .widget_wysiwyg_widgets_widget {
    float: none;
    padding-top: 10px;
    clear: both;
  }
}
@media screen and (max-width: 767px) {
  /* line 134, ../sass/blocks/_footer.scss */
  .footer-nav .widget_wysiwyg_widgets_widget {
    text-align: center;
  }
}
/* line 145, ../sass/blocks/_footer.scss */
.footer-nav .widget_wysiwyg_widgets_widget li {
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  /* line 145, ../sass/blocks/_footer.scss */
  .footer-nav .widget_wysiwyg_widgets_widget li {
    display: inline-block;
    vertical-align: top;
    width: auto;
  }
}
/* line 152, ../sass/blocks/_footer.scss */
.footer-nav .widget_wysiwyg_widgets_widget li:last-child {
  margin-right: 0;
}
/* line 156, ../sass/blocks/_footer.scss */
.footer-nav .widget_wysiwyg_widgets_widget .fb {
  text-indent: -9999px;
  overflow: hidden;
  background-position: 0 -348px;
  width: 28px;
  height: 28px;
}
/* line 161, ../sass/blocks/_footer.scss */
.footer-nav .widget_wysiwyg_widgets_widget .fb:hover {
  background-position: 0 -300px;
  width: 28px;
  height: 28px;
}
/* line 165, ../sass/blocks/_footer.scss */
.footer-nav .widget_wysiwyg_widgets_widget .tw {
  text-indent: -9999px;
  overflow: hidden;
  background-position: 0 -444px;
  width: 28px;
  height: 28px;
}
/* line 170, ../sass/blocks/_footer.scss */
.footer-nav .widget_wysiwyg_widgets_widget .tw:hover {
  background-position: 0 -396px;
  width: 28px;
  height: 28px;
}

/* line 1, ../sass/pages/_home.scss */
body.home {
  background: #fff;
}
/* line 3, ../sass/pages/_home.scss */
body.home #header {
  background: none;
}

/* line 7, ../sass/pages/_home.scss */
.digital-products-list-big {
  position: relative;
  z-index: 8;
  display: block;
  list-style: none;
  margin: -208px 0 0;
}
/* line 13, ../sass/pages/_home.scss */
.digital-products-list-big .video-js {
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 21, ../sass/pages/_home.scss */
.digital-products-list-big .video-js .vjs-tech {
  bottom: 0;
  top: 0;
  height: auto;
}
@media screen and (max-width: 1099px) {
  /* line 21, ../sass/pages/_home.scss */
  .digital-products-list-big .video-js .vjs-tech {
    width: auto;
    height: 100%;
  }
}
/* line 31, ../sass/pages/_home.scss */
.digital-products-list-big > li {
  min-height: 623px;
  padding: 208px 0 100px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  /* line 31, ../sass/pages/_home.scss */
  .digital-products-list-big > li {
    min-height: 480px;
    padding: 180px 0 50px;
  }
}
/* line 42, ../sass/pages/_home.scss */
.digital-products-list-big .content-wrapper h2 {
  color: #ffffff;
  font-size: 28px;
  line-height: 41px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 10px 0;
}
/* line 50, ../sass/pages/_home.scss */
.digital-products-list-big .content-wrapper h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 55px 0;
}
/* line 58, ../sass/pages/_home.scss */
.digital-products-list-big .content-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 63, ../sass/pages/_home.scss */
.digital-products-list-big .content-wrapper ul li {
  width: 50%;
  float: left;
  padding: 0 6px;
  text-align: left;
}
/* line 68, ../sass/pages/_home.scss */
.digital-products-list-big .content-wrapper ul li:first-child {
  text-align: right;
}
@media screen and (max-width: 767px) {
  /* line 63, ../sass/pages/_home.scss */
  .digital-products-list-big .content-wrapper ul li {
    padding: 0;
  }
}
/* line 76, ../sass/pages/_home.scss */
.digital-products-list-big .content-wrapper .popup-youtube {
  padding: 0 25px 0 39px;
  position: relative;
}
/* line 80, ../sass/pages/_home.scss */
.digital-products-list-big .content-wrapper .popup-youtube:before {
  position: absolute;
  content: "";
  left: 21px;
  top: 20px;
  display: block;
  background-position: 0 -110px;
  width: 9px;
  height: 9px;
}
@media screen and (max-width: 767px) {
  /* line 94, ../sass/pages/_home.scss */
  .digital-products-list-big .wrappper .content-wrapper h2 {
    font-size: 18px;
    line-height: 24px;
  }
  /* line 98, ../sass/pages/_home.scss */
  .digital-products-list-big .wrappper .content-wrapper h4 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  /* line 104, ../sass/pages/_home.scss */
  .digital-products-list-big .wrappper .content-wrapper ul li {
    display: block;
    width: auto;
    float: none;
    margin-bottom: 10px;
  }
  /* line 109, ../sass/pages/_home.scss */
  .digital-products-list-big .wrappper .content-wrapper ul li a {
    display: block;
    text-align: center;
  }
}

/* line 120, ../sass/pages/_home.scss */
.windows-safari .video-js {
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
/* line 124, ../sass/pages/_home.scss */
.windows-safari .video-js object.vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 134, ../sass/pages/_home.scss */
.content-home {
  text-align: center;
  padding-top: 25px;
}
/* line 137, ../sass/pages/_home.scss */
.content-home h2 {
  color: #ff5d5d;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
}
/* line 145, ../sass/pages/_home.scss */
.content-home .popup-with-form {
  background: #ff5d5d;
  padding: 0 58px;
  line-height: 50px;
  margin: 35px auto 100px;
}

/* line 153, ../sass/pages/_home.scss */
.digital-products-list {
  margin: 0 -3px 130px;
  position: relative;
  padding-top: 60px;
}
/* line 158, ../sass/pages/_home.scss */
.digital-products-list:before {
  position: absolute;
  content: "";
  bottom: -78px;
  left: 50%;
  margin-left: -48px;
  width: 96px;
  height: 2px;
  background: #f1f1f6;
}
/* line 169, ../sass/pages/_home.scss */
.digital-products-list li {
  width: 33.33%;
  display: block;
  float: left;
  padding: 3px;
}
/* line 174, ../sass/pages/_home.scss */
.digital-products-list li a {
  display: block;
  position: relative;
  text-align: center;
}
/* line 178, ../sass/pages/_home.scss */
.digital-products-list li a img {
  width: 100%;
  position: relative;
}
/* line 182, ../sass/pages/_home.scss */
.digital-products-list li a .title {
  position: absolute;
  top: 45%;
  z-index: 2;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  display: block;
  width: 100%;
}
/* line 194, ../sass/pages/_home.scss */
.digital-products-list li a:before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background: rgba(255, 93, 93, 0.8);
}
/* line 206, ../sass/pages/_home.scss */
.digital-products-list li a:hover:before {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 169, ../sass/pages/_home.scss */
  .digital-products-list li {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

/* line 218, ../sass/pages/_home.scss */
#list-photo a:before {
  display: block;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 224, ../sass/pages/_home.scss */
#list-photo a:hover:before {
  background: rgba(255, 93, 93, 0.8);
}

/* line 229, ../sass/pages/_home.scss */
.mfp-content {
  max-width: 1280px;
}
/* line 232, ../sass/pages/_home.scss */
.mfp-content .video-container .mfp-close {
  color: white;
}
/* line 235, ../sass/pages/_home.scss */
.mfp-content .video-container #mct-video {
  display: block;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* line 2, ../sass/pages/_product-description.scss */
.single-p-d .content-wrapper {
  max-width: 1000px;
  padding: 20px 90px;
  margin-bottom: 100px;
  border: 1px solid #eff3f5;
  border-radius: 4px;
  color: #575c63;
  font-size: 16px;
  line-height: 30px;
}
@media screen and (max-width: 767px) {
  /* line 2, ../sass/pages/_product-description.scss */
  .single-p-d .content-wrapper {
    padding: 20px 10px;
  }
}
/* line 14, ../sass/pages/_product-description.scss */
.single-p-d .content-wrapper h1, .single-p-d .content-wrapper h2 {
  font-weight: bold;
  text-align: center;
  color: #575c63;
}
/* line 19, ../sass/pages/_product-description.scss */
.single-p-d .content-wrapper h1 {
  text-align: left;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
}
/* line 25, ../sass/pages/_product-description.scss */
.single-p-d .content-wrapper h2 {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 35px;
}
/* line 30, ../sass/pages/_product-description.scss */
.single-p-d .content-wrapper h4 {
  text-align: center;
}
/* line 33, ../sass/pages/_product-description.scss */
.single-p-d .content-wrapper .popup-with-form {
  margin: 0 auto;
}
/* line 36, ../sass/pages/_product-description.scss */
.single-p-d .content-wrapper table {
  max-width: 100%;
  width: 100%;
  text-align: center;
}
/* line 41, ../sass/pages/_product-description.scss */
.single-p-d .content-wrapper table tr td {
  width: 33.333%;
}
@media screen and (max-width: 767px) {
  /* line 41, ../sass/pages/_product-description.scss */
  .single-p-d .content-wrapper table tr td {
    display: block;
    width: 100%;
  }
}
/* line 50, ../sass/pages/_product-description.scss */
.single-p-d .content-wrapper .chosen-container-single {
  min-width: 140px;
}
/* line 53, ../sass/pages/_product-description.scss */
.single-p-d .content-wrapper hr {
  width: 96px;
  border: 1px solid #f1f1f6;
}
/* line 58, ../sass/pages/_product-description.scss */
.single-p-d .course-description {
  padding-top: 60px;
}

/* line 2, ../sass/pages/_lostpassword.scss */
body.lostpassword {
  ext-align: center;
  background: #fff;
}
/* line 5, ../sass/pages/_lostpassword.scss */
body.lostpassword .inner-wrapper {
  text-align: center;
}
/* line 8, ../sass/pages/_lostpassword.scss */
body.lostpassword h1 {
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  /* line 8, ../sass/pages/_lostpassword.scss */
  body.lostpassword h1 {
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
}
/* line 15, ../sass/pages/_lostpassword.scss */
body.lostpassword h4 {
  font-size: 16px;
  line-height: 30px;
  color: #9baaba;
}
/* line 20, ../sass/pages/_lostpassword.scss */
body.lostpassword input {
  max-width: 268px;
}

/* line 26, ../sass/pages/_lostpassword.scss */
body.login {
  ext-align: center;
  background: #fff;
}
/* line 29, ../sass/pages/_lostpassword.scss */
body.login .inner-wrapper {
  text-align: center;
}
/* line 32, ../sass/pages/_lostpassword.scss */
body.login h1 {
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  /* line 32, ../sass/pages/_lostpassword.scss */
  body.login h1 {
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
}
/* line 39, ../sass/pages/_lostpassword.scss */
body.login .page {
  max-width: 696px;
  margin: 0 auto 40px;
}
/* line 43, ../sass/pages/_lostpassword.scss */
body.login .page > p {
  max-width: 270px;
  float: right;
  text-align: left;
  background: #cdd3da;
  padding: 10px;
  color: #ffffff;
  border-radius: 6px;
}
/* line 52, ../sass/pages/_lostpassword.scss */
body.login .page .wrap-registration {
  display: table;
  width: 100%;
  padding: 0 32px;
  color: #9baaba;
  font: 16px/24px "latosemibold", sans-serif;
}
@media screen and (max-width: 767px) {
  /* line 52, ../sass/pages/_lostpassword.scss */
  body.login .page .wrap-registration {
    padding: 0;
  }
}
/* line 61, ../sass/pages/_lostpassword.scss */
body.login .page .wrap-registration .login_image {
  display: table-cell;
  width: 72%;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 0 0 0 15%;
}
@media screen and (max-width: 767px) {
  /* line 61, ../sass/pages/_lostpassword.scss */
  body.login .page .wrap-registration .login_image {
    padding: 0;
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  /* line 78, ../sass/pages/_lostpassword.scss */
  body.login .page #theme-my-login {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  /* line 84, ../sass/pages/_lostpassword.scss */
  body.login .page #theme-my-login {
    width: 100%;
    float: none;
    display: block;
    margin-bottom: 15px;
  }
  /* line 90, ../sass/pages/_lostpassword.scss */
  body.login .page > p {
    width: 100%;
    float: none;
    max-width: 100%;
  }
}
/* line 98, ../sass/pages/_lostpassword.scss */
body.login.page-template-template-login-php .page {
  max-width: 100%;
}
/* line 101, ../sass/pages/_lostpassword.scss */
body.login form p {
  margin-bottom: 12px;
}
/* line 103, ../sass/pages/_lostpassword.scss */
body.login form p input {
  margin-bottom: 0;
}

/* line 111, ../sass/pages/_lostpassword.scss */
.tml-action-links a {
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #9baaba;
}
/* line 116, ../sass/pages/_lostpassword.scss */
.tml-action-links a:hover {
  text-decoration: underline;
}

/* line 121, ../sass/pages/_lostpassword.scss */
.wrap-field-inputs {
  text-align: center;
  font-size: 0;
  margin-bottom: 15px;
}
/* line 125, ../sass/pages/_lostpassword.scss */
.wrap-field-inputs .field-input {
  display: inline-block;
  width: 267px;
  margin: 0 12px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  /* line 132, ../sass/pages/_lostpassword.scss */
  .wrap-field-inputs .field-input {
    width: 100%;
    margin: 0;
    display: block;
  }
}

/* line 140, ../sass/pages/_lostpassword.scss */
.login-form .cptch_block {
  margin: 30px 0 40px;
}
/* line 143, ../sass/pages/_lostpassword.scss */
.login-form .e-btn-login {
  margin-top: 0;
}
/* line 146, ../sass/pages/_lostpassword.scss */
.login-form br {
  display: none;
}
/* line 149, ../sass/pages/_lostpassword.scss */
.login-form [type="submit"] {
  margin-top: 0;
}

/* line 1, ../sass/pages/_pricing.scss */
body.pricing {
  background: #fff;
}
/* line 4, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper h1 {
  border-bottom: 1px solid #f1f1f6;
  padding-bottom: 45px;
  margin-bottom: 13px;
  font-size: 26px;
  font-weight: 32px;
  text-align: center;
}
/* line 12, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table {
  width: 100%;
  max-width: 100%;
  border: none;
  color: #575c63;
}
/* line 19, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table tr:nth-child(even) td {
  background: #fbfbfb;
}
/* line 23, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table tr td {
  border: none;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}
/* line 30, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table tr td:first-child {
  text-align: left;
  padding-left: 40px;
  color: #9baaba;
}
/* line 35, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table tr td:nth-child(1n + 2) {
  width: 17.5%;
  min-width: 140px;
}
/* line 41, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table tr:first-child td {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  padding-left: 18px;
  color: #a1afbe;
}
/* line 50, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table tr.aux td {
  background: none;
  height: 30px;
  padding: 0;
}
/* line 56, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table tr:last-child {
  border-top: 1px solid #f1f1f6;
}
/* line 58, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table tr:last-child td {
  color: #ced4db;
  background: none;
  padding-top: 40px;
}
/* line 62, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table tr:last-child td span {
  color: #ff5d5d;
}
/* line 65, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table tr:last-child td:first-child {
  color: #575c63;
}
/* line 71, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container {
  min-width: 172px;
}
/* line 73, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container .chosen-single {
  border: 1px solid #ff5d5d;
  height: 34px;
}
/* line 76, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container .chosen-single span {
  color: #ff5d5d;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  padding-left: 10px;
}
/* line 85, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container .chosen-drop {
  border-color: #ff5d5d;
}
/* line 89, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container .chosen-results li {
  color: #b8c2cd;
}
/* line 90, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container .chosen-results li.result-selected {
  color: #ff5d5d;
}
/* line 94, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container .chosen-results li:hover {
  color: #575c63;
}
/* line 100, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container .chosen-results {
  padding: 0 0 0 14px;
}
/* line 102, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container .chosen-results li {
  font-size: 16px;
  font-weight: normal;
}
/* line 105, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container .chosen-results li:hover {
  background: none;
}
/* line 110, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container-single .chosen-single div b {
  background: url("../img/chosen-sprite.png") no-repeat 0px 8px;
}
/* line 113, ../sass/pages/_pricing.scss */
body.pricing .content-wrapper table .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 8px;
}

/* line 2, ../sass/pages/_testimonials.scss */
.home .wrapper {
  position: relative;
  overflow: hidden;
}

/* line 7, ../sass/pages/_testimonials.scss */
#testimonial-wrapper {
  background: #f1f1f6;
  margin: 0 -8px;
  position: relative;
  padding-bottom: 30px;
}
/* line 12, ../sass/pages/_testimonials.scss */
#testimonial-wrapper:before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  left: -100%;
  top: 0;
  background: #f1f1f6;
}
/* line 22, ../sass/pages/_testimonials.scss */
#testimonial-wrapper:after {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  right: -100%;
  top: 0;
  background: #f1f1f6;
}
@media screen and (max-width: 767px) {
  /* line 7, ../sass/pages/_testimonials.scss */
  #testimonial-wrapper {
    margin: 0 -10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 36, ../sass/pages/_testimonials.scss */
  #testimonial-wrapper:before, #testimonial-wrapper:after {
    display: none;
  }
}
/* line 41, ../sass/pages/_testimonials.scss */
#testimonial-wrapper h1 {
  color: #575c63;
  margin-bottom: 5px;
  padding-top: 35px;
}
/* line 46, ../sass/pages/_testimonials.scss */
#testimonial-wrapper .testimonial-block {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 40px;
}
/* line 51, ../sass/pages/_testimonials.scss */
#testimonial-wrapper .testimonial-block .testimonial {
  background: #fff;
  border: 1px solid #dfdfe4;
  padding: 15px 30px 5px;
  border-radius: 6px;
}
/* line 57, ../sass/pages/_testimonials.scss */
#testimonial-wrapper .testimonial-block:nth-child(odd) {
  padding-left: 38px;
}
/* line 60, ../sass/pages/_testimonials.scss */
#testimonial-wrapper .testimonial-block:nth-child(even) {
  padding-right: 38px;
}
@media screen and (max-width: 767px) {
  /* line 46, ../sass/pages/_testimonials.scss */
  #testimonial-wrapper .testimonial-block {
    width: 100%;
    display: block;
  }
  /* line 66, ../sass/pages/_testimonials.scss */
  #testimonial-wrapper .testimonial-block:nth-child(odd) {
    padding-left: 0;
  }
  /* line 69, ../sass/pages/_testimonials.scss */
  #testimonial-wrapper .testimonial-block:nth-child(even) {
    padding-right: 0;
  }
}

/* line 76, ../sass/pages/_testimonials.scss */
.t-link-block {
  text-align: right;
}
/* line 79, ../sass/pages/_testimonials.scss */
.t-link-block .liak-all {
  font-size: 14px;
  text-decoration: underline;
  margin-right: 8px;
}
/* line 83, ../sass/pages/_testimonials.scss */
.t-link-block .liak-all:hover {
  text-decoration: none;
}

/* line 88, ../sass/pages/_testimonials.scss */
.testimonial-block {
  padding-bottom: 10px;
  text-align: left;
}
/* line 91, ../sass/pages/_testimonials.scss */
.testimonial-block .testimonial {
  background: #fff;
  border: 1px solid #dfdfe4;
  padding: 15px 30px 5px;
  border-radius: 6px;
}

/* line 98, ../sass/pages/_testimonials.scss */
.testimonial-head {
  border-bottom: 1px solid #ff5d5d;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
/* line 104, ../sass/pages/_testimonials.scss */
.testimonial-head:before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -10px;
  margin-left: -20px;
  background-position: 0 -230px;
  width: 40px;
  height: 20px;
}
/* line 113, ../sass/pages/_testimonials.scss */
.testimonial-head .testimonial-author {
  display: block;
  float: left;
  color: #ff5d5d;
  font-size: 16px;
  line-height: 20px;
}
/* line 120, ../sass/pages/_testimonials.scss */
.testimonial-head .testimonial-school {
  float: right;
  display: block;
  color: #505153;
  line-height: 20px;
}
/* line 125, ../sass/pages/_testimonials.scss */
.testimonial-head .testimonial-school span {
  font-weight: bold;
}
/* line 127, ../sass/pages/_testimonials.scss */
.testimonial-head .testimonial-school span.student-ttl {
  font-weight: normal;
}
@media screen and (max-width: 767px) {
  /* line 127, ../sass/pages/_testimonials.scss */
  .testimonial-head .testimonial-school span.student-ttl {
    display: block;
    text-align: right;
  }
}

/* line 136, ../sass/pages/_testimonials.scss */
.testimonial-content {
  font-style: italic;
  color: #575c63;
  text-align: center;
  font-size: 16px;
  line-height: 23px;
}

/* line 144, ../sass/pages/_testimonials.scss */
body.testimonials #header {
  margin-bottom: 113px;
}
/* line 147, ../sass/pages/_testimonials.scss */
body.testimonials .content-header {
  border-bottom: 1px solid #e9edf1;
  margin-bottom: 30px;
  padding-bottom: 18px;
  padding-top: 0;
}

/* line 154, ../sass/pages/_testimonials.scss */
.testimonials-load-more-link {
  background: #ff5d5d;
  width: 222px;
  text-align: center;
  margin: 20px auto 0;
  display: block;
  margin-bottom: 15px;
}

/* line 3, ../sass/pages/_blog.scss */
.category .inner-wrapper,
.single-post .inner-wrapper {
  background: url(../img/bg-blog.jpg) center 95px no-repeat;
  background-size: 100%;
}
/* line 7, ../sass/pages/_blog.scss */
.category .content-wrapper[role="main"],
.single-post .content-wrapper[role="main"] {
  margin: 128px auto 60px;
  padding: 29px 90px 42px;
  max-width: 1000px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #eff3f5;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  /* line 7, ../sass/pages/_blog.scss */
  .category .content-wrapper[role="main"],
  .single-post .content-wrapper[role="main"] {
    padding: 29px 10px 12px;
  }
}
/* line 19, ../sass/pages/_blog.scss */
.category .content-header,
.single-post .content-header {
  padding-bottom: 17px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9edf1;
  overflow: hidden;
}
/* line 24, ../sass/pages/_blog.scss */
.category .content-header h1,
.single-post .content-header h1 {
  padding: 0;
  margin: 0;
  line-height: 48px;
}
/* line 30, ../sass/pages/_blog.scss */
.category .subscribe-wrapp,
.single-post .subscribe-wrapp {
  overflow: hidden;
}
/* line 32, ../sass/pages/_blog.scss */
.category .subscribe-wrapp p,
.single-post .subscribe-wrapp p {
  margin-bottom: 21px;
}
/* line 35, ../sass/pages/_blog.scss */
.category .subscribe-wrapp p:first-child,
.single-post .subscribe-wrapp p:first-child {
  float: left;
  width: 70.5%;
  margin-right: 2.5%;
}
@media screen and (max-width: 767px) {
  /* line 35, ../sass/pages/_blog.scss */
  .category .subscribe-wrapp p:first-child,
  .single-post .subscribe-wrapp p:first-child {
    float: none;
    width: 100%;
    margin: none;
  }
}
/* line 45, ../sass/pages/_blog.scss */
.category .subscribe-wrapp p:last-child,
.single-post .subscribe-wrapp p:last-child {
  float: right;
  width: 27%;
  padding-top: 26px;
}
@media screen and (max-width: 767px) {
  /* line 45, ../sass/pages/_blog.scss */
  .category .subscribe-wrapp p:last-child,
  .single-post .subscribe-wrapp p:last-child {
    float: none;
    width: 100%;
    padding-top: 0;
  }
}
/* line 55, ../sass/pages/_blog.scss */
.category .subscribe-wrapp input[type="submit"],
.single-post .subscribe-wrapp input[type="submit"] {
  width: 100%;
  border: 1px solid #ff5d5d;
  background: transparent;
  color: #ff5d5d;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 62, ../sass/pages/_blog.scss */
.category .subscribe-wrapp input[type="submit"]:hover,
.single-post .subscribe-wrapp input[type="submit"]:hover {
  color: #fff;
  background: #ff5d5d;
}
/* line 69, ../sass/pages/_blog.scss */
.category .post-category ul,
.single-post .post-category ul {
  padding-top: 1px;
}
/* line 72, ../sass/pages/_blog.scss */
.category .post-category li,
.single-post .post-category li {
  display: inline-block;
  vert-align: top;
  margin-right: 8px;
}
/* line 77, ../sass/pages/_blog.scss */
.category .post-category a,
.single-post .post-category a {
  display: block;
  padding: 2px 15px;
  border: 1px solid #ff5d5d;
  border-radius: 4px;
  line-height: 24px;
}
/* line 83, ../sass/pages/_blog.scss */
.category .post-category a:hover,
.single-post .post-category a:hover {
  text-decoration: none;
  color: #fff;
  background: #ff5d5d;
}
/* line 88, ../sass/pages/_blog.scss */
.category .post-category a.active,
.single-post .post-category a.active {
  font-weight: bold;
}
/* line 93, ../sass/pages/_blog.scss */
.category h1,
.single-post h1 {
  color: #575c63;
  text-align: left;
  border-color: #e9edf1;
  padding-bottom: 19px;
  margin-bottom: 17px;
}
/* line 100, ../sass/pages/_blog.scss */
.category h2,
.single-post h2 {
  margin: 0 0 18px;
  color: #000;
}
/* line 104, ../sass/pages/_blog.scss */
.category input[type="submit"],
.single-post input[type="submit"] {
  margin-top: 4px;
}
/* line 107, ../sass/pages/_blog.scss */
.category .post-info,
.single-post .post-info {
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
}
/* line 111, ../sass/pages/_blog.scss */
.category .post-info p,
.single-post .post-info p {
  margin: 0 0 1px;
}
/* line 115, ../sass/pages/_blog.scss */
.category .before-posts,
.single-post .before-posts {
  margin: 0 0 30px;
}
/* line 118, ../sass/pages/_blog.scss */
.category .post-thumbnail,
.single-post .post-thumbnail {
  float: left;
  max-width: 100px;
  margin: 0 30px 10px 0;
}
@media screen and (max-width: 767px) {
  /* line 118, ../sass/pages/_blog.scss */
  .category .post-thumbnail,
  .single-post .post-thumbnail {
    margin: 0 auto 20px;
    text-align: center;
    float: none;
  }
}
/* line 127, ../sass/pages/_blog.scss */
.category .post-thumbnail img,
.single-post .post-thumbnail img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
/* line 133, ../sass/pages/_blog.scss */
.category .post-body,
.single-post .post-body {
  overflow: hidden;
}
/* line 136, ../sass/pages/_blog.scss */
.category .post,
.single-post .post {
  border: 1px solid #dfe0e5;
  border-radius: 6px;
  padding: 26px 29px;
  margin: 0 0 30px;
}
/* line 142, ../sass/pages/_blog.scss */
.category .read-more,
.single-post .read-more {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
}
/* line 147, ../sass/pages/_blog.scss */
.category .pagination,
.single-post .pagination {
  text-align: center;
  font-size: 16px;
  line-height: 36px;
  padding: 15px 0 1px;
}
/* line 152, ../sass/pages/_blog.scss */
.category .pagination a,
.single-post .pagination a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  min-width: 38px;
  height: 38px;
  padding: 0 14px;
  color: #000;
  border-radius: 26px;
  border: 1px solid transparent;
}
@media screen and (max-width: 767px) {
  /* line 152, ../sass/pages/_blog.scss */
  .category .pagination a,
  .single-post .pagination a {
    margin: 0 6px;
  }
}
/* line 165, ../sass/pages/_blog.scss */
.category .pagination a:hover,
.single-post .pagination a:hover {
  text-decoration: none;
  border-color: #f7f7f7;
}
/* line 170, ../sass/pages/_blog.scss */
.category .pagination span,
.single-post .pagination span {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  border: 1px solid #e0e1e6;
  border-radius: 50%;
  color: #f8984d;
}

/* line 182, ../sass/pages/_blog.scss */
.single-post .content-wrapper[role="main"] {
  padding: 0;
}
/* line 185, ../sass/pages/_blog.scss */
.single-post .post {
  margin: 0;
}
/* line 188, ../sass/pages/_blog.scss */
.single-post .post-image {
  text-align: center;
  margin: 0 0 20px;
}
/* line 191, ../sass/pages/_blog.scss */
.single-post .post-image a,
.single-post .post-image img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
/* line 198, ../sass/pages/_blog.scss */
.single-post .date {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 10px 0;
  color: #b2b3b8;
  font-style: italic;
}
/* line 205, ../sass/pages/_blog.scss */
.single-post .author {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 10px;
  color: #000;
  font-style: italic;
}

/* line 213, ../sass/pages/_blog.scss */
.create-post {
  float: right;
}
@media screen and (max-width: 767px) {
  /* line 213, ../sass/pages/_blog.scss */
  .create-post {
    float: none;
    text-align: center;
  }
}
/* line 219, ../sass/pages/_blog.scss */
.create-post .create-post-link {
  display: inline-block;
  padding: 0 57px;
  border-radius: 6px;
  border: 1px solid #ff5d5d;
  font-size: 16px;
  line-height: 48px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background: #ff5d5d;
}

/* line 233, ../sass/pages/_blog.scss */
.category-blog .content-wrap {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9edf1;
}
/* line 239, ../sass/pages/_blog.scss */
.category-blog #comments h2 {
  font-size: 18px;
  margin-bottom: 0;
}
/* line 243, ../sass/pages/_blog.scss */
.category-blog #comments h3 {
  margin-bottom: 0;
}

/* line 2, ../sass/pages/_school-page.scss */
.school-page .page {
  padding: 130px 0 0;
}
@media screen and (max-width: 767px) {
  /* line 2, ../sass/pages/_school-page.scss */
  .school-page .page {
    padding-top: 50px;
  }
}
/* line 8, ../sass/pages/_school-page.scss */
.school-page .bg-page {
  display: block;
}
@media screen and (max-width: 767px) {
  /* line 8, ../sass/pages/_school-page.scss */
  .school-page .bg-page {
    top: -100px;
  }
}
/* line 14, ../sass/pages/_school-page.scss */
.school-page .content-header {
  margin-bottom: 20px;
}
/* line 16, ../sass/pages/_school-page.scss */
.school-page .content-header h1 {
  float: none;
  padding-bottom: 19px;
  border-bottom: 1px solid #e9edf1;
}
/* line 22, ../sass/pages/_school-page.scss */
.school-page .content-wrapper {
  padding-bottom: 40px;
  color: #000;
}
/* line 25, ../sass/pages/_school-page.scss */
.school-page .content-wrapper h2 {
  margin-bottom: 4px;
  font-size: 23px;
  line-height: 32px;
  text-align: left;
  color: #ff5d5d;
}
/* line 32, ../sass/pages/_school-page.scss */
.school-page .content-wrapper p {
  line-height: 22px;
}
/* line 36, ../sass/pages/_school-page.scss */
.school-page .mss-gallery {
  padding-top: 30px;
  margin: 0 -10px 31px;
  font-size: 0;
  line-height: 0;
}
@media screen and (max-width: 767px) {
  /* line 36, ../sass/pages/_school-page.scss */
  .school-page .mss-gallery {
    padding-top: 20px;
  }
}
/* line 44, ../sass/pages/_school-page.scss */
.school-page .mss-gallery .mss-gallery-item {
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 22px;
}
@media screen and (max-width: 999px) {
  /* line 44, ../sass/pages/_school-page.scss */
  .school-page .mss-gallery .mss-gallery-item {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  /* line 44, ../sass/pages/_school-page.scss */
  .school-page .mss-gallery .mss-gallery-item {
    width: 100%;
  }
}
/* line 59, ../sass/pages/_school-page.scss */
.school-page .mss-gallery .item-content {
  padding: 14px 19px 24px;
  border: 1px solid #dfe0e5;
  border-radius: 4px;
  text-align: center;
}
/* line 65, ../sass/pages/_school-page.scss */
.school-page .mss-gallery .item-content-title {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
/* line 70, ../sass/pages/_school-page.scss */
.school-page .mss-gallery .item-content-title span {
  display: table-cell;
  vertical-align: middle;
}
/* line 76, ../sass/pages/_school-page.scss */
.school-page .mss-gallery-links {
  text-align: center;
  margin-bottom: 133px;
}
@media screen and (max-width: 767px) {
  /* line 76, ../sass/pages/_school-page.scss */
  .school-page .mss-gallery-links {
    margin-bottom: 50px;
  }
}
/* line 82, ../sass/pages/_school-page.scss */
.school-page .mss-gallery-links a {
  display: inline-block;
  vertical-align: top;
  min-width: 270px;
  padding: 11px;
  color: #fff;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  /* line 82, ../sass/pages/_school-page.scss */
  .school-page .mss-gallery-links a {
    display: block;
    min-width: 0px;
    max-width: 270px;
    margin: 0 auto 20px;
  }
}
/* line 95, ../sass/pages/_school-page.scss */
.school-page .mss-gallery-links a:hover {
  text-decoration: none;
  opacity: .8;
}
/* line 100, ../sass/pages/_school-page.scss */
.school-page .mss-gallery-links .blog-link {
  background: #ff5d5d;
}
/* line 103, ../sass/pages/_school-page.scss */
.school-page .mss-gallery-links .gallery-link {
  margin-left: 20px;
  background: #50a6ce;
}
@media screen and (max-width: 767px) {
  /* line 103, ../sass/pages/_school-page.scss */
  .school-page .mss-gallery-links .gallery-link {
    margin-left: auto;
  }
}
/* line 111, ../sass/pages/_school-page.scss */
.school-page .mss_pagination {
  font-size: 0;
  line-height: 0;
  text-align: center;
}
/* line 115, ../sass/pages/_school-page.scss */
.school-page .mss_pagination .page-numbers {
  display: inline-block;
  vertical-align: top;
  min-width: 40px;
  padding: 11px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-left: 13px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000;
}
/* line 127, ../sass/pages/_school-page.scss */
.school-page .mss_pagination .page-numbers:first-child {
  margin-left: 0;
}
/* line 130, ../sass/pages/_school-page.scss */
.school-page .mss_pagination .page-numbers:hover {
  border-color: #f7f7f7;
  text-decoration: none;
  color: #000;
}
/* line 135, ../sass/pages/_school-page.scss */
.school-page .mss_pagination .page-numbers.current {
  border-color: #dfe0e5;
  color: #ff5d5d;
}

/* line 143, ../sass/pages/_school-page.scss */
.sub-menu .popup-with-form {
  line-height: 30px;
}

/* line 2, ../sass/pages/_single-photo.scss */
.single-photo .e-btn, .single-post .e-btn {
  padding: 0 36px;
}
/* line 5, ../sass/pages/_single-photo.scss */
.single-photo .photo-content, .single-post .photo-content {
  text-align: center;
}
/* line 12, ../sass/pages/_single-photo.scss */
.single-photo .nav-block .prev, .single-photo .nav-block .next, .single-post .nav-block .prev, .single-post .nav-block .next {
  display: inline-block;
}
/* line 14, ../sass/pages/_single-photo.scss */
.single-photo .nav-block .prev a, .single-photo .nav-block .next a, .single-post .nav-block .prev a, .single-post .nav-block .next a {
  position: relative;
  display: block;
}
/* line 17, ../sass/pages/_single-photo.scss */
.single-photo .nav-block .prev a:before, .single-photo .nav-block .next a:before, .single-post .nav-block .prev a:before, .single-post .nav-block .next a:before {
  position: absolute;
  top: 0;
}
/* line 23, ../sass/pages/_single-photo.scss */
.single-photo .nav-block .prev, .single-post .nav-block .prev {
  float: left;
}
/* line 25, ../sass/pages/_single-photo.scss */
.single-photo .nav-block .prev a, .single-post .nav-block .prev a {
  padding-left: 15px;
}
/* line 27, ../sass/pages/_single-photo.scss */
.single-photo .nav-block .prev a:before, .single-post .nav-block .prev a:before {
  left: 0;
  content: "<";
}
/* line 33, ../sass/pages/_single-photo.scss */
.single-photo .nav-block .next, .single-post .nav-block .next {
  float: right;
}
/* line 35, ../sass/pages/_single-photo.scss */
.single-photo .nav-block .next a, .single-post .nav-block .next a {
  padding-right: 15px;
}
/* line 37, ../sass/pages/_single-photo.scss */
.single-photo .nav-block .next a:before, .single-post .nav-block .next a:before {
  right: 0;
  content: ">";
}
/* line 44, ../sass/pages/_single-photo.scss */
.single-photo .comment-form, .single-post .comment-form {
  padding-top: 20px;
}
/* line 47, ../sass/pages/_single-photo.scss */
.single-photo .form-submit, .single-post .form-submit {
  text-align: center;
}
/* line 50, ../sass/pages/_single-photo.scss */
.single-photo .comment-form input[type=submit], .single-post .comment-form input[type=submit] {
  margin: 0 auto !important;
  background: #929292;
}
/* line 54, ../sass/pages/_single-photo.scss */
.single-photo .mch-comment, .single-post .mch-comment {
  border: 1px solid #e2e5e8;
  padding: 28px;
  margin: 28px 0;
  border-radius: 3px;
}
/* line 59, ../sass/pages/_single-photo.scss */
.single-photo .mch-comment .mch-comment-content, .single-post .mch-comment .mch-comment-content {
  padding-bottom: 12px;
}
/* line 62, ../sass/pages/_single-photo.scss */
.single-photo .mch-comment .mch-comment-info, .single-post .mch-comment .mch-comment-info {
  padding: 14px 0 0 0;
  border-top: 1px solid #e2e5e8;
  margin: 0 0 -10px;
  font-size: 14px;
  color: #c6c8ca;
}
/* line 70, ../sass/pages/_single-photo.scss */
.single-photo .mch-comment-author, .single-post .mch-comment-author {
  color: #a2caef;
}
/* line 73, ../sass/pages/_single-photo.scss */
.single-photo .mch-comment-like-block, .single-post .mch-comment-like-block {
  float: right;
}
/* line 76, ../sass/pages/_single-photo.scss */
.single-photo .mch-like-comment, .single-post .mch-like-comment {
  text-decoration: none;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: #e0e5ea;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 18px;
}
/* line 87, ../sass/pages/_single-photo.scss */
.single-photo .mch-like-comment:hover, .single-post .mch-like-comment:hover {
  background: #707274;
}
/* line 91, ../sass/pages/_single-photo.scss */
.single-photo .like-dec, .single-post .like-dec {
  margin-right: 7px;
}
/* line 94, ../sass/pages/_single-photo.scss */
.single-photo .like-inc, .single-post .like-inc {
  margin-left: 7px;
}
/* line 97, ../sass/pages/_single-photo.scss */
.single-photo .comment-likes-count, .single-post .comment-likes-count {
  font: 16px/19px latosemibold;
}

/* line 102, ../sass/pages/_single-photo.scss */
.create-post .e-btn {
  background-color: #929292;
}
