/* RESET CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, ins, kbd, q,
small, strike, strong, sub, sup,
ol, ul, li, form, label, legend,
caption, tbody, tfoot, thead {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

h2{
    font-size: 18px;
    cursor: default;
    color: #2ea3ed;
    font-family: 'Roboto';
    margin-bottom:10px;
}
:focus {
    outline: 0;
}

html {
    
}

body {
    line-height: 1;
    color: #000;
}

img {
    vertical-align: top;
}

ol, ul {
    list-style: none;
    margin:0;
    padding:0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

th, td {
	text-align: left;
	font-weight: normal;
}

td, 
td img {
	vertical-align: top;
}

a,
button {
	outline: none;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

textarea {
    resize: none;
}

select, 
input, 
textarea, 
button {
	margin:0px;
	padding: 0px;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.clear {
	clear:both;
}

* html .clearfix { 
	zoom: 1;
}

*:first-child + html .clearfix { 
	zoom: 1;
}

input[type="submit"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
	padding: 0;
	border: 0 none;
	-moz-box-sizing:content-box;
}
/* RESET CSS */

/* FONTS */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(d-QWLnp4didxos_6urzFtg.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(grlryt2bdKIyfMSOhzd1eA.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(vxNK-E6B13CyehuDCmvQvw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(iE8HhaRzdhPxC93dOdA05z8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(biUEjW7P-lfzIZFXrcy-wQ.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(owYYXKukxFDFjr0ZO8NXhz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(b9QBgL0iMZfDSpmcXcE8nDe1_JO-tKU0DX-oOxNOeLI.woff) format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(Zd2E9abXLFGSr9G3YK2MsO3ikv6SQm_yYbVf3nddkGw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(b9QBgL0iMZfDSpmcXcE8nBKwp2topvuiF0zixBsDXDo.woff) format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(mg0cGfGRUERshzBlvqxeAJq71tKx3-6xT_AfMSM9rug.woff) format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(BP5K8ZAJv9qEbmuFp8RpJQqS5meh96WWuruvum-IKnk.woff) format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(mg0cGfGRUERshzBlvqxeAAgZhTLOWytQo7kSNu-ehSU.woff) format('woff');
}

/* COMMON.CSS */
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0px;
    margin: 0px;
    background: #1f1f1f;
    height: 100%;
    min-width: 1024px;
    overflow: auto;
}

.wrapper {
    min-height: 100%;
}

.wrap {

}

.header_wrap {
    width: 100%;
    height: 46px;
    background: none no-repeat scroll 0px 0px #1f1f1f;
    z-index: 3;
    position: relative;
}

.header_inner {
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
}

.logo_wrap {
    float: left;
}

.logo_wrap img {
    position: relative;
    top: 8px;
}

/* slider style */
.slider_top_wrap {
    height: 560px;
    width: 100%;
}

.slider_body_wrap {
    position: relative;
}

.slider_right,
.slider_left {
    cursor: pointer;
    position: absolute;
    height: 107px;
    width: 49px;
    top: 50%;
    margin-top: -54px;
    z-index: 10;
}

.slider_right {
    right: 0px;
    background: url("../img/slider_control_right.png") no-repeat scroll 0px 0px transparent;
}

.slider_left {
    left: 0px;
    background: url("../img/slider_control_left.png") no-repeat scroll 0px 0px transparent;
}

.slider_left:hover {
	background: url("../img/slider_control_left_hover.png") no-repeat scroll 0px 0px transparent;
}

.slider_right:hover {
	background: url("../img/slider_control_right_hover.png") no-repeat scroll 0px 0px transparent;
}

.slider_wrap {
    position: relative;
    overflow: hidden;
}

.slider_fix {
    position: relative;
    height: 560px;
}

.slider_block {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.slider_block.active {
    display: block;
    z-index: 2;
}

.slider_block img {
    max-width: 100%;
}

.slider_block_width_fix {
    position: absolute;
    left: 50%;
    width: 1024px;
    margin-left: -512px;
}

.slider_block_h1 {
    background: url("../img/h1_bg.png") repeat scroll 0px 0px transparent;
    position: absolute;
    right: 0px;
    top: 65px;
    max-width: 662px;
    padding: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
	
}

.slider_block_h1 h1, .slider_block_h1 h2 {
    font-size: 45px;
    color: #fff;
    cursor: default;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: left;
	line-height: 1;
}

.slider_block_full {
    background: url("../img/top_button_gradient.png") no-repeat scroll 0px 0px #ff9c00;
    position: absolute;
    right: 0px;
    bottom: -98px;
    font-size: 24px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    width: 248px;
    height: 85px;
    line-height: 85px;
    -khtml-box-shadow: 0px 1px 4px #666;
    -webkit-box-shadow: 0px 1px 4px #666;
    -moz-box-shadow: 0px 1px 4px #666;
    box-shadow: 0px 1px 4px #666;
	text-transform: uppercase;
}

.slider_block_full:hover {
	background: url("../img/take_free_main.png") no-repeat scroll 0px 0px #ff9c00;
}

/* header navigation */
.header_navigator {
    position: absolute;
    left: 50%;
    width: 650px;
    text-align: center;
    top: 0px;
    margin-left: -300px;
    cursor: default;
	z-index: 1;
}

.header_navigator a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    line-height: 46px;
    margin: 0px 5px;
    padding: 0px 10px;
    font-size: 14px;
    display: inline;
    display: inline-block;
}
.header_navigator a.active:hover {
	color: #ffffff;
}
.header_navigator a:hover {
	color: #ff9c00;
}

.header_navigator a.active {
    background: #5aa6ee;
}

.header_buttons_wrap {
    float: right;
  
}

.header_buttons_wrap div {
    float: right;
    cursor: pointer;
	position: relative;
	z-index: 2;
}

.header_button_twitter {
    background: url("../img/top_twitter.png") no-repeat scroll center center transparent;
    height: 46px;
    width: 46px;
}

.header_button_twitter:hover {
	background: url("../img/top_twitter_hover.png") no-repeat scroll center center transparent;
}

.header_button_facebook {
    background: url("../img/top_facebook.png") no-repeat scroll center center transparent;
    height: 46px;
    width: 46px;
}

.header_button_facebook:hover {
	 background: url("../img/top_facebook_hover.png") no-repeat scroll center center transparent;
}

.header_button_reg,
.header_button_log {
    line-height: 46px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px 25px;
}

.header_button_reg,
.header_button_log_out {
    line-height: 46px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px 25px;
}
.header_button_reg {
    background-color: #303030;
}

.header_button_log {
    background-color: #5aa6ee;
}

.header_button_log_out {
    background-color: #5aa6ee;
}

/* content style */
.content_wrap {
    background: none no-repeat scroll 0px 0px #f5f5f5;
    width: 100%;
}

.content_inner {
    width: 650px;
    margin: 0px auto;
    padding: 77px 0px 71px;
}

/* video wrap */
.video_block_wrap {

}

.video_block_left {
    float: left;
    width: 232px;
}

.video_block_right {
    float: left;
    padding-left: 45px;
    width: 370px;
}

.video_block_icon {
    width: 232px;
    height: 134px;
    background: none no-repeat scroll 0px 0px #e7e7e7;
}

.video_block_icon_wrap {
    background: url("../img/play_video.png") no-repeat scroll center 23px transparent;
    height: 90px;
}

.video_block_text {
    text-align: center;
    text-transform: uppercase;
    color: #555555;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-top: 5px;
}

.video_title {

}

.video_title a {
    color: #555555;
    font-size: 34px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.video_full_wrap {
    margin-top: 29px;
}

.video_full_link {
    float: left;
    background: #5aa6ee;
    color: #ffffff;
    font-size: 14px;
    width: 103px;
    text-align: center;
    line-height: 37px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.video_full_text {
    float: left;
    background: #e7e7e7;
    color: #555555;
    width: 247px;
    line-height: 37px;
    text-align: center;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.content_shadow {
    background: url("../img/shadow_content.png") no-repeat scroll 0px 0px transparent;
    height: 15px;
    margin: 55px 0px;
}


/* step2 */
.bl_text_info_main,
.bl_text_info {
    font-size: 16px;
    cursor: default;
    color: #303030;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    width: 690px;
    margin: 0px auto;
    line-height: 18px;
}

.bl_text_info_main {
    margin-top: 65px;
}

.bl_text_info {
    margin-top: 30px;
}

.bl_text_info_main span,
.bl_text_info span {
    color: #2ea3ed;
}

.bl_form_feedback_wrap {
    width: 689px;
    margin: 64px auto 0px;
}

.bl_form_feedback_left {
    width: 441px;
    height: 175px;
    float: left;
    background: #f5f5f5;
    border-radius: 3px;
}

.bl_form_feedback_right {
    float: left;
    padding-left: 21px;
    width: 226px;
}

.bl_form_profile {
    float: left;
    margin-top: 30px;
    margin-left: 34px;
}

.bl_form_profile_photo {
    padding-bottom: 17px;
}

.bl_form_profile_photo img {
    width: 90px;
    height: 90px;
}

.bl_form_profile_name {
    font-size: 14px;
    color: #2ea3ed;
    cursor: default;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
}

.bl_feedback_timebox_wrap {
    float: left;
    margin-top: 38px;
    cursor: default;
    font-family: 'Roboto';
    font-weight: 300;
    cursor: default;
    color: #303030;
    font-size: 27px;
    width: 245px;
    margin-left: 44px;
    text-align: center;
    line-height: 30px;
}

.bl_feedback_timebox_wrap span {
    font-weight: 900;
}

.bl_feedback_timebox_wrap span.mormal {
    font-weight: 300;
}

.bl_feedback_timebox_links {
    float: left;
    margin-left: 44px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    cursor: default;
    color: #303030;
    font-size: 14px;
    margin-top: 27px;
    width: 245px;
}

.bl_feedback_timebox_links select {
    border: 1px solid #999;
    background: transparent;
}

.bl_feedback_timebox_links select:first-child {
    margin-right: 5px;
}

.bl_feedback_timebox_links select + select {
    margin-left: 5px;
}

.bl_feedback_timebox_links a {
    color: #2ea3ed;
    font-size: 14px;
    border-bottom: 1px dashed #2ea3ed;
    cursor: pointer;
}

.bl_feedback_textarea {
    width: 193px;
    height: 144px;
    resize: none;
    border: 1px solid #d6d6d6;
    border-bottom: 0px;
    box-shadow: 0px -1px 0px #aeaeae;
    background: #eaeaea;
    border-radius: 8px;
    padding: 15px 16px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #818080;
    font-size: 14px;
    margin-bottom: 28px;
}

.bl_feedback_textarea:focus {
	border: 1px solid #5aa6ee;
	color: #1f1f1f;
	box-shadow:none;
}

.bl_feedback_textarea.focus {
    color: #666;
}

.button_submit_feedback {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    text-align: center;
    width: 226px;
    height: 42px;
    line-height: 42px;
    background: url("../img/gr_free_lesson.png") no-repeat scroll 0px 0px #ffa312;
    cursor: pointer;
    float: right;
    text-transform: uppercase;
    cursor: text;
    overflow: hidden;
    overflow-y: auto;
    cursor: pointer;
}


/* how its works */
.hw_title {
    color: #555555;
    font-size: 34px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 53px;
    cursor: default;
}

.hw_steps_wrap {

}

.hw_step_wrap {
    width: 205px;
    height: 144px;
    background: none no-repeat scroll right top #56a7f3;
    float: left;
    margin-right: 17px;
    position: relative;
}

.hw_step_wrap.step1 {
    background-image: url("../img/step_1.png");
}

.hw_step_wrap.step2 {
    background-image: url("../img/step_2.png"); 
}

.hw_step_wrap.step3 {
    background-image: url("../img/step_3.png");
}

.hw_step_wrap span {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background: none no-repeat scroll 0px 0px #72b4f3;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    cursor: default;
}

.hw_step_wrap.last {
    margin-right: 0px;
}

.hw_step_text {
    font-size: 24px;
    cursor: default;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: left;
    position: absolute;
    bottom: 27px;
    left: 15px;
    text-transform: uppercase;
    color: #fff;
    width: 180px;
}

.hw_button_get_lesson {
    width: 649px;
    height: 85px;
    line-height: 85px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background: url("../img/hw_button_bg.png") no-repeat scroll 0px 0px #ff9c00;
    margin-top: 16px;
    font-size: 24px;
}

.hw_button_get_lesson:hover {
	background-image: url('../img/main_free.png');
}

/* slider bottom */
.slider_bottom_wrap {
    background: url("../img/footer_slider_bg.png") no-repeat scroll 0px 0px transparent;
    background-size: cover;
    height: 290px;
    width: 100%;
}

.slider_bottom_inner_wrap_fix {
    width: 800px;
    margin: 0px auto;
    position: relative;
    height: 290px;
}

.slider_bottom_left,
.slider_bottom_right {
    cursor: pointer;
    position: absolute;
    top: 0px;
    height: 85px;
    width: 33px;
    top: 50%;
    margin-top: -42px;
}

.slider_bottom_left {
    left: 0px;
    background: url("../img/slider_bottom_left.png") no-repeat scroll 0px 0px transparent;
}

.slider_bottom_left:hover {
	background: url("../img/slider_bottom_left_hover.png") no-repeat scroll 0px 0px transparent;
}

.slider_bottom_right {
    right: 0px;
    background: url("../img/slider_bottom_right.png") no-repeat scroll 0px 0px transparent;
}

.slider_bottom_right:hover {
	 background: url("../img/slider_bottom_right_hover.png") no-repeat scroll 0px 0px transparent;
}  

.slider_bottom_fix_wrap {
    height: 290px;
    margin: 0 auto;
    position: relative;
    width: 687px;
    overflow: hidden;
}

.slider_bottom_fix {
    position: relative;
}

.slider_bottom_block {
    position: absolute;
    left: 0px;
    top: 60px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    text-shadow: 0px 1px 0px #000;
    padding: 21px 21px;
    background: url("../img/footer_slider_inner_bg.png") repeat scroll 0px 0px transparent;
    display: none;
    width: 645px;
    line-height: 20px;
}


.slider_bottom_block > div {
    margin-top: 25px;
}

.slider_bottom_block.active {
    display: block;
}

/* footer content */
.footer_content_wrap {
    height: 295px;
    background: none no-repeat scroll 0px 0px #1f1f1f;
}

.footer_content_inner {
    width: 1130px;
    margin: 0px auto;
}

.fblock_wrap {
    background: none no-repeat scroll center 50px transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    cursor: default;
    color: #9f9f9f;
    text-transform: uppercase;
    font-size: 14px;
    float: left;
    padding-top: 110px;
    line-height: 18px;
}

.fblock_wrap.fblock_1 {
    width: 325px;
    background-image: url("../img/footer_block_1.png");
    margin-right: 130px;
}

.fblock_wrap.fblock_2 {
    width: 237px;
    background-image: url("../img/footer_block_2.png");
    margin-right: 120px;
}

.fblock_wrap.fblock_3 {
    width: 315px;
    background-image: url("../img/footer_block_3.png");
}

.fblock_link_footer {
    margin-top: 10px;
}

.fblock_link_footer a {
    color: #56a7f3;
}

/* form subscribe */
.form_subscribe_wrap {

}

.form_subscribe_wrap input[type="text"],
.form_subscribe_wrap textarea {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background: none no-repeat scroll 0px 0px #ececec;
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
    width: 221px;
    color: #9f9f9f;
    font-size: 14px;
    padding: 5px 8px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	border: 1px solid #1f1f1f;
}

.form_subscribe_wrap input[type="text"]:focus ,
.form_subscribe_wrap textarea:focus {
	border: 1px solid #5aa6ee;
}

.form_subscribe_wrap input[type="text"].focus,
.form_subscribe_wrap textarea.focus {
    color: #333;
}

.form_subscribe_wrap textarea {
    resize: none;
    margin-top: 8px;
    height: 39px;
    overflow: hidden;
}

.form_subscribe_button {
    height: 31px;
    margin-top: 11px;
}

.form_subscribe_button button {
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 107px;
    height: 31px;
    line-height: 31px;
    cursor: pointer;
    background-image: url('../img/send.png');
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #f5f5f5;
    font-size: 14px;
    float: right;
}

.form_subscribe_button button:hover {
	 background-image: url('../img/send_hover.png');
}

/* footer */
.footer_fix {
    height: 42px;
}

.footer_wrap {
    margin-top: -42px;
    position: relative;
    z-index: 1;
    height: 42px;
    background: none no-repeat scroll 0px 0px #282828;
}

.footer_inner {
    width: 100%;
}

.footer_coop {
    float: left;
    margin-left: 49px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #9f9f9f;
    cursor: default;
    text-transform: uppercase;
    line-height: 42px;
}

.footer_navigation {
    float: right;
    margin-right: 49px;
    cursor: default;
}

.footer_navigation a {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #9f9f9f;
    cursor: pointer;
    line-height: 42px;
    margin-left: 15px;
}

/* modal */
.modal_wrap {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    background: url("../img/modal_bg.png") repeat scroll 0px 0px transparent;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    cursor: pointer;
}

.modal_body {
    width: 637px;
    margin: 0px auto 20px;
    background: none no-repeat scroll 0px 0px #ffffff;
    position: relative;
    padding: 41px 0px 48px;
    cursor: auto;
}

.modal_close {
    background: url("../img/modal_close.png") no-repeat scroll 0px 0px transparent;
    height: 19px;
    width: 19px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.modal_title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    color: #555555;
    text-align: center;
    cursor: default;
}

.modal_title span {
    color: #5aa6ee;
}

.modal_form_wrap {
    width: 430px;
    margin: 48px auto 0px;
}

.modal_form_wrap_welcome {
    margin: 18px auto 0px;
    font: 300 18px/1.2 "Roboto Condensed", sans-serif;
	line-height: 1.5;
    padding: 0px 40px;
}


.modal_form_wrap input[type="text"] {
    color: #bdbdbd;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding: 12px 17px;
    margin: 0px;
    border: 0px;
    background: none no-repeat scroll 0px 0px #ececec;
    border-radius: 4px;
    width: 396px;
    text-transform: uppercase;
	border: 1px solid #ffffff;
}

.modal_form_wrap input[type="text"]:focus ,
.modal_form_wrap input[type="password"]:focus  {
	border: 1px solid #64abee;
	color: #555555;
}

.modal_form_wrap input[type="password"] {
    color: #bdbdbd;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding: 12px 17px;
    margin: 0px;
    border: 0px;
    background: none no-repeat scroll 0px 0px #ececec;
    border-radius: 4px;
    width: 396px;
    text-transform: uppercase;
	border: 1px solid #ffffff;
}

.modal_form_wrap_error {
	position:absolute;
	width: 430px;
	left: 105px;
	top: 75px;
	display:none;
}

.modal_form_wrap_sucessfully {
	position:absolute;
	width: 430px;
	left: 105px;
	top: 75px;
	display:none;
}

.modal_form_wrap input[type="text"].focus {
    text-transform: none;
    color: #666;
}

.modal_form_wrap input[type="password"].focus {
    text-transform: none;
    color: #666;
}


.modal_form_wrap > div {
    margin-top: 11px;
}

.modal_form_wrap > div:first-child {
    margin-top: 0px;
}

div.modal_form_buttons {
    height: 57px;
    margin-top: 26px;
}

.link_button {
    float: right;
    font-size: 16px;
    color: #5aa6ee;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    cursor: pointer;
    border-bottom: 1px dashed #2ea3ed;
    padding-bottom: 2px;
    margin: 19px 10px;
}

.link_button:hover {
    border-bottom: 0px;
}

.button_form {
    float: right;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    width: 180px;
    height: 57px;
    line-height: 57px;
    background: url("../img/btn_form_gradient.png") no-repeat scroll 0px 0px #5aa6ee;
    cursor: pointer;
}

/* content */
.content_big_inner {
    width: 960px;
    margin: 0px auto;
}

.content_text {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /*text-align: center;*/
    cursor: default;
    padding: 56px 0px 81px;
}

.content_text a {
    color: #2ea3ed;
    cursor: pointer;
}

/* expert */
.expert_panel_wrap {
    width: 980px;
    margin: 0px auto;
    padding-bottom: 108px;
}

.expert_wrap {
    width: 472px;
    height: 257px;
    margin-right: 17px;
    margin-bottom: 18px;
    background: #ffffff;
    float: left;
}

.expert_wrap.two {
    margin-right: 0px;
}

.expert_photo {
    float: left;
    width: 211px;
    height: 257px;
}

.expert_photo img {
    vertical-align: top;
}

.expert_info {
    float: left;
    width: 243px;
    height: 237px;
    padding: 20px 0px 0px 18px;
}

.expert_info > a {
    display: inline;
    display: inline-block;
}

.expert_title {
    font-size: 18px;
    cursor: default;
    color: #2ea3ed;
    font-family: 'Roboto';
    font-weight: bold;
	cursor: pointer;
}


.expert_title a {
	color: #2ea3ed;
}

.expert_text {
    color: #1f1f1f;
    font-size: 14px;
    cursor: default;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 23px 0px 22px;
    line-height: 16px;
}

.expert_tags_wrap {
    font-family: 'Roboto';
    font-weight: 300;
    cursor: default;
    font-size: 12px;
}

.expert_tag {
    font-size: 12px;
    color: #9c9c9c;
    margin-top: 8px;
}

.expert_tag:first-child {
    margin-top: 0px;
}

.expert_tag span {
    color: #2ea3ed;
}

.book_lesson {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    width: 226px;
    height: 42px;
    line-height: 42px;
    background: url("../img/gr_free_lesson.png") no-repeat scroll 0px 0px #ffa312;
    margin-top: 33px;
    text-transform: uppercase;
}

.book_lesson:hover {
	 background: url("../img/expert_free_hover.png") no-repeat scroll 0px 0px #ffa312;
}

.expert_notice {
    background: url("../img/expert_notice.png") no-repeat scroll right bottom #56a7f3;
    width: 472px;
    height: 257px;
    float: left;
    cursor: pointer;
    margin-bottom: 18px;
}

.expert_notice_text {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 48px;
    margin-top: 60px;
}

.expert_notice_text + .expert_notice_text {
    margin-top: 40px;
}

/**/
.content_text_two {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    cursor: default;
    padding: 76px 0px 17px;
}

.content_text_two a {
    color: #2ea3ed;
    cursor: pointer;
}

.content_suptext {
    color: #949494;
    font-size: 14px;
    cursor: default;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
	margin-bottom: 20px;
}

.content_search_wrap {
    text-align: center;
    width: 566px;
    padding: 78px 0px 64px;
    margin: 0px auto;
}

.content_search_wrap input[type="text"] {
    background: url("../img/search_filter.png") no-repeat scroll 520px center #eaeaea;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #a2a2a2;
    font-size: 24px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 500px;
    padding: 9px 20px;
    padding-right: 46px;
    border-top: 1px solid #aeaeae;
    border-radius: 30px;
    box-shadow: 0px 2px 1px #d6d6d6 inset;
    text-transform: uppercase;
}

.content_search_wrap input[type="text"]:focus {
	border: 1px solid #5aa6ee;
	background-color: #ffffff;
	box-shadow: none;
	
}

.content_search_wrap input[type="text"].focus {
    color: #333;
    text-transform: none;
}

/* filter category */
.content_filter_category {
    width: 789px;
    margin: 0px auto;
    padding: 0px 0px 27px;
}

.content_filter_category div {
    float: left;
    width: 128px;
    height: 35px;
    padding-top: 20px;
    cursor: pointer;
    background: #ffffff;
    margin-right: 4px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #949494;
    font-size: 14px;
    box-shadow: 0px 1px 1px #e7e7e7;
}

.content_filter_category div.last {
    margin-right: 0px;
}

.content_filter_category div.big {
    padding-top: 12px;
    height: 43px;
}

.content_filter_category div.active {
    background: #303030;
    color: #ffffff;
    box-shadow: 0px 0px 0px;
}


/* STEPS TABS */
.steps_tabs_wrap {
    height: 65px;
    margin-top: 35px;
}

.steps_tab {
    color: #ffffff;
    cursor: default;
    text-align: left;
    font-size: 24px;
    text-transform: uppercase;
    float: left;
    background: #e4e3e3;
    height: 65px;
    line-height: 65px;
    padding: 0px 40px;
    width: 420px;
    position: relative;
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

.steps_tab.active {
    color: #2ea3ed;
    background: #f5f5f5;
}

.steps_tab div {
    position: absolute;
    top: 0px;
    height: 65px;
    width: 14px;
}

.steps_tab.active:first-child div {
    background: url("../img/step_right.png") no-repeat scroll 0px 0px transparent;
    right: 0px;
}

.steps_tab + .steps_tab.active div {
    background: url("../img/step_right_active.png") no-repeat scroll 0px 0px transparent;
    left: -14px;
}

.steps_body_wrap {
    position: relative;
}

.steps_body {
    position: relative;
    display: none;
    width: 1000px;
}

.steps_body.active {
    display: block;
}


.modal_wrap_big .modal_body {
    width: 1000px;
}

#welcomes_popap .modal_body {
    width: 780px;
}


/* book lessons */
.book_lessons_wrap {
    padding-top: 27px;
}

.book_lessons_col {
    float: left;
}

.col1 {
    width: 190px;
}

.col2 {
    width: 604px;
}

.col3 {
    width: 206px;
}

.book_lessons_profile_wrap {
    padding: 0px 0px 0px 39px;
    width: 100px;
}

.book_lessons_profile_title {
    color: #303030;
    font-size: 14px;
    cursor: default;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: left;
    padding: 18px 0px 12px;
}

.book_lessons_profile_tags {
    border-top: 1px solid #edecec;
    padding: 12px 0px;
}

.book_lessons_profile_tags div {
    color: #2ea3ed;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 300;
    cursor: default;
    padding: 4px 0px;
}

.book_lessons_profile_tags div span {
    color: #acacac;
}

/* time box */
.bl_wrap {

}

.bl_header {
    width: 274px;
    margin: 0px auto;
    position: relative;
    height: 28px;
    padding-bottom: 24px;
}

.bl_prev,
.bl_next{
    width: 15px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    top: 0px;
}

.bl_prev a,
.bl_next a {
    width: 15px;
    height: 28px;
	display: block;
}


.bl_prev {
    left: 0px;
    background: url("../img/bl_left.png") no-repeat scroll 0px 0px transparent;
}

.bl_next {
    right: 0px;
    background: url("../img/bl_right.png") no-repeat scroll 0px 0px transparent;
}

.bl_title {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    cursor: default;
    text-align: center;
    font-size: 14px;
    color: #303030;
    height: 28px;
    line-height: 28px;
}

.bl_time_cols_wrap {

}

.bl_time_cols {
    height: 36px;
}

.bl_time_cols:first-child .bl_time_col {
    margin-top: 0px;
}

.bl_time_col:first-child {
    margin-left: 0px;
}

.bl_time_col {
    width: 120px;
    height: 35px;
    float: left;
    background: #d9d9d9;
    margin-top: 1px;
    margin-left: 1px;
    color: #303030;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    cursor: pointer;
}

td.top-date {
	width: 120px;
    height: 35px;
	background: #303030;
	color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
	border-left: 1px solid #fff;
}


td.row_style {
	width: 120px;
    height: 35px;
    background: #d9d9d9;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
    color: #303030;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

.bl_time_col.full {
    width: 592px;
    background: url("../img/next_bl_col.png") no-repeat scroll 585px center #f5f5f5;
    text-align: left;
    padding-left: 12px;
}

.bl_time_col.full.down {
    background: url("../img/down_bl_col.png") no-repeat;
    background-position: 583px center;
}

.bl_time_col.active:hover {
    background: #2ea3ed;
}
.calendar_block_bottom{
    display:none;
}
.calendar_block_bottom .bl_time_col:hover {
    background: #2ea3ed;
    color: #ffffff;
}
.calendar_block_bottom .bl_time_col:hover a{
    color: #ffffff;
}


.bl_time_col div.bl_na {
    border-left: 5px solid #ff0000;
    background: #303030;
    color: #fff;
}

.bl_time_col div.bl_taken {
    border-left: 5px solid #ff9c00;
    background: #303030;
    color: #fff;
}

.bl_time_cols_header {
    height: 39px;
}

.bl_time_cols_header .bl_time_col {
    color: #fff;
    background: #303030;
}

.bl_timenow_wrap {
    width: 135px;
    margin: 0px auto;
}

.bl_timenow_days {

}

.bl_timenow_days div {
    cursor: default;
    text-align: center;
    font-family: 'Roboto';
    color: #303030;
}

.bl_timenow_days div:first-child {
    font-size: 70px;
    font-weight: bold;
}

.bl_timenow_days div + div {
    font-size: 25px;
    font-weight: 300;
}

.bl_timenow_time {
    color: #303030;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    font-size: 36px;
    cursor: default;
    margin-top: 16px;
    padding-top: 24px;
    border-top: 1px solid #edecec;
}

.bl_text_table {
    color: #2ea3ed;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    cursor: default;
    text-align: left;
    margin-top: 16px;
}

.bl_button_wrap {
    padding-top: 30px;
}

.bl_button {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    text-align: center;
    width: 226px;
    height: 42px;
    line-height: 42px;
    background: url("../img/gr_free_lesson.png") no-repeat scroll 0px 0px #ffa312;
    cursor: pointer;
    float: right;
    text-transform: uppercase;
}

/* content table */
.content_table_lessons {
    width: 789px;
    margin: 0px auto;
}

.content_tr_lessons {
    height: 36px;
}

.content_tr_lessons > div {
    font-size: 14px;
    cursor: default;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    text-align: left;
    float: left;
    background: #ffffff;
    height: 35px;
    margin-bottom: 1px;
    margin-right: 1px;
    line-height: 35px;
    box-shadow: 0px 1px 1px #e7e7e7;
}

.content_tr_head > div {
    color: #939393;
    margin-bottom: 4px;
}

.content_tr_lessons > div.ct_1 {
    width: 38px;
    text-align: center;
}

.content_tr_lessons > div.ct_2 {
    width: 459px;
    padding: 0px 10px;
}

.content_tr_lessons > div.ct_3 {
    width: 69px;
    padding: 0px 10px;
    text-align: center;
}

.content_tr_lessons > div.ct_4 {
    width: 69px;
    padding: 0px 10px;
    text-align: center;
}

.content_tr_lessons > div.ct_5 {
    width: 69px;
    padding: 0px 10px;
    margin-right: 0px;
    text-align: center;
}

.content_table_loader_wrap {
    text-align: center;
    padding: 29px 0px 102px;
}

.content_table_loader_wrap a {
    display: inline;
    display: inline-block;
}

.content_table_loader {
    margin: 0px auto;
    width: 171px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    background: none no-repeat scroll 0px 0px #56a7f3;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    box-shadow: 0px 1px 1px #e7e7e7;
    text-transform: uppercase;
}

.actobat_file {
    background: url("../img/acrobat_file.png") no-repeat scroll 0px 0px transparent;
    width: 89px;
    height: 35px;
    cursor: pointer;
}

.content_tr_lessons .actobat_file {
    margin-left: -10px;
}
.tab {
	display: none;
}
#show_all {
	display: block;
}
#show_all + #beginner {
	display: none;
}


.error {
	border: 1px solid red!important;
}

.status_login {
	
	width: 400px;
	margin-left: 105px;
	position: absolute;

}

/* blog */
.blog_page_wrap {
    width: 788px;
    margin: 0px auto 0px;
    padding: 56px 0px 88px;
}

.blog_wrap {
    padding: 31px;
    background: #ffffff;
    width: 727px;
    margin-top: 36px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.blog_wrap:first-child {
    margin-top: 0px;
}

.blog_title {
    font-size: 18px;
    color: #000000;
    font-family: 'Roboto';
    font-weight: bold;
    margin-bottom: 25px;
}

.blog_title a {
    font-size: 18px;
    color: #000000;
    font-family: 'Roboto';
    font-weight: bold;
}

.blog_text {
    font-size: 14px;
    color: #000000;
    font-family: 'Roboto';
    cursor: default;
    line-height: 18px;
}


/* services */
.service_text_wrap {
    color: #000000;
    font-size: 18px;
    cursor: default;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    padding: 60px 0px 55px;
    line-height: 20px;
}

.service_text_wrap a {
    color: #56a7f3;
}

.service_block_wrapper {
    width: 791px;
    margin: 0px auto;
    padding: 0px 0px 100px;
}

.service_block_wrap {
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

.service_block_wrap:first-child {
    border-bottom: 0px;
}

.service_block_wrap:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.service_block_wrap.active {
    border-left-color: #303030;
    border-right-color: #303030;
    border-top-color: #303030;
}

.service_block_top {
    color: #a9a8a8;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    padding: 21px 18px;
    position: relative;
    background: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.service_block_wrap.active .service_block_top {
    background: #303030;
    color: #ffffff;
}

.service_block_top span {
    background: url("../img/service_cursor_down.png") no-repeat scroll 0px 0px transparent;
    width: 13px;
    height: 7px;
    position: absolute;
    right: 20px;
    top: 26px;
}

.service_block_wrap.active .service_block_top span {
    background: url("../img/service_cursor_up.png") no-repeat scroll 0px 0px transparent;
    width: 6px;
    height: 12px;
    right: 20px;
    top: 21px;
}

.service_block_bottom {
    display: none;
    background: #ffffff;
    margin: 0px -1px;
    padding: 22px 19px;
    
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
}

.service_block_wrap.active .service_block_bottom {
    display: block;
}

.service_block_bottom_text {
    color: #303030;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300;
    cursor: default;
    line-height: 16px;
}

.service_bottom_fcn {
    margin-top: 40px;
}

.service_bottom_fcn_tags {
    color: #303030;
    font-size: 12px;
    cursor: default;
    font-family: 'Roboto';
    font-weight: 300;
    width: 300px;
    float: left;
    line-height: 16px;
    margin-top: 5px;
}

.service_bottom_fcn_tags a {
    color: #56a7f3;
}

.service_bottom_fcn_time {
    cursor: default;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    color: #303030;
    padding: 12px 13px;
    background: none no-repeat scroll 0px 0px #f5f5f5;
    border-radius: 4px;
    display: inline-block;
    float: left;
    margin-left: 45px;
    margin-top: 5px;
}

.service_bottom_fcn_button {
    float: right;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    text-align: center;
    width: 226px;
    height: 42px;
    line-height: 42px;
    background: url("../img/gr_free_lesson.png") no-repeat scroll 0px 0px #ffa312;
    cursor: pointer;
    text-transform: uppercase;
    cursor: text;
    overflow: hidden;
    overflow-y: auto;
    cursor: pointer;
}

.service_bottom_fcn_button:hover {
	 background: url("../img/expert_free_hover.png") no-repeat scroll 0px 0px #ffa312;
}

.service_bottom_fcn_button a{
    color:#fff;
}
/* profile page */
.page_note_wrap {
    background: #ebebeb;
    width: 100%;
    position: relative;
}

.page_note_close {
    background: url("../img/page_note_close.png") no-repeat scroll 0px 0px transparent;
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 19px;
    top: 15px;
    right: -60px;
}

.page_note_inner {
    color: #000000;
    cursor: default;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    padding: 36px 0px;
    width: 900px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    text-shadow: 0px 1px 0px #fff;
}

.page_note_inner span {
    color: #5aa6ee;
}

.profile_form_fix {
    padding: 20px 0px 0px;
    width: 780px;
    margin: 0px auto;
    font-family: 'Roboto';
    font-weight: 300;
    color: #1f1f1f;
    font-size: 18px;
}

.profile_form_fix .updated {
    margin-bottom: 20px;
}

.profile_form_wrap {
    width: 780px;
    margin: 0px auto;
    background: #ffffff;
    border-radius: 10px;
}

.profile_form_title {
    text-align: center;
    cursor: default;
    font-family: 'Roboto';
    font-weight: 300;
    cursor: default;
    color: #1f1f1f;
    font-size: 18px;
    padding: 47px 0px 44px;
}

.profile_form_title span {
    color: #5aa6ee;
}

.profile_form_table {
    width: 540px;
    margin: 0px auto;
    padding: 0px 0px 54px;
}

.profile_form_tr {
    width: 540px;
    margin: 12px auto 0px;
    height: 36px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #1f1f1f;
    font-size: 18px;
    line-height: 36px;
}

.profile_form_tr:first-child {
    margin-top: 0px;
}

.profile_form_td {
    height: 36px;
    float: left;
}

.profile_form_td:first-child {
    width: 160px;
    text-align: right;
    cursor: default;
    font-family: 'Roboto';
    font-weight: 300;
    color: #1f1f1f;
    font-size: 18px;
    line-height: 36px;
}

.profile_form_td:first-child div {
    color: #ee2e24;
    width: 10px;
    display: inline-block;
    height: 36px;
    float: right;
    margin-left: 4px;
}

.profile_form_td + .profile_form_td {
    padding-left: 16px;
}


.profile_form_td + .profile_form_td input {
    font-size: 18px;
    color: #1f1f1f;
    font-family: 'Roboto';
    background: #eaeaea;
    border: 0px;
    padding: 5px 15px 6px 15px;
    border-top: 1px solid #aeaeae;
    border-radius: 35px;
    width: 317px;
    box-shadow: 0px 1px 0px #d6d6d6 inset;
}

.profile_form_buttons{
    text-align:right;
    margin-right:40px;
}
.profile_form_buttons input[type=submit]{
    border-radius: 0;
}

.booked_title {
    font-size: 18px;
    color: #1f1f1f;
    cursor: default;
    text-align: center;
    padding: 52px 0px 46px;
    text-shadow: 0px 1px 0px #fff;
    font-family: 'Roboto';
}

.booked_table {
    width: 790px;
    margin: 0px auto;
    box-shadow: 0px 1px 2px #f0f0f0;
}

.booked_tr {
    height: 35px;
    border-bottom: 1px solid #e7e7e7;
}

.booked_td {
    float: left;
    border-left: 1px solid #e7e7e7;
    height: 35px;
    line-height: 35px;
    background: #ffffff;
    cursor: default;
    color: #1f1f1f;
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

.booked_td a,
.booked_td.col5,
.booked_td.col6 {
    color: #2284e0;
}

.booked_td.col1 {
    border-left: 0px;
    padding: 0px 12px;
    width: 233px;
}

.booked_td.col2 {
    padding: 0px 15px;
    width: 80px;
}

.booked_td.col3 {
    padding: 0px 15px;
    width: 50px;
}

.booked_td.col4 {
    padding: 0px 15px;
    width: 76px;
}

.booked_td.col5 {
    padding: 0px 12px;
    width: 75px;
}

.booked_td.col6 {
    padding: 0px 12px;
    width: 44px;
}

.booked_td.col7 {
    padding: 0px 12px;
    width: 40px;
}

.booked_header_tr {
    margin-bottom: 3px;
    border-bottom: 2px solid #e7e7e7;
    box-shadow: 0px 1px 1px #f0f0f0;
}

.booked_header_tr .booked_td {
    color: #939393;
}

.booked_footer {
    color: #1f1f1f;
    font-size: 18px;
    text-align: center;
    cursor: default;
    font-family: 'Roboto';
    padding: 55px 0px 38px;
}

.booked_button_wrap {
    text-align: center;
    padding-bottom: 106px;
}

.booked_button {
    background-image: url('../img/feedback.png');
    cursor: pointer;
    text-align: center;
    width: 344px;
    height: 68px;
    margin: 0px auto;
    color: #fff;
    line-height: 68px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 300;
    text-shadow: 0px 1px 0px #4c8ecd;
    font-size:24px;
}

.booked_button:hover {
	 background-image: url('../img/feedback_hover.png');
}

/* popup form2 */
.modal_feedback .modal_body {
    width: 777px;
}

.modal_form2_wrap {
    width: 540px;
    margin: 0px auto;
    padding: 48px 0px 0px;
}

.modal_form2_tr {
    margin-bottom: 12px;
    min-height: 56px;
}

.modal_form2_td {
    float: left;
    min-height: 56px;
}

.modal_form2_td:first-child {
    width: 239px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #2f2f2f;
    font-size: 14px;
    cursor: default;
    text-align: right;
    line-height: 56px;
}

.modal_form2_td.large {
    line-height: 18px;
}

.modal_form2_td.large div {
    padding-top: 10px;
}

.modal_form2_td:first-child span {
    color: #ee2e24;
}

.modal_form2_td + .modal_form2_td {
    padding-left: 15px;
}

.modal_form2_td + .modal_form2_td input[type="text"],
.modal_form2_td + .modal_form2_td textarea {
    color: #bdbdbd;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding: 12px 17px;
    margin: 0px;
    border: 0px;
    background: none no-repeat scroll 0px 0px #ececec;
    border-radius: 4px;
    width: 250px;
    text-transform: uppercase;
}

.modal_form2_td + .modal_form2_td input[type="text"].min {
    width: 96px;
}

.modal_form2_td + .modal_form2_td textarea {
    height: 82px;
}

.modal_feedback_footer {
    width: 540px;
    margin: 0px auto;
    padding: 12px 0px 0px;
}

.modal_feedback_button {
    float: right;
    width: 204px;
    height: 57px;
    cursor: pointer;
    text-align: center;
    line-height: 57px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    background: url("../img/btn_form_gradient.png") no-repeat scroll 0px 0px #5aa6ee;
    font-size: 24px;
}

/* dropwodn */
.dropdown_wrap {
    color: #2B2B2B;
    display: inline-block;
    font: 300 24px/1 "Roboto Condensed", sans-serif;
    position: relative;
    text-align: left;
}

.dropdown_value {
    background-color: #ececec;
    padding: 12px 45px 12px 15px;
    cursor: pointer;
    height: 24px;
    -webkit-box-shadow: 0 1px 0px #d6d6d6 inset;
    -moz-box-shadow: 0 1px 0px #d6d6d6 inset;
    box-shadow: 0 1px 0px #d6d6d6 inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
.dropdown_value:after {
    display: block;
    position: absolute;
    content: '';
    background: url(../img/dropdown_down.png) 0 0 no-repeat;
    width: 20px;
    height: 10px;
    top: 50%;
    right: 15px;
    margin-top: -5px;
}
.dropdown_value.active:after {
    background: url(../img/dropdown_up.png) 0 0 no-repeat;
}
.dropdown_list {
    position: absolute;
    left: 0px;
    top: 100%;
    background-color: #ececec;
    width: 100%;
    -webkit-box-shadow: 0px 1px 1px #dedede;
    -moz-box-shadow: 0px 1px 1px #dedede;
    box-shadow: 0px 1px 1px #dedede;
    display: none;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.dropdown_list li {
    color: #2b2b2b;
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 5px 15px;
    line-height: 26px;
    cursor: pointer;
}

.header_button_credits {
    background: #56a7f3;
    color: #fff;
    line-height: 46px;
    padding: 0px 20px;
    text-shadow: 0px 1px 0px #4d93d4;
    font-family: 'Roboto Condensed';
    font-size: 14px;
    text-transform: uppercase;
}

.header_button_profile {
    position: relative;
    background: none no-repeat scroll center right #303030;
    color: #ffffff;
    line-height: 46px;
    padding: 0px 40px 0px 20px;
    text-shadow: 0px 1px 0px #2b2b2b;
    font-family: 'Roboto Condensed';
    font-size: 14px;
    text-transform: uppercase;
}

.header_button_profile span {
    background: url("../img/header_button_profile.png") no-repeat scroll 0px 0px transparent;
    height: 15px;
    width: 15px;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -7px;
}

.header_button_profile:hover > span {
	background: url("../img/header_button_prodile_hover.png") no-repeat scroll 0px 0px transparent;
}

.credit_block_wrap {
    text-align: center;
    color: #1f1f1f;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    width: 789px;
    margin: 18px auto 0px;
    padding: 33px 0px;
    background: #fff;
    border-radius: 10px;
    cursor: default;
}

.credit_block_wrap span.blue {
    color: #5aa6ee;
}

.booked_remove {
    width: 64px;
    height: 35px;
    cursor: pointer;
    background: url("../img/remove_white.png") no-repeat scroll center center #56a8f4;
    margin-left: -12px;
}
.credit_block_text span.blue2 {
    color: #5aa6ee;
	
}

.credit_block_button {
    display: inline-block;
    cursor: pointer;
    width: 191px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    background: url("../img/btn_gradient_min.png") no-repeat scroll 0px 0px #56a7f3;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    text-transform: uppercase;
	border: 0;
}

.credit_block_text {
    line-height: 35px;
    margin-right: 20px;
    position: relative;
    top: 2px;
}

.save_block_button {
    display: inline-block;
    cursor: pointer;
    width: 191px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../img/btn_gradient_min.png") no-repeat scroll 0px 0px #56a7f3;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    text-transform: uppercase;
    border: 0;
}

/* pay popup */
.modal_credit {

}

.modal_credit .modal_body {
    width: 777px;
}

.modal_credit_text {
    cursor: default;
    text-align: center;
    font-size: 14px;
    color: #363636;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    padding: 30px 0px;
    width: 560px;
    margin: 0px auto;
}

.modal_credit_text span {
    color: #56a7f3;
}

.credit_pay_table {
    width: 547px;
    margin: 0px auto;
}

.credit_pay_tr {
    
}

.credit_pay_td_1,
.credit_pay_td_2 {
    padding: 9px 0 10px;
    background: #f5f5f5;
    margin-bottom: 1px;
}

.credit_pay_td_1 {
    float: left;
    width: 226px;
    padding-left: 21px;
    color: #1f1f1f;
    cursor: default;
    text-align: left;
    font-family: 'Roboto Condensed';
    font-weight: 300;   
}

.credit_pay_td_2 {
    float: left;
    width: 153px;
    padding-left: 15px;
    text-align: left;
    color: #1f1f1f;
    cursor: default;
    position: relative;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    margin-left: 1px;
}

.credit_pay_td_3 {
    width: 126px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    margin-left: 1px;
    text-transform: uppercase;
    font-weight: 300;
    background: #56a8f4;
    font-family: 'Roboto Condensed';
    font-size: 15px;
    float: left;
    margin-left: 1px;
}

.credit_pay_td_3 a {
	color: #fff;
}

.credit_pay_td_2 span {
    color: #ee2e24;
    font-size: 11px;
}

.credit_pay_border {
    width: 126px;
    background: #f0f0f0;
    height: 1px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.pay_table {
    width: 547px;
    margin: 22px auto 0px;
    border-bottom: 1px solid #f5f5f5;
}

.pay_tr {
    height: 35px;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #f5f5f5;
}

.pay_tr_header {
    border-bottom: 0px;
}

.pay_tr_header .par_td {
    background: #f5f5f5;
    border-right: 1px solid #fff;
    text-transform: uppercase;
    color: #1f1f1f;
}

.pay_tr_header .par_td.par_td_1,
.pay_tr_header .par_td.par_td_2,
.pay_tr_header .par_td.par_td_3,
.pay_tr_header .par_td.par_td_4 {
    color: #1f1f1f;
}

.rel {
	position: relative;
}

.remove {
	position: absolute;
	left: 0;
	top: 10px;
}

.par_td {
    height: 35px;
    float: left;
    line-height: 35px;
    cursor: default;
    border-right: 1px solid #f5f5f5;
    font-weight: 300;
    font-family: 'Roboto Condensed';
    font-size: 14px;
    color: #1f1f1f;
}

.par_td.par_td_1 {
    padding: 0px 20px;
    width: 96px;
}

.par_td.par_td_1 {
    color: #56a7f3;
    border-left: 1px solid #f5f5f5;
}

.par_td.par_td_2 {
    padding: 0px 18px;
    width: 100px;
    color: #afafaf;
}

.par_td.par_td_3 {
    padding: 0px 18px;
    width: 100px;
}

.par_td.par_td_4 {
    padding: 0px 18px;
    width: 98px;
    color: #56a7f3;
}

.pay_block_calc {
    margin-top: 9px;
}

.pay_block_plus {
    background: url("../img/pay_block_plus.png") no-repeat scroll center center transparent;
    cursor: pointer;
    height: 20px;
    width: 12px;
    float: left;
    margin-right: 4px;
}

.pay_block_minus {
    background: url("../img/pay_block_minus.png") no-repeat scroll center center transparent;
    cursor: pointer;
    height: 20px;
    width: 12px;
    float: left;
    margin-right: 12px;
}

.pay_block_summ {
    float: left;
    text-align: left;
    cursor: default;
    color: #1f1f1f;
    font-family: 'Roboto Condensed';
    font-size: 14px;
    background: #eae8e8;
    min-width: 23px;
    padding: 0px 6px;
    border-radius: 5px;
    line-height: 20px;
}

.pay_footer {
    width: 547px;
    margin: 10px auto 0px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 19px;
}

.update_card_button {
    float: right;
    cursor: pointer;
    width: 126px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    background: none no-repeat scroll 0px 0px #56a7f3;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    text-transform: uppercase;
	border: 0;
}

.pay_footer_money {
    float: left;
    font-size: 14px;
    cursor: default;
    text-transform: uppercase;
    color: #1f1f1f;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    line-height: 35px;
}

.pay_footer_money span {
    color: #56a7f3;
}

.pay_sub_footer {
    width: 547px;
    margin: 19px auto 0px;
    text-align: center;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0px;
}

.pay_systems_text {
    display: inline-block;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    cursor: default;
    color: #232323;
    margin-right: 15px;
}

.pay_systems_values {
    display: inline-block;
    margin-bottom: -7px;
}

.pay_systems_value {
    float: left;
    margin-right: 25px;
	height: 24px;
}

.pay_systems_value .radio_button {
    margin-right: 5px;
    margin-top: 5px;
}

.pay_systems_value img {
    float: left;
    cursor: pointer;
}

.radio_button {
    cursor: pointer;
    background: url("../img/radio.png") no-repeat scroll 0px 0px transparent;
    float: left;
    height: 14px;
    width: 14px;
}

.radio_button.active {
    background: url("../img/radio_active.png") no-repeat scroll 0px 0px transparent;
}



.pay_sub_footer .checkbox_wrap {
    float: left;
}

.checkbox_wrap {
    color: #232323;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    cursor: default;
}

.checkbox_icon {
    cursor: pointer;
    background: url("../img/checkbox.png") no-repeat scroll 0px 0px transparent;
    float: left;
    height: 20px;
    width: 20px;
}

.checkbox_wrap.active .checkbox_icon {
    background: url("../img/checkbox_active.png") no-repeat scroll 0px 0px transparent;
}

.checkbox_wrap a {
    cursor: pointer;
    color: #56a7f3;
}

.checkbox_text {
    padding: 3px 0px 0px;
    float: left;
    margin-left: 10px;
}

.pay_systems {
    background: url("../img/pay_systems.png") no-repeat scroll 0px 0px transparent;
    float: right;
    width: 228px;
    height: 27px;
    margin-top: -5px;
}

.pay_submit_wrap {
    width: 547px;
    height: 57px;
    margin: 0px auto;
    padding: 44px 0px 0px;
}

.pay_submit_wrap .checkbox_wrap {
    margin-top: 21px;
    float: left;
}

.pay_submit {
    float: right;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    width: 204px;
    height: 57px;
    line-height: 57px;
    background: url("../img/btn_form_gradient.png") no-repeat scroll 0px 0px #5aa6ee;
    cursor: pointer;
}

.pay_footer_input {
    float: left;
    margin-left: 30px;
}

.pay_footer_input input[type="text"] {
    float: left;
    background: none no-repeat scroll 0px 0px #efefef;
    box-shadow: 0px -1px 0px #d5d5d5;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    border: 0px;
    border-radius: 4px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 14px;
    width: 106px;
}

#coupon_code {
    float: left;
    background: none no-repeat scroll 0px 0px #efefef;
    box-shadow: 0px -1px 0px #d5d5d5;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    border: 0px;
    border-radius: 4px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 14px;
    width: 106px;
}

.pay_footer_input input[type="text"].focus {
    text-transform: none;
}

.pay_sub_footer {
    width: 547px;
    margin: 19px auto 0px;
}

.pay_sub_footer .checkbox_wrap {
    float: left;
}

.checkbox_wrap {
    color: #232323;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    cursor: default;
}

.checkbox_icon {
    cursor: pointer;
    background: url("../img/checkbox.png") no-repeat scroll 0px 0px transparent;
    float: left;
    height: 20px;
    width: 20px;
}

.checkbox_wrap.active .checkbox_icon {
    background: url("../img/checkbox_active.png") no-repeat scroll 0px 0px transparent;
}

.checkbox_wrap a {
    cursor: pointer;
    color: #56a7f3;
}

.checkbox_text {
    padding: 3px 0px 0px;
    float: left;
    margin-left: 10px;
}

.pay_systems {
    background: url("../img/pay_systems.png") no-repeat scroll 0px 0px transparent;
    float: right;
    width: 228px;
    height: 27px;
    margin-top: -5px;
}

.pay_submit_wrap {
    width: 547px;
    height: 57px;
    margin: 0px auto;
    padding: 44px 0px 0px;
}

.pay_submit {
    float: right;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    width: 204px;
    height: 57px;
    line-height: 57px;
    background: url("../img/btn_form_gradient.png") no-repeat scroll 0px 0px #5aa6ee;
    cursor: pointer;
}

.available {
	display: none;
}

#beginner {
	display :block;
}

#sarch_result {
	display: none;
}

.cart-collaterals {
	
}

#customer_details {
	display: none;
}

input[type="radio"] {
	float: left;
}

#terms {
	position: absolute;
	left: 80000px;
}

input.input-checkbox {
	float: left;
	margin: 0;
	padding: 0;
}


.CheckBoxClass {
    display: none;
}
.CheckBoxLabelClass {
    background:url("../img/radio.png") no-repeat;
	background-position: left 50%;
    padding-left: 25px;
    height: 24px;
    width: 115px;
    display: block;
}

.LabelSelected {
    background: url("../img/radio_active.png") no-repeat;
	background-position: left 50%;
}

td.booked {
	background-color: #303030;
	color: #fff;
}

td.booked span {
	background-color: #ff9c00;
	width: 5px;
	float: left;
	height: 35px;
}

td.n_a {
	background-color: #303030;
	color: #fff;
}

td.n_a span {
	background-color: #ff0000;
	width: 5px;
	float: left;
	height: 35px;
}

td.avaible {
	background: #d9d9d9;	
}

td.avaible:hover {
	background: #2ea3ed;
}
td.avaible:hover a {
	color: #fff;
}


.booked {
	background-color: orange;
}

.block_accordion_50_minuts {
	height: 36px;
	background-color: #f5f5f5;
	border-top: 1px solid #fff;
	text-align: left!important;
	line-height: 36px;
	color: #303030;
	font-size: 14px;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	padding-left: 15px;
	
}

.block_accordion_25_minuts {
	height: 36px;
	background-color: #f5f5f5;
	border-top: 1px solid #fff;
	text-align: left!important;
	line-height: 36px;
	color: #303030;
	font-size: 14px;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	padding-left: 15px;
}

.block_accordion_25_minuts span {
	display: block;
	width: 8px;
	height: 15px;
	margin-top: 10px;
	margin-right: 10px;
	background-image: url('../img/next_bl_col.png');
	float: right;
	cursor: pointer;
}

.block_accordion_50_minuts span {
	display: block;
	width: 8px;
	height: 15px;
	margin-top: 10px;
	margin-right: 10px;
	background-image: url('../img/next_bl_col.png');
	float: right;
	cursor: pointer;
	
}	

.block_accordion_50_minuts span.close {
	display: block;
	width: 12px;
	height: 6px;
	margin-top: 15px;
	margin-right: 10px;
	background-image: url('../img/down_bl_col.png');
	float: right;
	cursor: pointer;
}

.min_width {
	min-width: 80px;
}

ul.eme-no-events li {
	margin: 20px 0 0 0;
	text-align: center;
	color: #1f1f1f;
	cursor: default;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 18px;
}

.update_profile {
	text-align: center;
	padding-bottom: 10px;
}

.update_profile a {
	color: #5aa6ee;
	font-family: 'Roboto';
	text-decoration: underline;
	
}
.link_button a {
	color: #5aa6ee;
}


.add_width_table {
	width: 600px!important;
}

.first_inp {
	width: 200px!important;
}
.add_width {
	width: 280px!important;
	float: left;
}

select[name="what_is_your_level"] {
	float: left;
	margin-top: 10px;
}

.row_sub {
	height: 10px;
	line-height: 10px;
	padding-left: 140px;
}



.row_sub input {
	margin-top: 3px;
}
.grey_color a{
	color: #303030;
}
.grey_color:hover 
{	
    background: #2ea3ed;
}

.grey_color:hover a 
{	
  color: #fff;
}

.current_user_booked {
	background: #2ea3ed;
	color: #fff;
}

.bl_na ,
.current_user_booked  {
	cursor: default;
}

.avaible:hover a {
	color: #fff;
}

a.logout_button div {
	background-color: red;
}

#welcomes_popap {
	display: none;
}

textarea.query_textarea {
	color: #bdbdbd;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	padding: 12px 17px;
	margin: 0px;
	border: 0px;
	background: none no-repeat scroll 0px 0px #ececec;
	border-radius: 4px;
	width: 396px;
	text-transform: uppercase;
	border: 1px solid #ffffff;
	height: 200px;
	margin-top: 10px;
}

textarea.query_textarea:focus {
	border: 1px solid #64abee;
	color: #666;
}

/*password reset design*/


.loginFormBlock {
    text-align: center;
}


.loginFormBlock #resetpassform input[type="password"] {
    background: none no-repeat scroll 0 0 #ECECEC;
    border: 1px solid #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    color: #BDBDBD;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 12px 17px;
    text-transform: uppercase;
    width: 396px;
}


#pass-strength-result {
    background-color: #ECECEC;
    border-color: #F04040 !important;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    width: 440px;
}


#pass-strength-result.short {
    background-color: #FFA0A0;
    border-color: #F04040 !important;
}


#pass-strength-result.bad {
    background-color: #FFB78C;
    border-color: #FF853C !important;
}


#pass-strength-result.good {
    background-color: #FFEC8B;
    border-color: #FFCC00 !important;
}


#pass-strength-result.strong {
    background-color: #C3FF88;
    border-color: #8DFF1C !important;
}

p {
    margin: 1em 0;
}

p.errorMessage{
	margin:0px !important;
}

/*#forgot-pass-email .leftAlign{
	width: 350px;
}*/

#modal_video .modal_form_wrap{
	margin:0px !important;
}

#modal_video .modal_body{
	width:640px;
   padding:20px;
    margin-top:200px!important;
}

#modal_video .modal_close{
    background: url("../img/modal_close_video.png") no-repeat scroll 0px 0px transparent;
    height: 29px;
    width: 29px;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

.slider_block_full a{
    color:#fff;
}

.modal_button_section{
    margin-left: 250px;
}


.rel a.remove{
    display:none;
}

img.alignleft{
    float: left;
}

img.alignright{
    float: right;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.info{
    margin-left:115px;
    width:517px;
}

.info .header_button_log{
    width: 130px;
    margin-left: 366px;
    font-size: 15px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}