/*bg*/
$bgBody: #f7fbfd;
$bgHeader: #bb7af7;
$bgFooter: #525458;
$bgContent: #fff;
$formHColor: #9baaba;
$buttonHover: #8509f8;

/*border*/
$footerBorderColor: #5a5c60;
$lightBorderColor: #fff;
$borderColorContent: #eff3f5;
$borderColor: #f1f1f6;

/*text color*/
$titleColor: #bb7af7;
$textColor: #575c63;
$lightColor: #ffffff;
$h4Color: #505153;
$footerMenuColor: #a5a6a7;
$color-1: #a2caef; /* footer link block 1 */
$color-2: #b0d16b; /* footer link block 2 */
$selectColor: #bb7af7;

$hrColor: #f1f1f6;

