%elemBorder {
    border-radius: 6px;
    border: 1px solid $lightBorderColor;
    line-height: 48px;
    display: inline-block;
    text-decoration: none;
    color: $lightColor;
    text-transform: uppercase;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    @extend %defTransition;
    &:hover {
        border-color: transparent;
        background-color: $buttonHover !important;
        text-decoration: none;
    }
}
.e-btn {
    @extend %elemBorder;
    background: $bgHeader;
    border-color: $bgHeader;
    padding: 0 57px;
}
.popup-with-form {
    background: $bgHeader;
    border-color: $bgHeader;
    padding: 0 57px;
    @extend %elemBorder;
}
.descriptions-list {
    display: block;
    border-bottom: 1px solid #e9edf1;
    margin-bottom: 43px;
    padding-bottom: 20px;
    @extend %clr;
    li {
        display: block;
        float: left;
        margin-right: 20px;
        font-size: 14px;
        line-height: 32px;
        color: #d4dbe3;
        &.active{
            a {
                color: $textColor;
                &:before {
                    color: #d4dbe3;
                }
            }
        }
        &:last-child {
            a {
                &:before {
                    display: none;
                }
            }
        }
        a {
            text-decoration: none;
            color: #d4dbe3;
            position: relative;
            @extend %defTransition;
            &:before {
                position: absolute;
                content: "-";
                right: -11px;
                top: -9px;
            }
            &:hover {
                color: $textColor;
                &:before {
                    color: #d4dbe3;
                }
            }
        }
    }
}
/* select for devices */
select {
    height: 35px;
    padding-right: 24px;
    padding-left: 10px;
    border-radius: 5px;
    color: $bgHeader;
    font-size: 16px;
    -webkit-appearance: none;
    background-image: url('../img/arrow_select.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid $bgHeader;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
select:focus {
    outline: none;
}