input[type="text"],
input[type="password"],
input[type="email"] {
    border: 1px solid #f5f7f9;
    width: 100%;
    line-height: 50px;
    height: 50px;
    border-radius: 6px;
    padding: 0 10px;
    text-align: center;
    background: #f5f7f9;
    @include max-screen($mediaSmall){
        height: 36px;
        font-size: 16px;
        line-height: 19px;
        padding: 7px;
        text-align: center;
        ::-webkit-input-placeholder {
            text-align: center;
        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;
        }

        :-ms-input-placeholder {
            text-align: center;
        }
    }
    &:focus {
        background: #fff;
        border-color: #9baaba;
        color: $titleColor;
    }
}
textarea {
    border: 1px solid #f5f7f9;
    width: 100%;
    padding: 10px;
    background: #f5f7f9;
    border-radius: 6px;
    &:focus {
        background: #fff;
        border-color: #9baaba;
        color: $titleColor;
    }
}
textarea,
input {
    &.filled {
        color: $formHColor;
        background: #fff;
        border-color: #9baaba;
        &.error {
            border-color: #f00;
        }
    }
    .error {
        border-color: #f00;
    }
}
input[type="submit"] {
    background-color: $bgHeader;
    border: none;
    width: 268px;
    height: 50px;
    margin: 48px auto 0;
    border-radius: 6px;
    color: $lightColor;
    font-weight: bold;
    @extend %defTransition;
    @include max-screen($mediaSmall){
        height: 36px;
        margin-top: 0;
    }
    &:hover {
        background-color: $buttonHover;
    }
}
.login {
    padding: 0;
}
label {
    &.error {
        color: #f00;
        font-size: 14px;
    }
}
.message {
    color: #008000;
    margin-bottom: 15px;
}
input:focus { outline: none; }
textarea:focus { outline: none; }
