$white: #fff;
$black: #000;
$transparent: transparent;

/*bg*/
$bgBody: #f7fbfd;
$bgHeader: #f8a764;
$bgFooter: #525458;
$bgContent: #fff;
$formHColor: #9baaba;
$buttonHover: #f89039;
$bgmedia: #ececec;

/*border*/
$footerBorderColor: #5a5c60;
$lightBorderColor: #fff;
$borderColorContent: #eff3f5;
$borderColor: #f1f1f6;
$mediaBorder: #bfbfbf;


/*text color*/
$titleColor: #f8a764;
$textColor: #575c63;
$lightColor: #ffffff;
$h4Color: #505153;
$footerMenuColor: #a5a6a7;
$color-1: #a2caef; /* footer link block 1 */
$color-2: #b0d16b; /* footer link block 2 */
$selectColor: #f9b781;

$hrColor: #f1f1f6;
