.tutorProfile,
.socialLinks a,
.socialLinks img,
.headerPagemenu li,
.dropdownWrap,
.orangeBtn,
.defaultButton,
.roundedField,
.whiteInput,
.defaultInput,
.ui-dialog.ui-widget .ui-dialog-buttonpane .ui-button.ui-widget,
.footerMenu li,
.serviceBlockUtilsTime,
.expertNotice,
.tutorProfile {
	display: inline;
	zoom: 1;
}
.footerBannerLink,
.footerBannerLink2 {
	line-height: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, 
.dropdownWrap, .steps_tab, .steps_tabs_wrap,
.steps_body_wrap, .steps_body {
	zoom: 1;
}
.loginFormBlock .formRow .defaultButton {
	padding: 0 30px;
}
.socialLinks img {
	position: relative;
	top: 15px;
}
#modal_feedback .withTextarea {
	clear: both;
}
#modal_feedback .rowWithSelect {
	position: relative;
	z-index: 10;
}
.expertNotice {
	width: 460px;
}
.steps_tabs_wrap,
.steps_body_wrap,
.footerBottom,
.footerTop .footerWidgets,
.bl_header,
.serviceBlockUtils {
	overflow: hidden;
}
.steps_tab, .steps_body,
.steps_body_wrap,
.bl_header,
.bl_prev,
.bl_next {
	position: static;
}
.steps_tab div {
	display: none;
}
.bl_prev {
	float: left;
}
.bl_next {
	float: right;
	margin-top: -26px;
}
.headerPagemenu {
	width: 45%;
}