$white: #fff;
$black: #000;
$transparent: transparent;

/*bg*/
$bgBody: #f7fbfd;
$bgHeader: #ff5d5d;
$bgFooter: #525458;
$bgContent: #fff;
$formHColor: #9baaba;
$buttonHover: #ff5d5d;
$bgLinksCommentColor: #e0e5ea;
$bgLinksCommentHoverColor: #707274;
$bgRightMenuLinks: #fc4a4a;

/*border*/
$footerBorderColor: #5a5c60;
$lightBorderColor: #fff;
$borderColorContent: #eff3f5;
$borderColor: #f1f1f6;
$borderColorTitle: #e9edf1;
$borderColorGallery: #dfe0e5;
$paginationBorder: #f7f7f7;
$paginationBorderActive: #dfe0e5;
$borderColorComment: #e2e5e8;
$borderColorSubMenu: #575c63;

/*text color*/
$titleColor: #ff5d5d;
$textColor: #575c63;
$lightColor: #ffffff;
$h4Color: #505153;
$footerMenuColor: #a5a6a7;
$color-1: #a2caef; /* footer link block 1 */
$color-2: #b0d16b; /* footer link block 2 */
$color-3: #f8a762; /* footer link block 3 */
$selectColor: #ff5d5d;
$commentHistoryColor: #c6c8ca;
$commentAuthorColor: #a2caef;


//button colors
$redButtonColor: #ff5d5d;
$blueButtonColor: #50a6ce;

$hrColor: #f1f1f6;
