.white-popup {
    max-width: $maxSiteWidth;
    @include max-screen($mediaSmall){
        max-width: 100%;
    }
    .form-wrapper {
        width: 562px;
        margin: 74px auto;
        text-align: center;
        h2 {
            font-size: 26px;
            line-height: 32px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin-bottom: 110px;
            position: relative;
            &:before {
                position: absolute;
                content: "";
                bottom: -50px;
                left: 50%;
                margin-left: -48px;
                width: 96px;
                height: 2px;
                background: $hrColor;
            }
        }
        .input-wrap {
            width: 50%;
            float: left;
            height: 76px;
            padding: 0 12px;
            @include max-screen($mediaSmall){
                height: 60px;
            }
        }
        input[type="submit"] {
            background-color: $bgHeader;
            background-image:  url("../img/check.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border: none;
            width: 268px;
            height: 50px;
            margin: 48px auto 0;
            border-radius: 6px;
            text-indent: -9999px;
            &:hover {
                background-color: $buttonHover;
            }
            @include max-screen($mediaSmall){
                height: 36px;
                margin-top: 0;
            }
        }
        @include max-screen($mediaSmall){
            width: 100%;
            margin: 5px auto;
            h2 {
                margin-bottom: 10px;
                &:before {
                    display: none;
                }
            }
            .input-wrap {
                width: 100%;
                float: none;
            }
            input[type="submit"] {
                margin-top: 0px;
            }
        }
    }
}
.wrap-row {
    @extend %clr;
}
.input-wrap-textarea {
    width: 100%;
    @extend %clr;
    @include max-screen($mediaSmall){
        margin-bottom: 25px;
    }
    textarea {
        width: 100%;
        max-width: 100%;
        resize: none;
        overflow-y: auto;
        height: 95px;
    }
}
.upload_photo_form {
    .input-wrap-textarea {
         textarea {
            border-color: $selectColor;
        }
    }
}

