#header {
    position: relative;
    z-index: 10;
    height: $headerHeight;
    background: $bgHeader;
    @include max-screen($mediaSmall){
        margin-bottom: 30px;
    }
	.content-wrapper {
		max-width: none;
		padding-top: 23px;
		@include justifyBlocks();
		@include max-screen($mediaMedium){
			padding-top: 10px;
		}
	}
    .nav-btn {
        display: none;
		position: absolute;
		right: 15px;
		left: auto;
		top: 10px;
		height: 46px;
		width: 56px;
		text-indent: -9999px;
		overflow: hidden;
		cursor: pointer;
		border-radius: 3px;
		&:after {
			position: absolute;
			top: 11px;
			left: 10px;
			height: 16px;
			width: 36px;
			border: 4px solid #fff;
			border-width: 4px 0;
			content: '';
		}
		&:before {
			position: absolute;
			top: 35px;
			left: 10px;
			height: 4px;
			width: 36px;
			background: #fff;
			content: '';
		}
		&.active {
			background: $bgContent;
			&:after {
				border-color: $bgHeader;
			}
			&:before {
				background: $bgHeader;
			}
		}
    }
    .logo {
		padding: 10px;
		position: relative;
		z-index: 1;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
			.item-logo {
				background: url("../img/logo.png") no-repeat 0 0;
				display: block;
				padding-left: 50px;
				height: 29px;
				line-height: 29px;
				text-decoration: none;
				color: $lightColor;
				position: relative;
				font-size: 18px;
				font-weight: 600;
				padding-right: 15px;
				z-index: 2;
				&:before {
					position: absolute;
					content: "";
					display: block;
					right: 0;
					top: 14px;
					@extend %iconsSprite;
					@include back-pos('arrow_bottom');
					@extend %defTransition;
					@include backface-visibility(hidden);
				}
			}
			ul {
				text-align: right;
				margin-top: 20px;
				padding: 0 10px;
				border-radius: 6px;
				background: $bgHeader;
				box-shadow: 0 1px rgba(0,0,0,.2);
				position: absolute;
				left: 0;
				right: 0;
				visibility: hidden;
				@include backface-visibility(hidden);
				@extend %defTransition;
				li {
					margin: 0;
					display: block;
					box-shadow: inset 0 1px rgba(0,0,0,.2);
					&:first-child {
						box-shadow: none;
					}
				}
				a {
					display: block;
					padding: 5px 0;
					color: #fff;
					text-transform: inherit;
					&:hover {
					}
				}
				&.is-open {
					visibility: visible;
					margin-top: 3px;
				}
			}
			&:hover {
				ul {
					visibility: visible;
					margin-top: 3px;
				}
				.item-logo {
					&:before {
						@include rotate(-180);
					}
				}
			}
        }
    }
    .right-menu {
        ul {
            padding: 0;
            margin: 0;
        }
    }
}
.main-menu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 15px;
			padding: 5px 0;
			position: relative;
			a {
				white-space: nowrap;
				display: block;
				font-size: 16px;
				color: $lightColor;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			&.menu-item-has-children {
				margin-right: 0;
				padding-right: 15px;
				& > a {
					&:before {
						position: absolute;
						content: "";
						display: block;
						right: 0;
						top: 13px;
						@extend %iconsSprite;
						@include back-pos('arrow_bottom');
						@extend %defTransition;
						@include backface-visibility(hidden);
					}
				}
				&:hover {
					.sub-menu {
						opacity: 1;
						visibility: visible;
						margin-top: 10px;
                        .sub-menu {
                            visibility: hidden;
                        }
                        li {
                            &:hover {
                                & > a {
                                    &:before {
                                        @include rotate(-90);
                                    }
                                }
                                .sub-menu {
                                    visibility: visible;
                                }
                            }
                        }
					}
					& > a {
						&:before {
							@include rotate(-180);
						}
					}
				}
			}
        }
    }

	.sub-menu {
		position: absolute;
		text-align: left;
		margin-top: 20px;
		padding: 0 10px;
		border-radius: 6px;
		background: $bgHeader;
		box-shadow: 0 1px rgba(0,0,0,.2);
		visibility: hidden;
		z-index: 500;
		@extend %defTransition;
		@include backface-visibility(hidden);
		li {
			margin: 0;
			display: block;
			box-shadow: inset 0 1px rgba(0,0,0,.2);
			&:first-child {
				box-shadow: none;
			}
		}
		a {
			text-transform: inherit;
		}
        .sub-menu {
            position: absolute;
            left: 100%;
            margin-left: 11px;
            top: -10px;
            min-width: 120px;
        }
	}

	.b-mobile-nav {
		position: absolute;
		left: 10px;
		right: 10px;
		background: $bgHeader;
		border-radius: 6px;
		padding: 10px 20px;
		@include transform(translate3d(0, 80px, 0));
		@include backface-visibility(hidden);
		@extend %defTransition;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		.sub-menu {
			.sub-menu {
				visibility: visible!important;
				margin: 0;
				padding: 0;
			}
		}
		&.is-open {
			@include transform(translate3d(0, 25px, 0));
			opacity: 1;
			visibility: visible;
			z-index: 5;
		}
		& > ul {
			display: block;
			li {
				display: block;
				margin: 0;
				float: none;
				box-shadow: inset 0 1px $darkBlue;
				&:first-child {
					box-shadow: none;
				}
				a {
					padding: 10px 0;
				}
				&.menu-item-has-children {
                    padding-right: 0;
					& > a {
						padding: {
							left: 15px;
							right: 15px;
						}
						&:before {
							top: 15px;
							@include back-pos('arrow_bottom_mobile');
						}
					}
					&.active {
						& > a {
							&:before {
								@include rotate(-180);
							}
						}
					}
				}
				&:hover {
					.sub-menu {
						margin: 0;
					}
				}
			}
		}

		.right-menu {
			padding-top: 30px;
			box-shadow: inset 0 1px $darkBlue;
			ul {
				li {
					display: block;
					margin: 0;
					a {
						display: block;
						margin: 0 0 10px 0;
					}
				}
			}
		}
		.sub-menu {
			display: none;
			margin-top: 0;
			text-align: center;
			border-radius: 0;
			background: #fff;
			box-shadow: none;
			position: static;
			visibility: visible;
			z-index: 500;
            li {
                 &.menu-item-has-children {
                     > a {
                         position: relative;
                         &:before {
                             position: absolute;
                             content: "";
                             display: block;
                             width: 10px;
                             height: 10px;
                             @include back-pos('arrow_bottom_mobile_b');
                             right: 0;
                             top: 15px;
                         }
                     }
                 }
             }
            .sub-menu {
                display: none;
                border: 1px solid;
                background: $mainBlueColor;
                a {
                    color: #fff;
                }
            }
            li {
                a {
                    color: $bgHeader;
                }
            }
		}
	}
}
.ua-safari5,
.os-android {
	.main-menu {
		.b-mobile-nav {
			display: none;
			opacity: 1;
			visibility: visible;
			&.is-open {
				display: block;
				z-index: 5;
			}
		}
	}
}
.right-menu {
	ul {
		list-style: none;
		li {
            display: inline-block;
			margin: 0 20px 0 0;
			display: inline-block;
			vertical-align: top;
			&.menu-item-487 a,
			.e-btn-transparent {
				@extend .e-btn-transparent;
				padding: 0 28px;
			}
		}
	}
}
.user-info {
	color: $bgContent;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	padding: 0;
	text-transform: capitalize;
	word-wrap: break-word;
	@extend %defTransition;
	&:hover {
		color: #fff;
	}
	img {
		width: 39px;
		height: 39px;
		border-radius: 50%;
		vertical-align: middle;
		&.alignnone,
		&.avatar {
			margin: 0 11px 0 0;
		}
	}
}
