$clColor: #7a8a95;
$grayLightColor : #a1afbe;
$hoverColor: #b6c0cc;

.b-calendar {
	.cl-time-cols {
		font-size: 0;
	}
	.cl-time-col {
		display: inline-block;
		width: 14.285%;
		font-size: 12px;
		text-align: center;
		vertical-align: middle;
		position: relative;
		a {
			display: block;
			padding: 10px 0;
		}
		&.m-full {
			display: block;
			width: auto;
		}
		@include max-screen($maxWidthMobile) {
			font-size: 12px;
		}
	}
	.cal-controls {
		li {
			position: absolute;
			top: 6px;
			a {
				display: block;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				text-align: center;
				position: relative;
				@extend %defTransition;
				@include backface-visibility(hidden);
				&:before {
					position: absolute;
					top: -1px;
					left: 50%;
					margin-left: -3px;
				}
				&:hover {
					background: $mainBlueColor;
					color: $lightColor;
					text-decoration: none;
				}
			}
			&.cal-prev {
				left: 0;
				a {
					&:before {
						margin-left: -6px;
					}
				}
			}
			&.cal-next {
				right: 0;
			}
		}
	}
	.cl-title {
		text-align: center;
		padding: 0 50px;
		font-size: 22px;
		@include max-screen($maxWidthMobile) {
			font-size: 16px;
		}
	}
	.b-cal-header {
		position: relative;
		margin: 0 0 10px;
		padding: 10px 0;
	}
	.cl-time-header {
		margin: 0 0 10px;
		padding: 10px 0;
		font-weight: bold;
		.cl-time-col {
			white-space: nowrap;
		}
	}

	.cl-time-block-top {
		border-bottom: 1px solid $borderColorContent;
		.cl-time-col {
			text-align: left;
		}
		a {
			padding: {
				left: 10px;
				right: 10px;
			}
			color: $grayLightColor;
			@extend %defTransition;
			&:hover {
				text-decoration: none;
				background: $borderColorContent;
			}
		}
		.e-toggle-arrow {
			float: right;
			margin-top: 2px;
			@extend %defTransition;
		}
	}

	.cl-time-block-bottom {
		display: none;
		padding: 10px 0;
		a {
			color: $clColor;
			@extend %defTransition;
			&:hover {
				text-decoration: none;
			}
			&.tutors_na,
			&.taken {
				cursor: default;
			}
			&.taken {
				font-family: $mainFontLight;
				color: $orangeBtn;
			}
			&.add-lesson {
				&:hover {
					background: $hoverColor;
					color: $lightColor;
				}
				@include max-screen($maxWidthMobile) {
					padding: 16px 0 15px;
				}
			}
			&.del-lesson {
				font-weight: bold;
				color: #a2caef;
				&:hover {
					background: $mainBlueColor;
					color: $lightColor;
				}
			}
		}
		.cl-time-cols {
			border-bottom: 0;
			@include max-screen($mediaSmall) {
				border-bottom: 1px solid $hrColor;
			}
		}
	}
	.cl-time-block {
		&.is-open {
			.cl-time-block-bottom {
				display: block;
			}
		}
	}
}
.em-calendar-wrapper {
	.loading {
		@include stretch();
		position: fixed;
		background: rgba(48,49,54,.68);
		z-index: 1044;

		font: normal normal normal 14px/1 FontAwesome;
		font-size: 48px;
		color: $mainBlueColor;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		&:before {
			content: "\f021";
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-animation: fa-spin 2s infinite linear;
			animation: fa-spin 2s infinite linear;
		}

	}
}

.b-modal-calendar {
	.mfp-close {
		width: 44px;
		height: 34px;
		line-height: 34px;
	}
}
.cl-time-col-month {
	display: inline-block;
	@include max-screen($mediaSmall) {
		display: none;
	}
}
