<div class="cma-wrap">
	<?php if (isset($backlink)): echo $backlink; ?>
</div>


<?php else: ?>
	<div class="back-block cma-wrap">
		<a class="cma-backlink" href="<?php echo esc_attr(CMA::getReferer()); ?>"> &laquo; <?php echo CMA_Labels::getLocalized('back_to_previous_page'); ?></a>
	</div>
<?php endif; ?>

<?php
$additionalFormClass = (!CMA_Settings::getOption(CMA_Settings::OPTION_MARKUP_BOX)) ? 'no-markup-box' : '';
?>
<?php if( CMA_Thread::canPostAnswers()): ?>
<div class="cma-form-box">
	<div class="cma-form-container cma-answer-form-container <?php echo esc_attr($additionalFormClass); ?>">

	        <form action="<?php echo esc_attr($thread->getPermalink()); ?>" method="post" class="cma-form">
	            <input type="hidden" name="cma-thread" value="<?php echo esc_attr($post->ID); ?>"/>
	            <input type="hidden" name="cma-action" value="<?php echo (!empty($edit) ? 'edit' : 'add'); ?>" />
	            <h3>
	                <?php echo (empty($edit) ? CMA_Labels::getLocalized('post_your_answer') : CMA_Labels::getLocalized('edit_your_answer')); ?>
	            </h3>

	            <?php if(CMA_Settings::getOption(CMA_Settings::OPTION_MARKUP_BOX)) : ?>
	                <ul class="cma-form-notes">
	                    <li>
	                        <?php _e('Allow markup', 'cm-answers-pro');
	                        ?>: &lt;strong&gt;, &lt;em&gt;, &lt;a&gt;
	                    </li>
	                    <li>
	                        <?php _e('Wrap your code using', 'cm-answers-pro');
	                        ?> &lt;pre&gt;&lt;/pre&gt;
	                    </li>
	                </ul>
	            <?php endif; ?>

		        <div class="options-block">
			        <?php if (empty($edit)): ?>

				        <?php do_action('CMA_display_answer_form_upload'); ?>

				        <div class="cma-form-options">
					        <?php if($thread->canSubscribe()): ?>
						        <div class="custom-checkbox">
							        <input name="thread_notify" id="thread_notify" type="checkbox" value="1" <?php
							        if (CMA_Settings::getOption(CMA_Settings::OPTION_NOTIFY_CHECKBOX_CHECKED)) echo ' checked="checked"'; ?> />
							        <label class="cma-form-option-label" for="thread_notify">
								        <?php echo CMA_Labels::getLocalized('notify_me_of_follow'); ?>
							        </label>
						        </div>
					        <?php endif; ?>
					        <?php if($thread->canResolve()): ?>
						        <div class="custom-checkbox">
							        <input name="thread_resolved" id="thread_resolved" type="checkbox" value="1"/>
							        <label class="cma-form-option-label" for="thread_resolved">
								        <?php echo CMA_Labels::getLocalized('mark_as_resolved'); ?>
							        </label>
						        </div>
					        <?php endif; ?>
					        <?php if ($thread->canPostPrivateAnswer()): ?>
						        <div class="custom-checkbox">
							        <input name="private" id="private" type="checkbox" value="1" />
							        <label class="cma-form-option-label" for="private">
								        <?php echo CMA_Labels::getLocalized('private_answer'); ?>
							        </label>
						        </div>
					        <?php endif; ?>
				        </div>

			        <?php endif; ?>
		        </div>

	            <div class="form-box">
		        <?php
	                $questionEditorContent = '';
	                if(isset($populatedData['content']))
	                {
	                    $questionEditorContent = (CMA_Settings::getOption(CMA_Settings::OPTION_RICHTEXT_EDITOR) ?
							$populatedData['content'] :
							stripslashes(esc_html($populatedData['content']))
						);
	                }

	            if (CMA_Settings::getOption(CMA_Settings::OPTION_RICHTEXT_EDITOR))
	            {
	                wp_editor($questionEditorContent, 'answer-content-form', array('textarea_name' => 'content', 'textarea_rows' => 3));
	            }
	            else
	            {
	                ?>
	                <textarea class="cma-form-content" cols="50" rows="3" name="content" placeholder="<?php
	                    echo esc_attr(CMA_Labels::getLocalized('answer_input_label')); ?>"><?php echo esc_html($questionEditorContent); ?></textarea>
	                <?php
	            }
	            ?>

	            <p style="font-size:smaller;"><?php echo CMA::__('Attach YouTube/Vimeo clip putting the URL in brackets:'); ?> [https://youtu.be/Zkdf3kaso]</p>
	            </div>


				<?php do_action('cma_frontend_answer_form_body_after', $thread); ?>

	            <input type="submit" value="<?php echo esc_attr(CMA_Labels::getLocalized(empty($edit) ? 'button_post_your_answer' : 'button_edit_your_answer')); ?>" />

	            <?php do_action('cma_frontend_answer_form_bottom', $thread); ?>

	        </form>
	        <?php
	    elseif(!CMA::getPostingUserId()):
	        do_action('CMA_login_form');

	    ?>
	</div>
</div>
<?php endif; ?>
<script type="text/javascript">
jQuery(function($) {
	CMA_tags_init($);
});
</script>