<?php

global $post;
the_post();

$questionRatingEnabled  = CMA_Settings::getOption(CMA_Settings::OPTION_ENABLE_QUESTION_RATING);
$questionFavoriteEnabled = CMA_Settings::getOption(CMA_Settings::OPTION_ENABLE_MARK_FAVORITE_QUESTIONS);
$thread = CMA_Thread::getInstance($post->ID);
$currentSort = !empty($_GET['sort']) ? $_GET['sort'] : CMA_Answer::getOrderBy();
$answers = $thread->getAnswers($currentSort);
$threadAuthorId = $thread->getAuthorId();
$rating = intval($thread->getPostRating());
$backlinkUrl = (!empty($_GET['post_id']) AND is_numeric($_GET['post_id'])) ? get_permalink($_GET['post_id']) : CMA::getReferer();
$backlink = sprintf('<a class="cma-backlink" href="%s"> &laquo; %s</a>', esc_attr($backlinkUrl), CMA_Labels::getLocalized('back_to_previous_page'));
if (CMA_Settings::getOption(CMA_Settings::OPTION_COMMENTS_QUESTION_ENABLE) OR CMA_Settings::getOption(CMA_Settings::OPTION_COMMENTS_ANSWER_ENABLE)) {
	$threadComments = CMA_Comment::getCommentsByThread($thread->getId());
}
$usersStats[$threadAuthorId] = sprintf('(%s: %d, %s: %d)',
		CMA_Labels::getLocalized('Questions'),
		CMA_Thread::getCountQuestionsByUser($threadAuthorId),
		CMA_Labels::getLocalized('Answers'),
		CMA_Thread::getCountAnswersByUser($threadAuthorId));

if ($privateAnswerBackground = CMA_Settings::getOption(CMA_Settings::OPTION_PRIVATE_ANSWER_BGCOLOR)) {
	echo '<style type="text/css">.cma-answer-private {background-color: '. $privateAnswerBackground .';}</style>';
}

$user_id = get_current_user_id();
if(mch_user_has_access($user_id, 'view_forum') || CMA_Thread::canPostAnswers()):
?>

<?php do_action('CMA_breadcrumbs'); ?>

<div class="cma-wrap">
	<header class="entry-header">
		<h1 class="entry-title">
			<?php echo esc_html($thread->getTitle()); ?>
		</h1>
	</header>
</div>

<div class="cma-wrap">
<?php if (CMA_Settings::getOption(CMA_Settings::OPTION_SHOW_QUESTION_PAGE_NAV_BAR) AND empty($_GET['post_id'])) :
	include dirname(__FILE__) . '/../nav/nav-bar.phtml'; 
endif; ?>

<?php echo $backlink; ?>

<?php do_action('CMA_show_messages'); ?>

<?php echo CMA_Thread::getTags($post->ID); ?>
<?php if( CMA_Thread::showSocial() AND empty($_GET['widgetCacheId']) ) echo CMA_BaseController::_loadView('answer/widget/social', compact('thread')); ?>

<?php do_action('CMA_thread_before'); ?>
</div>
<div class="cma-wrap">
	<div class="forum-table">
		<div class="forum-row">
			<table class="cma-thread-list-row cma-question-table<?php
			if ($thread->isFavorite()) echo ' cma-question-favorite';
			if ($thread->isMarkedAsSpam()) echo ' cma-marked-spam';
			?>"
			       data-rating="<?php echo $rating; ?>" data-question-id="<?php echo $thread->getId(); ?>"
			       data-permalink="<?php echo esc_attr($thread->getPermalink()); ?>">
				<tr>
					<?php if( $questionRatingEnabled  OR $questionFavoriteEnabled ) : ?>
						<td class="cma-thread-meta cma-thread-meta-rating">
						<?php if( $questionRatingEnabled ) : ?>
							<div class="cma-rating">
								<div class="cma-rating-loading"></div>
								<a class="cma-thumbs-up" title="Thumbs Up!">+</a>
								<div class="cma-rating-count"><?php echo $rating; ?></div>
								<?php if( CMA_Settings::getOption(CMA_Settings::OPTION_NEGATIVE_RATING_ALLOWED) ): ?>
									<a class="cma-thumbs-down" title="Thumbs Down!">-</a>
								<?php endif; ?>
							</div>
						<?php endif; ?>
						<?php if ($questionFavoriteEnabled):
							$usersFavoriteNumber = count($thread->getUsersFavorite());
							?><a href="" class="cma-question-favorite-link" title="<?php
						echo esc_attr($thread->isFavorite() ? CMA::__('Unmark as favorite') : CMA::__('Mark as favorite')); ?>">
							<span class="icon">&hearts;</span>
					<span class="number" title="<?php
					echo esc_attr(sprintf(CMA_Labels::getLocalized('favorite_for_users'), $usersFavoriteNumber));
					?>"><?php echo $usersFavoriteNumber; ?></span>
							</a>
						<?php endif; ?>
						</td><?php endif; ?>
					<td class="cma-thread-summary">

						<div class="cma-content">

							<?php echo CMA_VideoHelper::processContent($thread->getContent()); ?>

							<?php $attachments = $thread->getAttachments();
							if( !empty($attachments) ): ?>
								<div class="cma-attachments"><?php _e('Attachments', 'cm-answers-pro'); ?>:
									<ul class="cma-attachment">
										<?php foreach ($attachments as $attachment): ?>
											<li><a href="<?php echo esc_attr($attachment->getURL()); ?>"><?php echo esc_html($attachment->getName()); ?></a></li>
										<?php endforeach; ?>
									</ul>
								</div>
							<?php endif; ?>

							<?php if ($thread->isResolved()): ?>
								<div class="cma-thread-resolved"><?php echo CMA_Labels::getLocalized('RESOLVED'); ?></div>
							<?php elseif( $thread->canResolve() ): ?>
								<form action="<?php echo esc_attr($thread->getPermalink()) ?>" method="post" class="cma-thread-resolve-form"  onsubmit="return confirm(<?php
								echo esc_attr(json_encode(CMA::__('Do you really want to resolve this thread?'))); ?>)">
									<input type="hidden" name="cma-action" value="resolve" />
									<button type="submit"><?php echo CMA_Labels::getLocalized('mark_as_resolved'); ?></button>
								</form>
							<?php endif; ?>

							<?php if ($thread->isMarkedAsSpam()): ?>
								<div class="cma-thread-spam"><strong><?php echo CMA_Labels::getLocalized('thread_marked_spam'); ?></strong></div>
							<?php endif; ?>

						</div>



						<div class="cma-description">
							<div class="opdates-info-block">
								<div class="cma-question-author question">
									<div class="cma-thread-updated">
										<?php
										if( CMA_Thread::showGravatars() )
										{
											echo get_avatar($thread->getAuthorId(), 32);
										}
										printf(CMA::__('By: %s'),
                                            '<b>'.$thread->getAuthor()->nickname.'</b>');
										if( CMA_Thread::getShowUserStats() )
										{
											echo ' '. $usersStats[$threadAuthorId];
										}
										printf(CMA_Labels::getLocalized('asked_on'), $thread->getCreationDate());
										?>
									</div>



									<?php
									$lastAnswer  =  !empty($answers) ?  $answers[0] : false;
									if($lastAnswer != false ):?>
										<div class="cma-thread-updated">
											<?php
											printf(CMA_Labels::getLocalized('update_on_by'),
                                                '<b>'.$thread->getAuthor()->nickname.'</b>' ,
												CMA_Thread::renderDaysAgo($lastAnswer->getCreationDate(), FALSE));

											?>
										</div>
									<?php endif; ?>
								</div>
							</div>


							<div class="numbers-right-block">
								<div class="box-item">
									<div class="item-views"><?php echo $thread->getViews(); ?></div>
								</div>
								<div class="box-item">
									<div class="item-answers"><?php echo !empty($answers) && count($answers) > 0 ? count($answers) + 1 : 0 ; ?></div>
								</div>
							</div>


						</div>

					</td>
				</tr>
			</table>
		</div>
	</div>


<?php if( !empty($answers) ): ?>

	<?php do_action('CMA_thread_answers_before'); ?>

	<?php if( CMA_Settings::getOption(CMA_Settings::OPTION_ANSWERS_RATING_ALLOWED) AND count($answers) > 1 AND empty($_GET['widgetCacheId'])): ?>
		<ul class="cma-thread-orderby cma-answers-orderby">
			<?php
			$sortingByDateClass = ($currentSort == CMA_Answer::ORDER_BY_DATE) ? 'cma-current-sort' : '';
			$sortingByDateLabel = CMA_Labels::getLocalized(CMA_Thread::isAnswerSortingDesc() ? 'orderby_newest' : 'orderby_oldest');

			$sortingByVotesClass = ($currentSort == CMA_Answer::ORDER_BY_VOTES) ? 'cma-current-sort' : '';
			$sortingByVotesLabel = CMA_Labels::getLocalized(CMA_Thread::isAnswerSortingDesc() ? 'orderby_highest_rating' : 'orderby_lowest_rating');
			?>
			<li class="<?php echo esc_attr($sortingByDateClass); ?>">
				<a href="?sort=newest"><?php echo esc_html($sortingByDateLabel); ?></a>
			</li>
			<li class="<?php echo esc_attr($sortingByVotesClass); ?>">
				<a href="?sort=votes"><?php echo esc_html($sortingByVotesLabel); ?></a>
			</li>
		</ul>
	<?php endif;
	
	
	$bestAnswerId = $thread->getBestAnswerId();
	
	?>

	<div class="cma-answers-list-box">
		<div class="cma-answers-list cma-best-answer-<?php echo (!empty($bestAnswerId) ? '' : 'un'); ?>defined">
			<?php foreach($answers as $answer): ?>
				<?php
				if (!$answer->isVisible()) continue;
				$isBestAnswer = (CMA_Settings::getOption(CMA_Settings::OPTION_ENABLED_MARK_BEST_ANSWER) AND $bestAnswerId == $answer->getId());
				$rating = intval($answer->getRating());
				?>

				<div class="answers-row" data-answer-id="<?php echo esc_attr($answer->getId()); ?>" data-rating="<?php echo $rating ?>"
				    data-permalink="<?php echo esc_attr($answer->getPermalink()); ?>" class="cma-answer<?php
				if ($isBestAnswer) echo ' cma-best-answer';
				if ($answer->isMarkedAsSpam()) echo ' cma-marked-spam';
				if ($answer->isPrivate()) echo ' cma-answer-private';
				?>">



					<?php
					$answerContentAdditionalClass = CMA_Settings::getOption(CMA_Settings::OPTION_ANSWERS_RATING_ALLOWED) ? 'cma-answer-norating-content' : '';
					?>
					<div class="cma-answer-content <?php echo esc_attr($answerContentAdditionalClass); ?>">
						<a id="answer-<?php echo esc_attr($answer->getId()); ?>" class="anchor"></a>
						<div class="cma-answer-body">
							<?php if ($answer->isPrivate()) echo '<div class="cma-answer-private-flag">'. CMA_Labels::getLabel('private_answer_flag') .'</div>'; ?>
							<?php echo CMA_VideoHelper::processContent($answer->getContent()); ?>

							<?php $attachments = $answer->getAttachments();
							if( !empty($attachments) ): ?>
								<div class="cma-attachments"><?php _e('Attachments', 'cm-answers-pro'); ?>:
									<ul class="cma-attachment">
										<?php foreach ($attachments as $attachment): ?>
											<li><a href="<?php echo esc_attr($attachment->getURL()); ?>"><?php echo esc_html($attachment->getName()); ?></a></li>
										<?php endforeach; ?>
									</ul>
								</div>
							<?php endif; ?>

						</div>

						<?php if ($answer->isMarkedAsSpam()): ?>
							<div class="cma-answer-spam"><strong><?php echo CMA_Labels::getLocalized('answer_marked_spam'); ?></strong></div>
						<?php endif; ?>

						<div class="cma-answer-meta-1">


							<div class="cma-answer-author">
								<?php
								if( CMA_Thread::showGravatars() )
								{
									echo get_avatar($answer->getAuthorId(), 32);
								}
								$authorLink = __('By: %s ( %s ) ', 'cm-answers-pro');
								printf($authorLink, '<b>'.$thread->getAuthor()->nickname.'</b>', CMA_Thread::renderDaysAgo($answer->getCreationDate(), FALSE));
								if( CMA_Thread::getShowUserStats() )
								{
									if( !isset($usersStats[$answer->getAuthorId()]) )
									{
										$usersStats[$answer->getAuthorId()] = sprintf('(%s: %d, %s: %d)',
											CMA_Labels::getLocalized('Questions'),
											CMA_Thread::getCountQuestionsByUser($answer->getAuthorId()),
											CMA_Labels::getLocalized('Answers'),
											CMA_Thread::getCountAnswersByUser($answer->getAuthorId()));
									}
									echo ' '. $usersStats[$answer->getAuthorId()];
								}
								?>
							</div>

							<div class="numbers-right-block">
								<?php if( CMA_Settings::getOption(CMA_Settings::OPTION_ANSWERS_RATING_ALLOWED) ): ?>
									<div class="cma-rating">
										<div class="cma-rating-loading"></div>
										<?php if( CMA_Settings::getOption(CMA_Settings::OPTION_NEGATIVE_RATING_ALLOWED) ): ?>
											<a class="cma-thumbs-up" title="Thumbs Up!">-</a>
										<?php endif; ?>
										<span class="cma-rating-count"><?php echo $rating; ?></span>
										<a class="cma-thumbs-down" title="Thumbs Down!">+</a>
									</div>
								<?php endif; ?>
								<?php if (CMA_Settings::getOption(CMA_Settings::OPTION_ENABLED_MARK_BEST_ANSWER)): ?>
									<div class="cma-best-answer-icon" title="<?php
									echo esc_attr(CMA_Labels::getLocalized('best_answer'));
									?>"><span class="icon">&#10004;</span></div>
								<?php endif; ?>
							</div>


						</div>

						<ul class="cma-controls controls">
							<?php if( $answer->canEdit() ): ?>
								<li><a href="<?php echo esc_attr($answer->getEditURL()); ?>" class="edit"><?php echo CMA::__('Edit'); ?></a></li>
							<?php endif; ?>
							<?php if( $thread->canMarkBestAnswer() ): ?>
								<li class="cma-mark-best-answer"><a href="" data-answer-id="<?php echo esc_attr($answer->getId()) ?>"><?php
										echo CMA_Labels::getLocalized('mark_as_best_answer'); ?></a></li>
								<li class="cma-unmark-best-answer"><a href="" data-answer-id="<?php echo esc_attr($answer->getId()) ?>"><?php
										echo CMA_Labels::getLocalized('unmark_best_answer'); ?></a></li>
							<?php endif; ?>
							<?php if (CMA_Settings::canReportSpam()): ?>
								<li><a href="<?php echo esc_attr($answer->getPermalink()); ?>" class="cma-report-spam"><?php
										echo CMA_Labels::getLocalized('report_spam') ?></a></li>
							<?php endif; ?>
							<?php if (current_user_can('manage_options')): ?>
								<li><a href="#" class="cma-unmark-spam"><?php
										echo CMA_Labels::getLocalized('unmark_as_spam') ?></a></li>
							<?php endif; ?>
						</ul>

						<?php //do_action('CMA_comments_answer', $answer->getThreadId(), $answer->getId()); ?>

					</div>

				</div>

			<?php
			endforeach;
			?>
		</div>
	</div>

	<?php
	
	do_action('CMA_thread_answers_after');
	
endif; ?>

</div>

<?php
/*
 * CMA-Form
 * - Answer form if the user is logged in
 * - Login form if the user is not logged in
 */
if( !$thread->isResolved() || CMA_Settings::getOption(CMA_Settings::OPTION_ANSWER_AFTER_RESOLVED) )
{
	echo CMA_BaseController::_loadView('answer/widget/answer-form', compact('post', 'thread', 'backlink'));
	do_action('CMA_thread_answers_form_after');
}


?>
<script type="text/javascript">
jQuery(function($) {
	CMA_comments_init($);
	CMA_private_question_init($);
});
</script>

<?php else: ?>
<div class="error-msg"><h2><?php echo __('You don\'t permitted to view forum'); ?></h2></div>
<?php endif; ?>