.category,
.single-post {
    .inner-wrapper{
        background:url(../img/bg-blog.jpg) center 95px no-repeat;
        background-size: 100%;
    }
    .content-wrapper[role="main"]{
        margin: 128px auto 60px;
        padding: 29px 90px 42px;
        max-width: 1000px;
        background:#fff;
        border-radius: 6px;
        border: 1px solid $borderColorContent;
        overflow: hidden;
        @include max-screen($mediaSmall){
            padding: 29px 10px 12px;
        }
    }
    .content-header {
        padding-bottom: 17px;
        margin-bottom: 20px;
        border-bottom: 1px solid $borderColorTitle;
        overflow: hidden;
        h1{
            padding: 0;
            margin: 0;
            line-height: 48px;
        }
    }
  .subscribe-wrapp{
    overflow: hidden;
    p{
      margin-bottom: 21px;
    }
    p:first-child{
      float: left;
      width: 70.5%;
      margin-right: 2.5%;
      @include max-screen($mediaSmall){
        float: none;
        width: 100%;
        margin: none;
      }
    }
    p:last-child{
      float: right;
      width: 27%;
      padding-top: 26px;
      @include max-screen($mediaSmall){
        float: none;
        width: 100%;
        padding-top: 0;
      }
    }
    input[type="submit"]{
      width: 100%;
      border: 1px solid #ff5d5d;
      background: transparent;
      color: #ff5d5d;
      font-weight: normal;
      text-transform: uppercase;
      &:hover{
        color: #fff;
        background: #ff5d5d;
      }
    }
  }
  .post-category{
    ul{
      padding-top: 1px;
    }
    li{
      display: inline-block;
      vert-align: top;
      margin-right: 8px;
    }
    a{
      display: block;
      padding: 2px 15px;
      border: 1px solid #ff5d5d;
      border-radius: 4px;
      line-height: 24px;
      &:hover{
        text-decoration: none;
        color: #fff;
        background: #ff5d5d;
      }
      &.active{
        font-weight: bold;
      }
    }
  }
  h1{
        color: #575c63;
        text-align: left;
        border-color: #e9edf1;
        padding-bottom: 19px;
        margin-bottom: 17px;
    }
    h2{
        margin: 0 0 18px;
        color: #000;
    }
    input[type="submit"]{
        margin-top: 4px;
    }
    .post-info{
        overflow: hidden;
        font-size: 16px;
        line-height: 22px;
        p{
            margin: 0 0 1px;
        }
    }
    .before-posts{
        margin: 0 0 30px;
    }
    .post-thumbnail{
        float: left;
        max-width: 100px;
        margin: 0 30px 10px 0;
        @include max-screen($mediaSmall){
            margin: 0 auto 20px;
            text-align: center;
            float: none;
        }
        img{
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
        }
    }
    .post-body{
        overflow: hidden;
    }
    .post{
        border: 1px solid #dfe0e5;
        border-radius: 6px;
        padding: 26px 29px;
        margin: 0 0 30px;
    }
    .read-more{
        text-align: right;
        font-size: 14px;
        line-height: 16px;
    }
    .pagination{
        text-align: center;
        font-size: 16px;
        line-height: 36px;
        padding: 15px 0 1px;
        a{
            display: inline-block;
            vertical-align: middle;
            margin: 0 6px;
            min-width: 38px;
            height: 38px;
            padding: 0 14px;
            color: #000;
            border-radius: 26px;
            border: 1px solid transparent;
            @include max-screen($mediaSmall){
                margin: 0 6px;
            }
            &:hover{
                text-decoration: none;
                border-color: #f7f7f7;
            }
        }
        span{
            display: inline-block;
            vertical-align: middle;
            width: 38px;
            height: 38px;
            border: 1px solid #e0e1e6;
            border-radius: 50%;
            color: #f8984d;
        }
    }
}
.single-post{
    .content-wrapper[role="main"]{
        padding: 0;
    }
    .post{
        margin: 0;
    }
    .post-image{
        text-align: center;
        margin: 0 0 20px;
        a,
        img{
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
        }
    }
    .date{
        display: inline-block;
        vertical-align: top;
        margin: 0 10px 10px 0;
        color: #b2b3b8;
        font-style: italic;
    }
    .author{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px;
        color: #000;
        font-style: italic;
    }
}
.create-post {
    float: right;
    @include max-screen($mediaSmall){
        float: none;
        text-align: center;
    }
    .create-post-link {
        display: inline-block;
        padding: 0 57px;
        border-radius: 6px;
        border: 1px solid $buttonHover;
        font-size: 16px;
        line-height: 48px;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        background: $buttonHover;
    }
}
.category-blog {
    .content-wrap {
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e9edf1;
    }
    #comments {
        h2 {
            font-size: 18px;
            margin-bottom: 0;
        }
        h3 {
            margin-bottom: 0;
        }
    }
}
