body.pricing {
    background: $bgContent;
    .content-wrapper {
        h1 {
            border-bottom: 1px solid $borderColor;
            padding-bottom: 45px;
            margin-bottom: 13px;
            font-size: 26px;
            font-weight: 32px;
            text-align: center;
        }
        table {
            width: 100%;
            max-width: 100%;
            border: none;
            color: $textColor;
            tr {
                &:nth-child(even) {
                    td {
                        background: #fbfbfb;
                    }
                }
                td {
                    border: none;
                    font-size: 16px;
                    line-height: 20px;
                    padding: 10px;
                    vertical-align: middle;
                    text-align: center;
                    &:first-child {
                        text-align: left;
                        padding-left: 40px;
                        color: #9baaba;
                    }
                    &:nth-child(1n + 2) {
                        width: 17.5%;
                        min-width: 140px;
                    }
                }
                &:first-child {
                    td {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 40px;
                        padding-left: 18px;
                        color: #a1afbe;
                    }
                }
                &.aux {
                    td {
                        background: none;
                        height: 30px;
                        padding: 0;
                    }
                }
                &:last-child {
                    border-top: 1px solid #f1f1f6;
                    td {
                        color: #ced4db;
                        background: none;
                        padding-top: 40px;
                        span {
                            color: $titleColor;
                        }
                        &:first-child {
                            color: $textColor;
                        }
                    }
                }
            }
            .chosen-container {
                min-width: 172px;
                .chosen-single {
                    border: 1px solid $titleColor;
                    height: 34px;
                    span {
                        color: $titleColor;
                        font-size: 16px;
                        font-weight: normal;
                        line-height: 32px;
                        padding-left: 10px;

                    }
                }
                .chosen-drop {
                    border-color: $titleColor;
                }
                .chosen-results {
                    li {
                        &.result-selected {
                            color: $titleColor;
                        }
                        color: #b8c2cd;
                        &:hover {
                            color: #575c63;
                        }
                    }
                }
            }
            .chosen-container .chosen-results {
                padding: 0 0 0 14px;
                li {
                    font-size: 16px;
                    font-weight: normal;
                    &:hover {
                        background: none;
                    }
                }
            }
            .chosen-container-single .chosen-single div b {
                background: url('../img/chosen-sprite.png') no-repeat 0px 8px;
            }
            .chosen-container-active.chosen-with-drop .chosen-single div b {
                background-position: -18px 8px;
            }
        }
    }
}