.single-p-d {
    .content-wrapper {
        max-width: 1000px;
        padding: 20px 90px;
        margin-bottom: 100px;
        border: 1px solid $borderColorContent;
        border-radius: 4px;
        color: $textColor;
        font-size: 16px;
        line-height: 30px;
        @include max-screen($mediaSmall){
            padding: 20px 10px;
        }
        h1, h2 {
            font-weight: bold;
            text-align: center;
            color: $textColor;
        }
        h1 {
            text-align: left;
            font-size: 26px;
            line-height: 32px;
            text-transform: uppercase;
        }
        h2 {
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 35px;
        }
        h4 {
            text-align: center;
        }
        .popup-with-form {
            margin: 0 auto;
        }
        table {
            max-width: 100%;
            width: 100%;
            text-align: center;
            tr {
                td {
                    width: 33.333%;
                    @include max-screen($mediaSmall){
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        .chosen-container-single {
            min-width: 140px;
        }
        hr {
            width: 96px;
            border: 1px solid #f1f1f6;
        }
    }
    .course-description {
        padding-top: 60px;
    }
}