.school-page {
    .page {
        padding: 130px 0 0;
        @include max-screen($mediaSmall){
            padding-top: 50px;
        }
    }
    .bg-page {
        display: block;
        @include max-screen($mediaSmall){
            top: -100px;
        }
    }
    .content-header {
        margin-bottom: 20px;
        h1 {
            float: none;
            padding-bottom: 19px;
            border-bottom: 1px solid $borderColorTitle;
        }
    }
    .content-wrapper {
        padding-bottom: 40px;
        color: $black;
        h2 {
            margin-bottom: 4px;
            font-size: 23px;
            line-height: 32px;
            text-align: left;
            color: $titleColor;
        }
        p {
            line-height: 22px;
        }
    }
    .mss-gallery {
        padding-top: 30px;
        margin: 0 -10px 31px;
        font-size: 0;
        line-height: 0;
        @include max-screen($mediaSmall){
            padding-top: 20px;
        }
        .mss-gallery-item {
            display: inline-block;
            vertical-align: top;
            width: 33.333%;
            padding: 0 10px;
            margin-bottom: 20px;
            font-size: 19px;
            line-height: 22px;
            @include max-screen($mediaMedium){
                width: 50%;
            }
            @include max-screen($mediaSmall){
                width: 100%;
            }
        }
        .item-content {
            padding: 14px 19px 24px;
            border: 1px solid $borderColorGallery;
            border-radius: 4px;
            text-align: center;
        }
        .item-content-title {
            display: table;
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .mss-gallery-links {
        text-align: center;
        margin-bottom: 133px;
        @include max-screen($mediaSmall){
            margin-bottom: 50px;
        }
        a {
            display: inline-block;
            vertical-align: top;
            min-width: 270px;
            padding: 11px;
            color: $white;
            border-radius: 5px;
            @include max-screen($mediaSmall){
                display: block;
                min-width: 0px;
                max-width: 270px;
                margin: 0 auto 20px;
            }
            &:hover {
                text-decoration: none;
                opacity: .8;
            }
        }
        .blog-link {
            background: $redButtonColor;
        }
        .gallery-link {
            margin-left: 20px;
            background: $blueButtonColor;
            @include max-screen($mediaSmall){
                margin-left: auto;
            }
        }
    }
    .mss_pagination {
        font-size: 0;
        line-height: 0;
        text-align: center;
        .page-numbers {
            display: inline-block;
            vertical-align: top;
            min-width: 40px;
            padding: 11px;
            border: 1px solid $white;
            border-radius: 20px;
            margin-left: 13px;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: $black;
            &:first-child {
                margin-left: 0;
            }
            &:hover {
                border-color: $paginationBorder;
                text-decoration: none;
                color: $black;
            }
            &.current {
                border-color: $paginationBorderActive;
                color: $buttonHover;
            }
        }
    }
}
.sub-menu {
    .popup-with-form {
        line-height: 30px;
    }
}