<?php

global $wp, $wp_query;

// ----------------------------------------------------------------------------------------
// If AJAX request - restore some params
if ($widgetOptions = CMA_AnswerController::restoreWidgetOptions()) {
    if (!empty($widgetOptions['displayOptions'])) {
        $displayOptions = $widgetOptions['displayOptions'];
    }
}
if (empty($displayOptions) OR !is_array($displayOptions)) {
    $displayOptions = array();
}
if (empty($questions)) {
    $questions = array_filter(array_map(function ($post) {
        return CMA_Thread::getInstance($post->ID);
    }, $wp_query->posts));
}
if (empty($widgetCacheId)) {
    $widgetCacheId = (!empty($_GET['widgetCacheId']) ? $_GET['widgetCacheId'] : NULL);
}
// -----------------------------------------------------------------------------------------

do_action('CMA_show_messages');

$current_url = home_url(add_query_arg(array(), $wp->request), 'relative');
if (empty($questionLinkQuery)) {
    $questionLinkQuery = array();
}
if (isset($wp_query->queried_object) AND isset($wp_query->queried_object->term_id)) {
    $currentCategoryId = $wp_query->queried_object->term_id;
} else {
    if (!empty($category)) {
        $currentCategoryId = $category->getId();
    } else {
        $currentCategoryId = NULL;
    }
}
if (empty($currentCategoryId) AND !empty($cat)) {
    $categorySlug = explode(',', $cat);
    if ($category = new CMA_Category(get_term_by('slug', $categorySlug[0], CMA_Category::TAXONOMY))) {
        $currentCategoryId = $category->getId();
    }
}
if ($currentCategoryId) {
    $category = CMA_Category::getInstance($currentCategoryId);
}
$paginationArguments = compact('maxNumPages', 'widgetCacheId');
if (!empty($widget)) {
    $paginationArguments['paged'] = 0;
}
$paginationBase = (empty($category) ? get_post_type_archive_link(CMA_Thread::POST_TYPE) : $category->getPermalink());

$user_id = get_current_user_id();

//If it is ajax - output all

if(isset($_SERVER['HTTP_X_REQUESTED_WITH']) && !empty($_SERVER['HTTP_X_REQUESTED_WITH']) && strtolower($_SERVER['HTTP_X_REQUESTED_WITH']) == 'xmlhttprequest') { ?>

    <div class="cma-questions-widget content-wrapper"
     data-widget-cache-id="<?php echo esc_attr($widgetCacheId); ?>"
     data-backlink="<?php echo esc_attr(base64_encode(!empty($widget) ? $paginationBase : $_SERVER['REQUEST_URI'])); ?>">

    <?php if (!empty($displayOptions['navbar'])): ?>
        <?php include dirname(__FILE__) . '/../nav/nav-bar.phtml'; ?>
    <?php endif; ?>

    <div
        class="cma-questions-container cma-container <?php if (isset($displayOptions['wrapperclass'])) {
            echo $displayOptions['wrapperclass'];
        }
        ?>"
        data-pagination='<?php echo esc_attr(json_encode($paginationArguments)); ?>'>

    <?php if ($displayOptions['form'] AND $displayOptions['formontop']) :
        // CMA-QuestionForm
        // - Question form if the user is logged in
        // - Login form if the user is not logged in
        echo CMA_BaseController::_loadView('answer/widget/question-form', compact('post', 'thread', 'catId', 'widgetCacheId'));
    endif; ?>



    <?php if ($displayOptions['search']): ?>
        <div class="cma-thread-search">
            <form method="GET"
                  action="<?php echo esc_attr(get_post_Type_archive_link(CMA_Thread::POST_TYPE)) ?>"
                  id="cma-ajax-search">
                <input type="text" name="search" id="cma-ajax-search-term"
                       placeholder="<?php echo esc_attr(CMA_Labels::getLocalized('search_questions')); ?>"
                       value="<?php echo esc_attr(get_query_var('search')); ?>"/>
                <input type="submit" value="&gt;" class="cma-ajax-search"/>
            </form>
        </div>
    <?php endif; ?>

    <?php if (!$displayOptions['hideQuestions']): ?>

    <?php if (!empty($displayOptions['sortbar'])): ?>
        <?php include dirname(__FILE__) . '/../nav/sort-bar.phtml'; ?>
    <?php endif; ?>

    <?php if (isset($_GET["sort"]) || isset($_GET["cmatag"]) || isset($_GET["sort"]) || isset($_GET["search"])) : ?>
        <div class="back-block">
            <a class="cma-backlink cma-backlink-ajaxtag"
               href="<?php echo esc_attr($current_url) ?>">&laquo; <?php echo CMA_Labels::getLocalized('back_full_questions_list') ?></a>
        </div>
    <?php endif; ?>

    <?php do_action('CMA_questions_table_before'); ?>

    <?php if (!empty($questions)): ?>
        <div class="forum-table cma-thread-list<?php
        if (CMA_Settings::getOption(CMA_Settings::OPTION_INDEX_NUMBERS_VERTICALLY)) {
            echo ' numbers-vertically';
        }
        if ($displayOptions['resolvedPrefix']) {
            echo ' display-resolved-prefix';
        }
        if ($displayOptions['icons']) {
            echo ' display-icons';
        }
        ?>">
            <?php foreach ($questions as $thread): ?>
                <?php
                $numberOfAnswers = (CMA_Settings::getOption(CMA_Settings::OPTION_VOTES_NO) && $thread->getNumberOfAnswers() == 0) ? CMA::__('no') : $thread->getNumberOfAnswers();
                $additionalThreadClass = $thread->isSticky() ? 'cma_sticky_background' : '';
                $additionalThreadClass .= ' ' . ($thread->getNumberOfAnswers() > 0 ? 'answered' : 'unanswered');
                $additionalThreadClass .= ' ' . ($thread->isResolved() ? 'resolved' : '');
                ?>
                <div class="forum-row">
                    <table class="cma-thread-list-row <?php echo esc_attr($additionalThreadClass); ?>">
                        <tr>
                            <?php if ($displayOptions['votes'] OR $displayOptions['views'] OR $displayOptions['answers'] OR !empty($displayOptions['statusinfo'])): ?>
                                <td class="cma-thread-meta">

                                    <?php if ($displayOptions['votes']):
                                        $votes = intval($thread->getPostRating());

                                        ?>
                                        <div class="cma-thread-numbers-1 numbers-votes cma-thread-votes">
                                            <div
                                                class="cma-thread-numbers-count cma-thread-votes-count<?php if($votes < 0) echo ' red' ; ?>"><?php
                                                echo $votes;
                                                // echo (CMA_Settings::getOption(CMA_Settings::OPTION_VOTES_NO) && $thread->getVotes() === 0) ? 'no' : $thread->getVotes();
                                                ?></div>

                                        </div>
                                    <?php endif; ?>

                                    <?php if (!empty($displayOptions['statusinfo'])): ?>
                                        <div class="cma-thread-numbers cma-thread-answers">
                                            <div
                                                class="cma-thread-numbers-count cma-thread-answers-count">
                                                &nbsp;
                                            </div>
                                            <div
                                                class="cma-thread-numbers-caption cma-thread-answers-caption"><?php
                                                echo esc_html($thread->getStatus());
                                                ?></div>
                                        </div>
                                    <?php endif; ?>

                                </td>
                            <?php endif; ?>

                            <td class="cma-thread-summary">

                                <div class="cma-content">
                                    <a
                                        href="<?php echo esc_attr($thread->getPermalinkWithBacklink($questionLinkQuery)); ?>"
                                        title="<?php echo esc_attr($thread->getContent(100, TRUE)); ?>"><?php
                                        if ($thread->isResolved()) {
                                            echo '<span class="resolved">[' . CMA_Labels::getLocalized('RESOLVED') . '] </span>';
                                        }
                                        echo esc_html($thread->getTitle(FALSE)); ?></a>
                                </div>

                                <div class="cma-description">
                                    <div class="opdates-info-block">
                                        <?php if (!empty($displayOptions['authorinfo'])): ?>
                                            <div class="cma-thread-updated">
                                                <?php printf(CMA_Labels::getLocalized('asked_on_by'),
                                                    '<b>'.$thread->getAuthor()->nickname.'</b>',
                                                    CMA_Thread::renderDaysAgo($thread->getUnixDate(), FALSE)); ?>
                                            </div>
                                        <?php endif; ?>

                                        <?php if (!empty($displayOptions['updated']) AND $lastPoster = $thread->getLastPoster()): ?>
                                            <div class="cma-thread-updated">
                                                <?php
                                                $currentSort = !empty($_GET['sort']) ? $_GET['sort'] : CMA_Answer::getOrderBy();
                                                $answers = $thread->getAnswers($currentSort);

                                                $lastAnswer  =  !empty($answers) ?  $answers[0] : false;
                                                if($lastAnswer != false ):?>
                                                    <div class="cma-thread-updated">
                                                        <?php
                                                        printf(CMA_Labels::getLocalized('update_on_by'),
                                                            '<b>'.$thread->getAuthor()->nickname.'</b>' ,
                                                            CMA_Thread::renderDaysAgo($lastAnswer->getCreationDate(), FALSE));

                                                        ?>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>

                                    <div class="numbers-right-block">
                                        <?php if ($displayOptions['views']): ?>
                                            <div class="box-item">
                                                <div
                                                    class="item-views"><?php
                                                    echo (CMA_Settings::getOption(CMA_Settings::OPTION_VOTES_NO) && $thread->getViews() === 0) ? 'no' : $thread->getViews();
                                                    ?></div>

                                            </div>
                                        <?php endif; ?>

                                        <?php if ($displayOptions['answers']): ?>
                                            <div
                                                class="box-item<?php if ($numberOfAnswers == 0 || $numberOfAnswers == 'no'): ?> cma-thread-no-answers<?php endif; ?>">
                                                <div
                                                    class="item-answers"><?php
                                                    echo $numberOfAnswers;
                                                    ?></div>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <?php if ($displayOptions['tags']) {
                                    echo CMA_Thread::getTags($thread->getId());
                                } ?>
                            </td>
                        </tr>
                    </table>
                </div>
            <?php endforeach; ?>
        </div>

        <?php do_action('CMA_questions_table_after'); ?>

    <?php else: ?>
    <p class="c"><?php echo CMA_Labels::getLocalized('no_questions_found'); ?>
        <?php endif; ?>
        <?php if ($displayOptions['pagination']):
            $paginationArguments = isset($paginationArguments) ? array_merge($paginationArguments, $_GET) : array();
            $paginationArguments['search'] = isset($search) ? $search : '';
            echo CMA_AnswerController::showPagination($paginationArguments, $paginationBase);
        endif; // pagination ?>

        <?php endif; // !hidequestions ?>

        <script type="text/javascript">
            jQuery(function ($) {
                CMA_private_question_init($);
            });
        </script>

        <?php if (!empty($category) AND CMA_Category::canBeFollower()): ?>
        <p><a href="<?php echo esc_attr($category->getPermalink()); ?>"
              class="cma-follow-link"
              data-category-id="<?php echo $category->getId() ?>"><?php
                echo CMA_Labels::getLocalized($category->getFollowersEngine()
                    ->isFollower() ? 'unfollow_category' : 'follow_category'); ?></a></p>
    <?php endif; ?>


    </div>
</div>
    <?php if(mch_user_has_access($user_id, 'ask_forum')): ?>
        <div class="cma-form-box">
            <?php if ($displayOptions['form'] AND !$displayOptions['formontop']) :
                // CMA-QuestionForm
                // - Question form if the user is logged in
                // - Login form if the user is not logged in
                echo CMA_BaseController::_loadView('answer/widget/question-form', compact('post', 'thread', 'catId', 'widgetCacheId'));
            endif; ?>
        </div>
    <?php endif;

    exit;

}

//If it isn't ajax - check everything

if(mch_user_has_access($user_id, 'view_forum') || CMA_Thread::canPostAnswers()):
?>

<div class="cma-questions-widget content-wrapper"
     data-widget-cache-id="<?php echo esc_attr($widgetCacheId); ?>"
     data-backlink="<?php echo esc_attr(base64_encode(!empty($widget) ? $paginationBase : $_SERVER['REQUEST_URI'])); ?>">

    <?php if (!empty($displayOptions['navbar'])): ?>
        <?php include dirname(__FILE__) . '/../nav/nav-bar.phtml'; ?>
    <?php endif; ?>

    <div
        class="cma-questions-container cma-container <?php if (isset($displayOptions['wrapperclass'])) {
            echo $displayOptions['wrapperclass'];
        }
        ?>"
        data-pagination='<?php echo esc_attr(json_encode($paginationArguments)); ?>'>

        <?php if ($displayOptions['form'] AND $displayOptions['formontop']) :
            // CMA-QuestionForm
            // - Question form if the user is logged in
            // - Login form if the user is not logged in
            echo CMA_BaseController::_loadView('answer/widget/question-form', compact('post', 'thread', 'catId', 'widgetCacheId'));
        endif; ?>



        <?php if ($displayOptions['search']): ?>
            <div class="cma-thread-search">
                <form method="GET"
                      action="<?php echo esc_attr(get_post_Type_archive_link(CMA_Thread::POST_TYPE)) ?>"
                      id="cma-ajax-search">
                    <input type="text" name="search" id="cma-ajax-search-term"
                           placeholder="<?php echo esc_attr(CMA_Labels::getLocalized('search_questions')); ?>"
                           value="<?php echo esc_attr(get_query_var('search')); ?>"/>
                    <input type="submit" value="&gt;" class="cma-ajax-search"/>
                </form>
            </div>
        <?php endif; ?>

        <?php if (!$displayOptions['hideQuestions']): ?>

    <?php if (!empty($displayOptions['sortbar'])): ?>
        <?php include dirname(__FILE__) . '/../nav/sort-bar.phtml'; ?>
    <?php endif; ?>

    <?php if (isset($_GET["sort"]) || isset($_GET["cmatag"]) || isset($_GET["sort"]) || isset($_GET["search"])) : ?>
	    <div class="back-block">
		    <a class="cma-backlink cma-backlink-ajaxtag"
		       href="<?php echo esc_attr($current_url) ?>">&laquo; <?php echo CMA_Labels::getLocalized('back_full_questions_list') ?></a>
	    </div>
    <?php endif; ?>

    <?php do_action('CMA_questions_table_before'); ?>

    <?php if (!empty($questions)): ?>
        <div class="forum-table cma-thread-list<?php
        if (CMA_Settings::getOption(CMA_Settings::OPTION_INDEX_NUMBERS_VERTICALLY)) {
            echo ' numbers-vertically';
        }
        if ($displayOptions['resolvedPrefix']) {
            echo ' display-resolved-prefix';
        }
        if ($displayOptions['icons']) {
            echo ' display-icons';
        }
        ?>">
            <?php foreach ($questions as $thread): ?>
                <?php
                $numberOfAnswers = (CMA_Settings::getOption(CMA_Settings::OPTION_VOTES_NO) && $thread->getNumberOfAnswers() == 0) ? CMA::__('no') : $thread->getNumberOfAnswers();
                $additionalThreadClass = $thread->isSticky() ? 'cma_sticky_background' : '';
                $additionalThreadClass .= ' ' . ($thread->getNumberOfAnswers() > 0 ? 'answered' : 'unanswered');
                $additionalThreadClass .= ' ' . ($thread->isResolved() ? 'resolved' : '');
                ?>
	            <div class="forum-row">
                <table class="cma-thread-list-row <?php echo esc_attr($additionalThreadClass); ?>">
                    <tr>
	                <?php if ($displayOptions['votes'] OR $displayOptions['views'] OR $displayOptions['answers'] OR !empty($displayOptions['statusinfo'])): ?>
                        <td class="cma-thread-meta">

                            <?php if ($displayOptions['votes']): 
                                    $votes = intval($thread->getPostRating());

                            ?>
                                <div class="cma-thread-numbers-1 numbers-votes cma-thread-votes">
                                    <div
                                        class="cma-thread-numbers-count cma-thread-votes-count<?php if($votes < 0) echo ' red' ; ?>"><?php
                                        echo $votes;
                                       // echo (CMA_Settings::getOption(CMA_Settings::OPTION_VOTES_NO) && $thread->getVotes() === 0) ? 'no' : $thread->getVotes();
                                        ?></div>

                                </div>
                            <?php endif; ?>

                            <?php if (!empty($displayOptions['statusinfo'])): ?>
                                <div class="cma-thread-numbers cma-thread-answers">
                                    <div
                                        class="cma-thread-numbers-count cma-thread-answers-count">
                                        &nbsp;
                                    </div>
                                    <div
                                        class="cma-thread-numbers-caption cma-thread-answers-caption"><?php
                                        echo esc_html($thread->getStatus());
                                        ?></div>
                                </div>
                            <?php endif; ?>

                        </td>
                    <?php endif; ?>

                    <td class="cma-thread-summary">

                        <div class="cma-content">
                            <a
                                href="<?php echo esc_attr($thread->getPermalinkWithBacklink($questionLinkQuery)); ?>"
                                title="<?php echo esc_attr($thread->getContent(100, TRUE)); ?>"><?php
                                if ($thread->isResolved()) {
                                    echo '<span class="resolved">[' . CMA_Labels::getLocalized('RESOLVED') . '] </span>';
                                }
                                echo esc_html($thread->getTitle(FALSE)); ?></a>
                        </div>

                        <div class="cma-description">
                            <div class="opdates-info-block">
	                        <?php if (!empty($displayOptions['authorinfo'])): ?>
                                <div class="cma-thread-updated">
                                    <?php printf(CMA_Labels::getLocalized('asked_on_by'),
                                        '<b>'.$thread->getAuthor()->nickname.'</b>',
                                        CMA_Thread::renderDaysAgo($thread->getUnixDate(), FALSE)); ?>
                                </div>
                            <?php endif; ?>

                            <?php if (!empty($displayOptions['updated']) AND $lastPoster = $thread->getLastPoster()): ?>
                                <div class="cma-thread-updated">
                                    <?php
                                     $currentSort = !empty($_GET['sort']) ? $_GET['sort'] : CMA_Answer::getOrderBy();
                                $answers = $thread->getAnswers($currentSort);

                                $lastAnswer  =  !empty($answers) ?  $answers[0] : false;
                                if($lastAnswer != false ):?>
                                    <div class="cma-thread-updated">
                                        <?php
                                        printf(CMA_Labels::getLocalized('update_on_by'),
                                            '<b>'.$thread->getAuthor()->nickname.'</b>' ,
                                            CMA_Thread::renderDaysAgo($lastAnswer->getCreationDate(), FALSE));

                                        ?>
                                    </div>
                                   <?php endif; ?>
                                </div>
                            <?php endif; ?>
                            </div>

                            <div class="numbers-right-block">
	                        <?php if ($displayOptions['views']): ?>
                                <div class="box-item">
                                    <div
                                        class="item-views"><?php
                                        echo (CMA_Settings::getOption(CMA_Settings::OPTION_VOTES_NO) && $thread->getViews() === 0) ? 'no' : $thread->getViews();
                                        ?></div>

                                </div>
                            <?php endif; ?>

                            <?php if ($displayOptions['answers']): ?>
                                <div
                                    class="box-item<?php if ($numberOfAnswers == 0 || $numberOfAnswers == 'no'): ?> cma-thread-no-answers<?php endif; ?>">
                                    <div
                                        class="item-answers"><?php
                                        echo $numberOfAnswers;
                                        ?></div>
                                </div>
                            <?php endif; ?>
                            </div>
                        </div>
                        <?php if ($displayOptions['tags']) {
                            echo CMA_Thread::getTags($thread->getId());
                        } ?>
                    </td>
                    </tr>
                </table>
	            </div>
            <?php endforeach; ?>
        </div>

        <?php do_action('CMA_questions_table_after'); ?>

    <?php else: ?>
        <p class="c"><?php echo CMA_Labels::getLocalized('no_questions_found'); ?>
            <?php endif; ?>
            <?php if ($displayOptions['pagination']):
                $paginationArguments = isset($paginationArguments) ? array_merge($paginationArguments, $_GET) : array();
                $paginationArguments['search'] = isset($search) ? $search : '';
                echo CMA_AnswerController::showPagination($paginationArguments, $paginationBase);
            endif; // pagination ?>

            <?php endif; // !hidequestions ?>

            <script type="text/javascript">
                jQuery(function ($) {
                    CMA_private_question_init($);
                });
            </script>

            <?php if (!empty($category) AND CMA_Category::canBeFollower()): ?>
        <p><a href="<?php echo esc_attr($category->getPermalink()); ?>"
              class="cma-follow-link"
              data-category-id="<?php echo $category->getId() ?>"><?php
                echo CMA_Labels::getLocalized($category->getFollowersEngine()
                    ->isFollower() ? 'unfollow_category' : 'follow_category'); ?></a></p>
    <?php endif; ?>


    </div>
</div>
    <?php if(mch_user_has_access($user_id, 'ask_forum')): ?>
<div class="cma-form-box">
	<?php if ($displayOptions['form'] AND !$displayOptions['formontop']) :
		// CMA-QuestionForm
		// - Question form if the user is logged in
		// - Login form if the user is not logged in
		echo CMA_BaseController::_loadView('answer/widget/question-form', compact('post', 'thread', 'catId', 'widgetCacheId'));
	endif; ?>
</div>
    <?php endif; ?>
<?php else: ?>
    <div class="error-msg"><h2><?php echo __('You don\'t permitted to view forum'); ?></h2></div>
<?php endif; ?>