.footer {
    background: $bgFooter;
    width: 100%;
    overflow: hidden; /*for FF on Windows 7*/
    display: table-footer-group;
    height: 1%;
    .content-wrapper {
        @extend %clr;
        padding: 50px 10px 15px;
    }
    .footer-widget {
        border-bottom: 1px solid $footerBorderColor;
    }
    .footer-nav {
        float: left;
    }
    .copyright {
        float: right;
        color: $footerMenuColor;
        @include max-screen($maxWidthMobile) {
            float: none;
            text-align: center;
        }
    }
}
.footer-widget {
    @extend %clr;
    padding-bottom: 35px;
    margin-bottom: 25px;
    > div {
        width: 33.333%;
        float: left;
        padding: 0 4%;
        a {
            color: $footerWidgetlinkColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            color: $lightColor;
        }
        &:first-child {
            padding: 0 8% 0 0;
            a {
                color: $color-1;
            }
        }
        &:last-child {
            padding: 0 0 0 8%;
            a {
                color: $color-2;
            }
        }
        p {
            margin-bottom: 14px;
            line-height: 30px;
        }
        @include max-screen($maxWidthMobile) {
            width: 100%;
            float: none;
            margin-bottom: 15px;
            text-align: center;
            padding: 0 !important;
        }
    }
}
.footer-nav {
    .widget_nav_menu {
        float: left;
        margin-right: 62px;
        @include max-screen($maxWidthTablet) {
            margin: 0;
        }
        @include max-screen($maxWidthMobile) {
            float: none;
        }
        li:last-child {
            @include max-screen($maxWidthMobile) {
                margin-right: 0;
            }
        }
    }
    @include max-screen($maxWidthMobile) {
        width: 100%;
        padding: 0;
        float: none !important;
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include max-screen($maxWidthMobile) {
            display: block;
            width: 100%;
        }
        li {
            float: left;
            margin-right: 35px;
            a {
                display: block;
                font-size: 16px;
                text-decoration: none;
                color: $footerMenuColor;
                &:hover {
                    text-decoration: underline;
                }
            }
            @include max-screen($maxWidthMobile) {
                display: block;
                float: none !important;
                width: 100%;
                text-align: center;
            }
        }
    }
    .menu {
        @include max-screen($maxWidthMobile) {
            text-align: center;
        }
        li {
            @include max-screen($maxWidthMobile) {
                display: inline-block;
                vertical-align: top;
                width: auto;
            }
        }
    }
    .widget_wysiwyg_widgets_widget {
        float: left;
        margin: -2px 0 0;
        @include max-screen($maxWidthTablet) {
            float: none;
            padding-top: 10px;
            clear: both;
        }
        @include max-screen($maxWidthMobile) {
            text-align: center;
        }
        li {
            margin-right: 20px;
            @include max-screen($maxWidthMobile) {
                display: inline-block;
                vertical-align: top;
                width: auto;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .fb {
            text-indent: -9999px;
            overflow: hidden;
            @extend %iconsSprite;
            @include back-pos('social-facebook');
            &:hover {
                @include back-pos('social-facebook-active');
            }
        }
        .tw {
            text-indent: -9999px;
            overflow: hidden;
            @extend %iconsSprite;
            @include back-pos('social-twiter');
            &:hover {
                @include back-pos('social-twiter-active');
            }
        }
    }
}