.cma-content {
    width: 100% !important;
    padding: 0 !important;
    max-width: 100% !important;
}
.cma-form {
    input[type="submit"] {
        background: #b0d16b;
        text-transform: uppercase;
        &:hover {
            background: #5cb85c;
        }
    }
}
.cma-questions-widget {
    &.content-wrapper {
        max-width: 884px;
    }
}
.forum-page {
    display: block;
    width: 100%;
    max-width: 100%;
    .main-content {
        padding-bottom: 0;
    }
    .cma-form-container {
        background: #fafafa;
        margin: 0 auto;
        .cma-thread-add {
            max-width: $maxSiteWidth;
            margin: 0 auto;
        }
    }
}

.forum-table {
    margin-bottom: 60px;
    .forum-row {
        margin-bottom: 10px;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .cma-thread-list-row {
        width: 100%;
        .cma-thread-meta {
            background: #7a7c7f;
            width: 83px;
        }
        .cma-thread-summary {
            padding: 16px 24px 10px;
            background: #fafafa;
            border-bottom: none;
        }
    }
    .cma-content {
        border-bottom: 1px solid #eeeff1;
        color: #575c63;
        font-size: 20px;
        line-height: 32px;
        display: block;
        padding-bottom: 12px;
        margin-bottom: 8px;
        a {
            color: #575c63;
        }
    }
    .cma-description {
        display: table;
        width: 100%;
        > div {
            display: table-cell;
            vertical-align: top;
        }
        @extend %clr;
        .numbers-right-block {
            float: right;
            .box-item {
                display: inline-block;
                float: left;
                position: relative;
                margin-left: 20px;
                > div {
                    padding-left: 20px;
                    font: 14px/30px latosemibold;
                    &:before {
                        position: absolute;
                        color: #e0e5ea;
                        left: 0;
                        top: 0;
                        font: 16px/30px FontAwesome;
                    }
                }
                &.cma-thread-no-answers {
                    border: none;
                    background: none;
                }
            }
        }
    }
}
.item-views {
    color: #575c63;
    &:before {
        content: "\f06e";
    }
}
.item-answers {
    color: #a2caef;
    &:before {
        content: "\f075";
    }
}
.opdates-info-block {
    .cma-thread-updated {
        font: 14px/30px latosemibold;
        display: inline-block;
        margin-right: 12px;
        text-align: left;
        b {
          color: #b0d16b;
        }
    }
    .question {
        .cma-thread-updated {
            display: block;
        }
    }
}
.numbers-votes {
    text-align: center;
    width: 100%;
    font: 20px/28px latobold;
    color: #b3d371;
}
/* seatch */
.cma-nav-bar {
    display: table;
    width: 100%;
    max-width: 580px;
    margin: 0 auto 30px;
    .cma-nav-item-1 {
        display: table-cell;
        width: 33.333%;
        padding: 0 5px;
        position: relative;
        vertical-align: top;
        .chosen-container {
            width: 100% !important;
        }
        input[type="text"] {
            border: 1px solid #b0d16b;
            height: 34px;
            position: relative;
            background: none;
            padding-right: 40px;
            font-size: 14px;
            line-height: 34px;
        }
        input[type="submit"] {
            background: url("../img/search.png") no-repeat 50% 50%;
            height: 34px;
            width: 40px;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            font-size: 0;
            line-height: 0;
        }
        .chosen-single  {
            span {
                font-weight: normal;
                font-size: 14px;
            }
        }
        @include max-screen($maxWidthMobile){
            display: block;
            width: 100%;
            margin-bottom: 15px;
            select{width: 100%;}
        }
    }
}
.cma-thread-orderby {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    @extend %clr;
    position: relative;
    overflow: hidden;
    li {
        display: inline-block;
        margin: 0 10px;
        &.cma-current-sort {
            a {
                color: #575c63;
                text-decoration: underline;
            }
        }
    }
}
.back-block {
    @extend %clr;
}
a.cma-backlink {
    float: right;
    font: 13px/30px latosemibold;
    margin: 0;
    padding: 0;
}
#cma-thread-add {
    max-width: 894px;
    padding: 30px 15px;
    margin: 0 auto;
    h3 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    input[type="submit"] {
        background: #b0d16b;
        text-transform: uppercase;
        &:hover {
            background: #5cb85c;
        }
    }
}
.options-block {
    margin-bottom: 34px;
    display: table;
    width: 100%;
    > div {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
        @include max-screen($maxWidthMobile){
            display: block;
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .cma-form-options {
        font-size: 14px;
        line-height: 30px;
        .custom-checkbox {
            display: inline-block;
            float: right;
            margin-left: 15px;
            @include max-screen($maxWidthMobile){
                float: none;
            }
        }
    }
    .chosen-single  {
        span {
            font-weight: normal;
            font-size: 14px;
        }
    }
}
.form-box {
    margin: 0 0 70px;
    background: #fff;
    border: 1px solid #e2e5e8;
    text-align: left;
    .cma-form-input {
        border: none;
    }
    input[type="text"] {
        text-align: left;
        width: 100% !important;
        padding: 10px 28px;
        color: #575c63;
        font-size: 20px;
        line-height: 30px;
        background: none;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #e2e5e8;
    }
    textarea {
        width: 100% !important;
        resize: none;
        overflow-y: auto;
        border: none;
        border-bottom: 1px solid #e2e5e8;
        border-radius: 0;
        padding: 28px;
        height: 214px;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 6px;
    }
    p {
        padding: 0 28px;
        font-size: 14px;
        line-height: 30px;
        color: #c4c9ce;
        font-style: italic;
        margin-bottom: 6px;
    }
}
.cma-questions-widget {
    margin-bottom: 80px;
}
.cma-form-box {
    background: none repeat scroll 0 0 #fafafa;
    margin: 0 auto;
    padding-bottom: 115px;
    border-bottom: none;
    .cma-form-container {
        margin: 0;
    }
    h3 {
        padding-top: 30px;
    }
}
.cma-wrap {
    max-width: 894px;
    padding: 0 15px;
    margin: 0 auto;
}
.cma-answer-author,
.cma-question-author {
    img {
        width: 39px;
        height: auto;
        border-radius: 50%;
    }
}
.cma-form {
    max-width: 894px;
    padding: 0 15px;
    margin: 0 auto;
    h3 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}
.cma-answers-list-box {
    .answers-row {
        border: 1px solid #e2e5e8;
        border-radius: 4px;
        margin-bottom: 19px;
        padding: 26px;
        .cma-answer-body {
            padding: 0;
            font-size: 16px;
            line-height: 27px;
            color: #575c63;
            border-bottom: 1px solid #f0f2f3;
            margin-bottom: 8px;
            padding-bottom: 12px;
        }
        .cma-controls {
            margin: 0;
            padding: 0;
        }
    }
}
.cma-answer-meta-1 {
    display: table;
    width: 100%;
    > div {
        display: table-cell;
        vertical-align: top;
    }
    .cma-answer-author {
        font: 14px/30px latosemibold;
        display: inline-block;
        margin-right: 12px;
        text-align: left;
        b {
            color: #b0d16b;
        }
    }
    .numbers-right-block {
        text-align: right;
        .cma-rating {
            .cma-rating-count {
                font: 16px/19px latosemibold;
                display: inline-block;
                float: right;
                margin-left: 7px;
            }
            > a {
                display: inline-block;
                width: 17px;
                height: 17px;
                background: #e0e5ea;
                border-radius: 3px;
                font-size: 16px;
                color: #fff !important;
                position: relative;
                float: right;
                text-align: center;
                margin-left: 7px;
                line-height: 18px;
                &:hover {
                    background: #707274;
                    color: #fff !important;
                }
            }
        }

    }
}
.cma-thread-meta-rating {
    text-align: center;
    > a {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        border-radius: 3px;
        color: #bdbebf;
        display: inline-block;
        width: 26px;
        height: 26px;
        &:hover {
            color: #fff !important;
            background: #bdbebf;
        }
    }
    .cma-rating-count {
        margin: 10px auto;
    }
}
.cma-wrapper {
    display: block !important;
}
.cma-wrap {
    @extend %clr;
    .entry-header {
        padding-top: 75px !important;
        h1 {
            border-bottom: 1px solid #f1f1f6;
            font: bold 26px/32px "latoregular",sans-serif;
            margin-bottom: 20px;
            padding-bottom: 42px;
            text-align: center;
        }
    }
}
.cma-answers-list-box {
    margin-bottom: 60px;
}
.inner-wrapper {
    .cma-main {
        display: block;
        width: 100%;
        .permissions {
            padding-top: 75px;
            text-align: center;
        }
    }
}
.type-page {
    .cma-form-box {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: #fafafa;
            left: -100%;
            top: 0;
        }
        &:after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: #fafafa;
            right: -100%;
            top: 0;
        }
    }
}
.error-msg {
    margin-bottom: 35px;
    padding-top: 75px;
    text-align: center;
}
.cma-rating {
    position: relative;
    font: 20px/28px latobold;
    width: 100%;
    color: #b3d371;
    height: 100%;
    a {
        color: #bdbebf !important;
    }
    a.cma-thumbs-up,
    a.cma-thumbs-down {
        display: block;
        height: 28px;
        margin: 0 auto;
        width: 28px;
        border-radius: 4px;
        position: relative;
        font-size: 0;
        &:before {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        &:hover {
            background: #585a5c;
        }
    }
    a.cma-thumbs-up {
        &:before {
            background: url("../img/plus.png") no-repeat 50% 50%;
        }
    }
    a.cma-thumbs-down {
        &:before {
            background: url("../img/minus.png") no-repeat 50% 50%;
        }
    }
}

.cma-thread-resolved {
    background: none;
    color: #575c63;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto;
}

*[data-rating^="-"] .cma-rating { color: #eca18f !important; }
*[data-rating="0"] .cma-rating { color: #b3d371 !important; }

.cma-content {
    form {
        display: block;
        margin-bottom: 10px;
    }
    button[type="submit"] {
        @extend %elemBorder;
        border-color: #b0d16b;
        background: #b0d16b;
        height: 32px;
        line-height: 32px;
        text-transform: none;
        padding: 0 15px;
        font-size: 16px;
        &:hover {
            text-decoration: none;
            background-color: $darkGreen;
        }
    }
}
.cma-thread-meta-rating {
    .cma-rating-count {
        font: 20px/28px latobold;
        font-weight: normal;
    }
}
.numbers-right-block {
    .cma-thumbs-down,
    .cma-thumbs-up {
        font-weight: normal;
        font: 14px/30px latosemibold;
        &:before {
            display: none !important;
        }
    }
}
.cma-thread-numbers-count {
    font: 20px/28px latobold;
    font-weight: normal;
}
.answers-ajax {
    .content-wrapper {
        padding-bottom: 0;
    }
}
.cma-thread-numbers-count {
    &.red {
        color: #eca18f;
    }
}
br.clear {
    height: 0;
    position: absolute;
}