.mct-portal {
    .main-content {
        padding-bottom: 192px;
        @include max-screen($customWidthMobile){
            padding-top: 0;
            padding-bottom: 80px;
        }
    }
    h1 {
        margin-bottom: 54px;
        letter-spacing: 1px;
        @include max-screen($customWidthMobile){
            margin-bottom: 24px;
        }
    }
    h2 {
        margin-bottom: 34px;
        font-size: 22px;
        line-height: 24px;
        @include max-screen($customWidthMobile){
            margin-bottom: 24px;
        }
    }
    form {
        margin-bottom: 41px;
        text-align: center;
        @include max-screen($customWidthMobile){
            margin-bottom: 30px;
        }
        select {
            max-width: 100%;
            margin-bottom: 10px;
        }
    }
    .chosen-container {
        max-width: 376px;
        text-align: left;
        @include max-screen($customWidthMobile){
            width: 90% !important;
            margin-bottom: 10px;
        }
    }
    input[type="submit"] {
        width: auto;
        height: auto;
        padding: 8px 20px;
        margin: 0 0 0 6px;
        vertical-align: top;
        border-radius: 2px;
        font: 14px/18px $mainFontBold;
    }
    .header-user-name {
        padding-bottom: 16px;
        border-bottom: 1px solid $hrColor;
        text-align: center;
        font: 18px/22px $mainFontBold;
        color: $selectResultColor;
    }
    .main-user-info-wrap,
    .user-history-wrapper {
        max-width: 580px;
        margin: 0 auto;
    }
    .main-user-info-wrap {
        overflow: hidden;
        padding: 46px 0 37px;
        margin-bottom: 1px solid $hrColor;
        div {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .user-info-title {
            display: inline-block;
            vertical-align: top;
            min-width: 106px;
            padding-right: 10px;
        }
        .user-avatar {
            float: left;
            max-width: 76px;
            margin: 0 14px;
            @include max-screen($customWidthMobile){
                float: none;
                margin: 0 auto 14px
            }
        }
        .user-information {
            overflow: hidden;
            @include max-screen($customWidthMobile){
                text-align: center;
            }
        }
    }
    .he-header {
        position: relative;
        padding: 10px 0;
        margin-bottom: 10px;
        border: 1px solid $borderTabsColor;
        border-radius: 4px;
        font-size: 0;
        line-height: 0;
        background: $bgTableRow;
        overflow: hidden;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 8px;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            text-indent: -9999px;
            overflow: hidden;
            @extend %iconsSprite;
            @include back-pos('accord-close');
        }
        span {
            display: inline-block;
            vertical-align: middle;
            font: 14px/18px $mainFont;
            color: $textColor;
        }
        .he-date {
            float: left;
            padding: 0 20px;
            font-weight: bold;
            color: $titleColor;
            @include max-screen($customWidthMobile){
                padding: 0 10px
            }
        }
        .he-comment {
            display: block;
            padding: 0 38px 0 20px;
            border-left: 1px solid $borderTabsColor;
            overflow: hidden;
            @include max-screen($customWidthMobile){
                padding-left: 10px;
            }
        }
        .he-info-open {
            display: none;
        }
    }
    .he-info-close {
        position: absolute;
        top: 8px;
        right: 8px;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        @extend %iconsSprite;
        @include back-pos('accord-open');
     }
    .he-body {
        position: relative;
        padding: 10px 38px 10px 20px;
        margin-bottom: 10px;
        border: 1px solid $borderTabsColor;
        border-radius: 4px;
        > div {
            margin-bottom: 5px;
            overflow: hidden;
            &:last-child {
                margin-bottom: 0;
            }
            span:first-child {
                float: left;
                min-width: 110px;
                font-weight: bold;
                color: $titleColor;
            }
            span:last-child {
                display: block;
                overflow: hidden;
            }
        }
    }
}
