$trbg: #fbfbfb;
$tdRecommended: #deebc4;
$borderTrColor: #f1f1f6;
body.pricing {
    .content-wrapper {
        h1 {
            border-bottom: 1px solid $borderColor;
            padding-bottom: 44px;
            margin-bottom: 50px;
            font-size: 26px;
            font-weight: 32px;
            text-align: center;
        }
        .table-wrap {
            margin-bottom: 75px;
            @include max-screen($maxWidthMobile){
                margin-bottom: 30px;
            }
        }
    }
}
.pricing_table {
    width: 100%;
    max-width: 100%;
    border: none;
    border-collapse: separate;
    color: $textColor;
    position: relative;
    margin: 2px auto 30px;
    &:after {
        position: absolute;
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background: $borderTrColor;
        left: 0;
        bottom: -20px;
    }
    tr {
        td {
            border: none;
            height: 40px;
            padding: 5px 10px;
            &:first-child {
                padding-left: 4.5%;
            }
            &:nth-child(1n + 2) {
                width: 17.5%;
                min-width: 100px;
                text-align: center;
            }
            &.pricing_row_recommended {
                border-left: 1px solid $tdRecommended;
                border-right: 1px solid $tdRecommended;
                position: relative;
                z-index: 5;
                &:before {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 1px;
                    height: 100%;
                    left: -1px;
                    top: 0;
                    box-shadow: -2px 0 2px 1px #fdfdfd;
                }
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 1px;
                    height: 100%;
                    right: -1px;
                    top: 0;
                    box-shadow: 2px 0 2px 1px #fbfbfb;
                }
            }
        }
        &.header-table {
            td {
                height: 50px;
            }
            .pricing_row_recommended {
                color: #a6c468;
                font-size: 14px;
                font-family: 'latosemibold';
            }
        }
        &.title-td-table {
            td {
                height: 62px;
                font-size: 16px;
                color: #a1afbe;
                font-weight: bold;
            }
        }
        &.content-table {
            .pricing_table_check {
				color: #b3d371;
            }
            .pricing_table_uncheck {
				color: $greyColor;
            }
            &:nth-child(odd) {
                td {
                    background-color: $trbg;
                }
                .pricing_row_recommended {
                    background-color: #fdfdfd;
                }
            }
            td {
                &:first-child {
                    color: #9baaba;
                }
            }
        }
        &.separate-table {
            td {
                height: 20px;
            }
            &.border {
                td {
                    border-bottom: 1px solid $borderTrColor;
                    &.pricing_row_recommended {
                        border-color: $tdRecommended;
                    }
                }
            }
        }
        &.footer-table {
            td {
                padding: 5px 10px;
                &:first-child {
                    padding-left: 4.5%;
                }
            }
            a {
                display: inline-block;
                background: #f5f7f9;
                line-height: 40px;
                width: 100%;
                margin: 0 auto;
                border-radius: 5px;
                color: #b3d371;
                font-size: 16px;
                text-decoration: none;
				position: relative;
				&:before {
					@extend %defTransition;
					position: absolute;
					display: block;
					content: "Subscribe";
					width: 100%;
					height: 100%;
					background: #b3d371;
					color: #fff;
					border-radius: 5px;
					font-size: 16px;
					opacity: 0;
					visibility: hidden;
				}
				&:hover {
					&:before {
						opacity: 1;
						visibility: visible;
					}
				}
            }
        }
        &:first-child {
            .pricing_row_recommended {
                border-top: 1px solid $tdRecommended;
                border-bottom: 1px solid $tdRecommended;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                box-shadow: 0 -2px 2px 1px #fbfbfb;
            }
        }
        &:last-child {
            td {
                padding-bottom: 12px;
            }
            .pricing_row_recommended {
                border-bottom: 1px solid $tdRecommended;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                box-shadow: 0 2px 2px 1px #fbfbfb;
            }
        }
    }
    .chosen-container {
        width: 100% !important;
        max-width: 200px !important;
        .chosen-single {
            border: 1px solid $linkColor;
            span {
                color: $linkColor;
                font-size: 16px;
                font-weight: normal;
                padding-left: 10px;

            }
        }
        .chosen-drop {
            border-color: $linkColor;
        }
        .chosen-results {
            li {
                &.result-selected {
                    color: $linkColor;
                }
                color: #b8c2cd;
                &:hover {
                    color: #575c63;
                }
            }
        }
    }
    .chosen-container .chosen-results {
        padding: 0 0 0 14px;
        li {
            font-size: 16px;
            font-weight: normal;
            &:hover {
                background: none;
            }
        }
    }
}
