body {
	&.teacher-portal {
		h1 {
			margin-bottom: 50px;
			@include max-screen($maxWidthTablet) {
				margin-bottom: 20px;
			}
		}
	}
}
.selection-students {
	text-align: center;
	input.e-btn {
		vertical-align: middle;
		padding: 0 21px;
		margin: 0 5px;
		width: auto;
		height: 34px;
		text-transform: inherit;
		font: 14px/34px $mainFontSemibold;
		border-radius: 3px;
		@include max-screen($maxWidthMobile) {
			width: 256px;
			display: block;
			margin: 20px auto;
			font-size: 16px;
			padding: 1px 5px
		}
	}
	.chosen-container {
		text-align: left;
	}
}
.search-students {
	font-size: 0;
	margin-bottom: 30px;
	@include max-screen($maxWidthMobile) {
		margin-bottom: 18px;
	}
	.chosen-container {
		margin: 0 5px;
		min-width: 162px;
		text-align: left;
		font: 14px/34px $mainFontSemibold;
		@include max-screen($maxWidthMobile) {
			width: 100% !important;
			display: block;
			margin: 20px auto;
		}
	}
	select {
		@include max-screen($maxWidthMobile) {
			width: 100%;
			display: block;
			margin: 10px 0;
		}
	}
}
.students-accessory {
	margin-bottom: 30px;
	font: 22px/32px $mainFont;
	@include max-screen($maxWidthMobile) {
		margin-bottom: 20px;
	}
	li {
		font-family:  $mainFontHeavy;
		display: inline-block;
		color: $switchColor;
		cursor: pointer;
		&.active {
			color: $textColor;
			cursor: default;
		}
	}
}
.count-user {
	text-align: center;
	font: 16px/40px $mainFontSemibold; /* Change latoMiddle*/
	color: $titleCartColor;
	border-bottom: 1px solid $borderColor;
	padding: 5px 0;
	margin-bottom: 30px;
}
.students-list-wrapper {
	width: 464px;
	margin: 0 auto;
	@include max-screen($maxWidthMobile) {
		width: auto;
	}
	textarea {
		resize: vertical;
	}
}
.student-info {
	& > div {
		margin-bottom: 8px;
	}
}
.top-student-info {
	@extend %clr;
	position: relative;
	padding: 13px 45px 8px 16px;
	@include max-screen($maxWidthMobile) {
		padding: 13px 45px 8px 16px;
	}
	.student-photo {
		float: left;
		margin-right: 18px;
		padding-top: 3px;
		img {
			width: 75px;
			height: 75px;
		}
	}
	.student-info {
		float: left;
		max-width: 310px;
		@include max-screen($maxWidthMobile) {
			float: none;
			max-width: 100%;
			overflow: hidden;
		}

	}
	.open-info {
		position: absolute;
		right: 16px;
		top: 16px;
		@include max-screen($maxWidthMobile) {
			right: 10px;
		}
	}
}
.bottom-student-info {
	.student-info {
		//margin-left: 89px;
		border-top: 1px solid $borderColor;
		padding: 13px 66px 8px 109px;
		@include max-screen($maxWidthMobile) {
			margin-left: 0;
			padding: 13px 46px 8px 109px;
		}
	}
}
.single-student-wrapper {
	background: $bgTableRow;
	margin-bottom: 2px;
	font-family: $mainFontSemibold;
	.ac-row{
		.user-account-title{
			text-align: left;
			padding-right: 0;
			width: auto;
			color: #575c63;
			&+.right-block{float: none;}
			&.active{
				text-align: right;
				padding-right: 12px;
				width: 50%;
				&+.right-block{float: right;}
				@include max-screen($maxWidthMobile) {
					text-align: left;
				}
			}

		}
		.right-block input{
			@include max-screen($maxWidthMobile) {
				height: 50px;width: 100%;
			}
		}
	}
	&.active {
		background: $bgContent;
	}
	.open-info {
		float: right;
	}
	.hiding-part {
		padding-bottom: 20px;
		.cancel-button-wrapper{
			text-align: center;
			.cancel-btn{
				display: inline-block;
				vertical-align: top;
				width: auto !important;
				min-width: 32px;
				font: bold 16px/32px "latoregular", sans-serif;
				background: #f89039;
				color: #fff;
				height: 32px;
				border-radius: 5px;
				cursor: pointer;
				padding: 0 40px;
			}
			.aj-accept{
				display: none;
				height: 32px;
				vertical-align: top;
				min-width: 227px;
				background: #f89039;
				border-radius: 5px;
				padding: 0 40px;
			}
		}
		> .survey-rating {
			border-top: 1px solid $borderColor;
			padding: 20px 0 30px;
			> .wrap-select-block {
				@include max-screen($customWidthMobile){
					float: none!important;
				}
				.select-block {
					@include max-screen($customWidthMobile){
						width: 110px;
					}
					@include max-screen($customWidthMobile){
						width: auto;
					}
				}
			}
			&:after {
				content: '';
				display: table;
				width: 100%;
				clear: both;
			}
			.wrap-select-block {
				> div {
					vertical-align: top;
				}
				.title-block {
					max-width: 116px;
					line-height: 16px;
				}
				.chosen-container {
					width: 110px!important;
					.chosen-single {
						position: relative;
						padding: 0;
						span {
							position: absolute;
							display: block;
							top: 0;
							right: 22px;
							bottom: 0;
							left: 22px;
							background: url(../img/active_rating.png) repeat-x 0 50%;
							text-indent: -9999px;
							overflow: hidden;
						}
						&.star1 span {
							right: 48px;
							left: 48px;
						}
						&.star2 span {
							right: 42px;
							left: 42px;
						}
						&.star3 span {
							right: 35px;
							left: 35px;
						}
						&.star4 span {
							right: 29px;
							left: 29px;
						}
						&.star5 span {
							right: 22px;
							left: 22px;
						}
					}
				}
				&:first-child {
					float: left;
					> div {
						vertical-align: middle;
					}
				}
				.active-result {
					position: relative;
					color: transparent;
					&:before {
						content: '';
						position: absolute;
						top: 0;
						right: 44px;
						bottom: 0;
						left: 44px;
						background: url(../img/rating.png) repeat-x 0 50%;
					}
					&:first-child {
						&:before {
							right: 44px;
							left: 44px;
						}
					}
					&:nth-child(2) {
						&:before {
							right: 37px;
							left: 37px;
						}
					}
					&:nth-child(3) {
						&:before {
							right: 30px;
							left: 30px;
						}
					}
					&:nth-child(4) {
						&:before {
							right: 24px;
							left: 24px;
						}
					}
					&:nth-child(5) {
						&:before {
							right: 17px;
							left: 17px;
						}
					}
					&:hover:before {
						background-image: url(../img/hover_rating.png);
					}
				}
			}
		}
	}
}
.student-university {
	color: $color-1;
	.school_arg_color{
		color: #ACD0EF;
	}
}
.lesson-history-wrapper {
	@extend %clr;
	border-top: 1px solid $borderColor;
	padding: 15px 0;
	font-size: 0;
	.lessons-loop {
		display: inline-block;
		vertical-align: middle;
	}
	.lesson-history-topic {
		line-height: 27px;
		float: left;
		font-size: 16px;
		margin: 5px 0;
		@include max-screen($middleWidthMobile) {
			float: none;
		}
	}
	.lesson-history-buttons {
		float: right;
		margin: 5px 0;
		@include max-screen($middleWidthMobile) {
			float: none;
		}
	}
	.all-complete-lessons-wrapper {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
	}
	.e-btn-show-lesson {
		vertical-align: top;
	}
}
.lessons-loop {
	font-size: 0;
	.history-wrapper {
		display: inline-block;
		margin-left: 5px;
		@include max-screen($middleWidthMobile) {
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
.history-wrapper {
	background: $bgIcons;
	width: 67px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	&:first-child {
		background: $bgDarkIcons;
	}
	&:hover {
		@extend %defTransition;
		background: $bgHeader;
	}
}
.history-item-wrapper {
	font: bold 12px/27px $mainFont;
	color: $lightColor;
}
.last-change {
	color: $titleCartColor;
	margin-left: 10px;
}
.people-page {
	margin-bottom: 18px;
}
.lesson-number-block-wrapper,
.next-lesson-number-block-wrapper {
	@extend %clr;
	padding-bottom: 15px;
}
.lesson-number-block-wrapper {
	padding: 15px 0;
	border-top: 1px solid $borderColor;
}
.wrap-select-block {
	float: left;
	margin-left: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	@extend %clr;
	&:first-child {
		margin-left: 0;
	}
	&.m-fr {
		float: right;
		margin-left: 0;
		@include max-screen($middleWidthMobile) {
			float: none;
		}
	}
	@include max-screen($middleWidthMobile) {
		float: none;
		margin-left: 0;
	}
	.title-block {
		display: inline-block;
		margin-right: 6px;
		color: $formHColor;
		font: 16px/32px $mainFontSemibold;
	}
	.select-block {
		display: inline-block;
		@include max-screen($middleWidthMobile) {
			float: right;
		}
	}
	.plus-button-wrapper {
		display: inline-block;
		.aj-loader,
		.aj-accept{
			img{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	.chosen-container {
		width: auto !important;
		min-width: 32px;
		font: bold 16px/32px $mainFont;
		&.chosen-with-drop {
			.chosen-container-single {
				.chosen-single {
					background: $darkGreen;
				}
			}
		}
	}
	.chosen-container-single {
		text-align: center;
		.chosen-single {
			border: 0;
			height: 32px;
			color: $lightBorderColor;
			background: $bgHeader;
			box-shadow: none;
			padding: 0 40px;
			@extend %defTransition;
			&:hover {
				background: $darkGreen;
			}
			span {
				margin-right: 0;
				color: $lightBorderColor;
			}
			div {
				display: none;
			}
		}
	}
	.e-btn-plus {
		vertical-align: middle;
	}
	select {
		height: 32px;
		border: 0;
		background: $bgHeader;
		color: $lightBorderColor;
		vertical-align: middle;
		padding: 0;
	}
	.lesson-removed-part {
		display: inline-block;
	}
}
.lesson-comment-wrapper {
	margin-bottom: 5px;
	textarea {
		width: 100%;
	}
}
.teacher-name {
	font: 16px/40px $mainFontSemibold;
	span {
		color: $color-1;
	}
}
.student-info{
	.student-details{
	display: block;
	width: 100%;
	padding-bottom: 30px;
		textarea{
			padding: 5px;
			line-height: 21px;
			-moz-transition: color 0.5s ease;
			-o-transition: color 0.5s ease;
			-webkit-transition: color 0.5s ease;
			-ms-transition: color 0.5s ease;
			transition: color 0.5s ease;
		}
		.student-about-save{
			height: 32px;
			color: #fff;
			background: #b0d16b;
			padding: 0 15px;
			float: right;
			border: 1px solid #b0d16b;
			border-radius: 5px;
		}
		.student-about-save:hover{
			background: #89c114;
		}
		textarea.saved {
			color: #b0d16b;
		}
	}
}

.hiding-part {
	.student-info {
		position: relative;
		.user-edition {
			display: block;
			width: 30px;
			height: 30px;
			text-indent: -9999px;
			border: 1px solid #ccd4dc;
			border-radius: 3px;
			background-image: url("../img/edit.png");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-color: inherit;
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 12px;
			&:hover {
				border-color: #ccd4dc;
			}
		}
		.student-details {
			.student-details {
				margin-bottom: 10px;
			}
		}
	}
}
.affiliate-area{
	.status-publish{
		overflow: hidden;
		position: relative;
		.affwp-errors{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		.affwp-form{
			max-width: 50%;
			width: 100%;
			float: left;
			input[type=text],
			input[type=password],
			input[type=email],
			input[type=url],
			textarea{
				width: 100%;
			}
			@include max-screen($maxWidthMobile) {
				float: none;
				max-width: 100%;
				margin: 0 0 30px;
			}
			.button{
				height: 50px;
				width: 268px;
				font-weight: bold;
				text-transform: uppercase;
				background: #b0d16b;
				border:1px solid #b0d16b;
				border-radius: 5px;
				vertical-align: middle;
				color: #fff;
				&:hover{
					background: #89c114;
					border-color: #89C114;
				}
			}

		}
		.tablenav{
			.button{
				height: 35px;
				width: 220px;
				margin: 0;
				font-weight: bold;
				text-transform: uppercase;
				background: #b0d16b;
				border:1px solid #b0d16b;
				border-radius: 5px;
				vertical-align: middle;
				color: #fff;
				&:hover{
					background: #89c114;
					border-color: #89C114;
				}

			}
			.chosen-container{min-width: 72px; }
		}
	}
}
.mfp-content {
    background-color: #fff;
    max-width: 700px;
    padding: 30px 15px 15px;
    .buttons .e-btn{
        margin: 5px;
    }
}
