@mixin respond-to($media) {
	@if $media == mob {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == pda {
		@media only screen and (max-width: $break-norm) { @content; }
	}
	@else if $media == wide {
		@media only screen and (max-width: $break-large) { @content; }
	}
}

// retina bg
@mixin retina{
	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
		@content;
	}
}


// ROTATE
@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
	-moz-transform: rotate($deg + deg);
	-o-transform: rotate($deg + deg);
	-webkit-transform: rotate($deg + deg);
	-ms-transform: rotate($deg + deg);
	transform: rotate($deg + deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
	zoom: 1;
}

// TRANSITION
@mixin transition($what) {
	-moz-transition:    $what;
	-o-transition:      $what;
	-webkit-transition: $what;
	-ms-transition:     $what;
	transition:         $what;
}
%hide-text{
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
%clr{
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}
@mixin placeholder-color($color) {
	&:-moz-placeholder {
		color: $color;
	}
	&::-webkit-input-placeholder {
		color: $color;
	}
}

%gray{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}
%gray-half{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.5\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	filter: gray alpha(opacity=50); /* IE6-9 */
	-webkit-filter: grayscale(50%); /* Chrome 19+ & Safari 6+ */
}
%gray-zero{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}
@mixin unselectable() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin prevent-text(){
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
@mixin font-smoothing($val: antialiased) {
	 -webkit-font-smoothing: $val;
	 -moz-font-smoothing: $val;
	 -ms-font-smoothing: $val;
	 -o-font-smoothing: $val;
}
@mixin selection {
	& ::selection {
		@content;
	}
	& ::-moz-selection {
		@content;
	}
}
//$pie-behavior: url("/PIE.htc");
//@include pie-element(relative);

%m-border-box {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

%defTransition {
    @include transition(all 0.3s ease);
}

@mixin linear-gradient($fromColor, $toColor) {
    background-color: $toColor; /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
    background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
    background-image:         linear-gradient(top, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin inline-list {
	list-style-type: none;
	&, & li {
		margin: 0;
		padding: 0;
		display: inline;
	}
}

@mixin delimited-list($separator: ", ") {
	@include inline-list;
	li {
		&:after {
			content: $separator;
			padding-left: 9px;
		}
		&:last-child {
			&:after {
				content: "";
			}
		}
	}
}
//	"justifyBlocks" - Justify stretch
@mixin justifyBlocks{
    text-align: justify;
    & > *{
        display: inline-block;
        vertical-align: middle;
    }
    &:after {
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }
}

