/*
	Theme Name: MyChineseTutor
	Description: HTML5 MyChineseTutor Theme
	Version: 1.0
	Author: Web4Pro
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* html element 62.5% font-size for REM use */
/*html {
	font-size:62.5%;
}
body {
	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#444;
}*/
/* clear */
/*
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}
*/
@import "stylesheets/screen.css";

#ui-datepicker-div {
    display: none;
}