$white: #fff;
$black: #000;
$transparent: transparent;

/*bg*/
$bgBody: #f7fbfd;
$bgHeader: #b0d16b;
$bgHeaderAlpha85: rgba(176, 209, 107, .85);
$bgFooter: #525458;
$bgContent: #fff;
$formHColor: #9baaba;
$bgTableRow: #fbfbfb;
$bgContentRegistration: #cdd3da;
$bgIcons: #e0e5ea;
$bgDarkIcons: #b6c0cc;;
$bgHoverIcons: #d9dfe5;
$bgWhite: #fff;
$bgButtonWiki: #f5f5f5;
$bgButtonWikiHover: #f1f1f1;
$bgHistoryWikiTable: #fbfbfb;
$bgmedia: #ececec;

/*border*/
$footerBorderColor: #5a5c60;
$lightBorderColor: #fff;
$borderColorContent: #eff3f5;
$borderColor: #f1f1f6;
$borderSelectColor: #e9edf1;
$borderLinksColor: #ccd4dc;
$borderLessonColor: #eceef1;
$borderCopyColor: #c8d0d8;
$borderTabsColor: #dfe0e5;
$borderTabsActiveColor: #8b8e92;
$ShadowTabsColor: rgba(100, 137, 155, 0.15);

/*text color*/
$titleColor: #b0d16b;
$linkColor: #b0d16b;
$textColor: #575c63;
$lightColor: #fff;
$h4Color: #505153;
$footerMenuColor: #a5a6a7;
$footerWidgetlinkColor: #f8a764;
$color-1: #a2caef; /* footer link block 1 */
$color-2: #b0d16b; /* footer link block 2 */
$selectColor: #b0d16b; /* #f9b781 */
$selectResultColor: #b8c2cd; /* #f9b781 */
$titleCartColor: #a1afbe;
$switchColor: #e0e5ea;
$paginationColor: #d7dce2;
$paginationDisabledColor: #f2f4f6;
$linksColor: #b7c1cc;
$buttonWikiColor: #9baabf;


$hrColor: #f1f1f6;
$greyColor: #e2e3e4;
$darkGreen: #89c114;
