input[type="text"],
input[type="password"],
input[type="email"] {
    border: 1px solid #f5f7f9;
    width: 100%;
    line-height: 50px;
    height: 50px;
    border-radius: 6px;
    padding: 0 10px;
    text-align: center;
    background: #f5f7f9;
	color: $formHColor;
    @include max-screen($maxWidthMobile){
        height: 36px;
        line-height: 36px;
    }
    &:focus {
        background: #fff;
        border-color: #9baaba;
        color: $formHColor;
		outline: none;
    }
	@include placeholder-color($formHColor);
}

.windows-safari {
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		line-height: normal;
	}
}
input {
    &.filled {
        color: $formHColor;
        background: #fff;
        border-color: #9baaba;
        &.error {
            border-color: #f00;
        }
    }
    .error {
        border-color: #f00;
    }
}
input[type="submit"] {
    background-color: $bgHeader;
    border: none;
    width: 268px;
    height: 50px;
    margin: 48px auto 0;
    border-radius: 6px;
    color: $lightColor;
    font-weight: bold;
	@extend %defTransition;
	&:hover {
		background-color: $darkGreen;
	}
    @include max-screen($maxWidthMobile){
        height: 36px;
        margin-top: 0;
    }
}
@include inputs-text {
	&:active, &:hover, &:focus {
		outline: none;
	}
}
@include e-button {
	&:active, &:hover, &:focus {
		outline: none;
	}
}
textarea {
	border: 1px solid $borderColor;
	padding: 10px;
	color: $textColor;
	font: 16px/32px $mainFont;
	height: 95px;
	border-radius: 3px;
}
.login {
    padding: 0;
}
label {
    &.error {
        color: #f00;
        font-size: 14px;
    }
}
/* Custom checkbox */
body {
	&.checkout,
    .custom-checkbox {
		input[type="checkbox"] {
			display:none;
		}
		input[type="checkbox"] {
			& + label {
				cursor: pointer;
				position: relative;
				padding-left: 25px;
				&:before,
				&:after {
					content: "";
					position: absolute;
					width: 16px;
					height: 16px;
					top: 50%;
					left: 0;
					margin-top: -9px;
				}
				&:before {
					border: 1px solid $bgHeader;
					border-radius: 2px;
				}
				&:after {
					@extend %iconsSprite;
					@include back-pos('checked');
					left: 3px;
					margin-top: -(image-height('icons/checked.png')/2);
					display: none;
				}
			}
			&:checked {
				& + label {
					&:after {
						display: block;
					}
				}
			}
		}
	}
}

input[type="radio"] {
	display:none;
}
input[type="radio"] {
	& + label {
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			top: 50%;
			left: 0;
			margin-top: -9px;
		}
		&:before {
			border: 1px solid $bgHeader;
			border-radius: 2px;
		}
		&:after {
			@extend %iconsSprite;
			@include back-pos('checked');
			left: 3px;
			margin-top: -(image-height('icons/checked.png')/2);
			display: none;
		}
	}
	&:checked {
		& + label {
			&:after {
				display: block;
			}
		}
	}
}
#user_pass,
#user_login {
    text-transform: none;
}
