.white-popup {
    max-width: $maxSiteWidth;
    @include max-screen($maxWidthMobile){
        max-width: 100%;
    }
    .form-wrapper {
        width: 562px;
        margin: 74px auto;
        text-align: center;
        h2 {
            font-size: 26px;
            line-height: 32px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin-bottom: 110px;
            position: relative;
            &:before {
                position: absolute;
                content: "";
                bottom: -50px;
                left: 50%;
                margin-left: -48px;
                width: 96px;
                height: 2px;
                background: $hrColor;
            }
        }
        .input-wrap {
            width: 50%;
            float: left;
            height: 76px;
            padding: 0 12px;
            @include max-screen($maxWidthMobile){
                height: 60px;
            }
        }
        input[type="submit"] {
            background: $bgHeader url("../img/check.png") no-repeat 50% 50%;
            border: none;
            width: 268px;
            height: 50px;
            margin: 48px auto 0;
            border-radius: 6px;
            text-indent: -9999px;
            @include max-screen($maxWidthMobile){
                height: 36px;
                margin-top: 0;
            }
        }
        @include max-screen($maxWidthMobile){
            width: 100%;
            margin: 5px auto;
            h2 {
                margin-bottom: 10px;
                &:before {
                    display: none;
                }
            }
            .input-wrap {
                width: 100%;
                float: none;
            }
            input[type="submit"] {
                margin-top: 0px;
            }
        }
    }
}


/* History Popup styles */
#blackout {
	display: none;
}
.history-popup-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 99;
	background: rgba(48, 49, 54, 0.68);
}
.history-popup-box,
.full-history-popup-box {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 100;
	width: 600px;
	padding: 0 20px;
	font: 16px/30px $mainFontSemibold;
	color: $textColor;
	text-align: left;
	max-height: 90%;
	overflow: hidden;
	@include max-screen($maxWidthMobile) {
		width: 100%;
		min-width: 320px;
        padding: 0 10px;
	}
	.inner-history-popup {
		border-radius: 5px;
		background: $bgContent;
		padding: 25px 15px;
		position: relative;
		box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.2);
        @include max-screen($maxWidthMobile) {
            padding: 15px;
        }
	}
	.close {
		position: absolute;
		top: 11px;
		right: 11px;
		cursor: pointer;
		width: 25px;
		height: 25px;
		border-radius: 3px;
		@extend %defTransition;
		@extend %hide-text;
		@extend %iconsSprite;
		@include isp('close', $icons, false, 4px, 4px);
		&:hover {
			background-color: $bgHeader;
		}
	}
	h2 {
		font: 26px/32px $mainFontSemibold; /* Medium */
		padding: 5px 0 15px;
		margin-bottom: 20px;
		border-bottom: 1px solid $borderColor;
        @include max-screen($maxWidthMobile) {
            padding: 15px 0 5px;
            margin-bottom: 15px;
        }
	}
	.item-history {
		span {
			color: $color-1;
			display: inline-block;
			margin-right: 10px;
		}
	}
	.history-popup-content {
		overflow-y: auto;
		max-height: 300px;
	}
	.single-history-item {
		margin-bottom: 20px;
		padding-top: 20px;
		position: relative;
		&:before {
			position: absolute;
			width: 70px;
			height: 2px;
			left: 50%;
			top: 0;
			margin-left: -35px;
			content: '';
			background: $borderColor;
		}
		&:first-child {
			padding-top: 0;
			&:before {
				content: none;
			}
		}
	}
}

