h1, h2, h3, h4 {
    color: $titleColor;
    margin: 0;
}
h1 {
    text-transform: uppercase;
}
h4 {
    font-size: 22px;
    line-height: 41px;
    font-weight: 400;
    color: $h4Color;
	span {
		color: $titleColor;
	}
}
p {
    margin-top: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.display-none {
    display: none;
}

