$maxSiteWidth: 1020px;
$headerHeight: 95px;
$marginTopContent: $headerHeight+113px;
$mainFont: 'latoregular', sans-serif;
$mainFontLight: 'latolight', sans-serif;
$mainFontBold: 'latobold', sans-serif;
$mainFontSemibold: 'latosemibold', sans-serif;
$mainFontHeavy: 'latoheavy', sans-serif;
$fontAwesome: 'FontAwesome';

$mediaMedium: 999;
$mediaSmall: 767;

$customWidthDesktop: 1200;
$maxWidthTablet: 1024;
$customWidthTablet: 999;
$maxWidthMobile: 767;
$customWidthMobile: 640;
$middleWidthMobile: 480;