<?php if (!isset($contentOnly)): CMA_AnswerController::get_header(); ?>
    <div class="cma-main">
        <div id="primary" class="content-wrapper permissions">
            <div id="content" role="main">
            <?php endif; ?>
            <div class="CMA">
                <ul class="errors">
                    <li><?php _e('You do not have permissions to see this page. Please, log in.', 'cm-answers-pro'); ?></li>
                </ul>
                <?php
                $links = '';
                $loginPageLinkTitle = CMA_Settings::getOption(CMA_Settings::OPTION_LOGIN_PAGE_LINK_TITLE);
                if( !empty($loginPageLinkTitle) ) {
                $links .= sprintf('<li><a class="e-btn" href="%s">%s</a></li>', esc_attr(CMA_Settings::getLoginPageURL(get_permalink())), CMA::__($loginPageLinkTitle));
                }

                if (!empty($links)) {
                echo '<ul class="cma-controls">'. $links .'</ul>';
                }
?>
            </div>
<?php if (!isset($contentOnly)): ?></div></div></div>
    <?php
    get_footer();
endif;
?>