.body_msg_wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    color: #FFFFFF;
    font-size: 16px;
    min-height: 80px;
    line-height: 80px;
    text-shadow: 1px 1px 0 #3F8A0D;
    width: 100%;
    z-index: 1000000000000;
	font-family: 'Roboto';
	font-size:24px;
}

.body_msg_success {
	background: none repeat scroll 0 0 #5DCC13;
}

.body_msg_fail {
	background: none repeat scroll 0 0 red;
}

.body_msg_wrap .body_msg {
    width: 966px;
    margin: 0 auto;
    cursor: default;
	text-align: center;
}

.body_msg_wrap .body_msg .body_msg_close {
    background: url("../css/i/base/body_alert_close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 19px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 19px;
}