.account-page {

}
.user-account-info-block {
    border-bottom: 1px solid #f1f1f6;
    margin-bottom: 35px;
    padding-bottom: 30px;
    position: relative;
    .user-account-edit {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -15px;
    }
}
.avatar-block {
    position: relative;
    padding-top: 20px;
    .user-account-edit {
        position: absolute;
        right: 0;
    }
    .user-account-title {
        max-height: 240px;
        position: relative;
        overflow: hidden;
        .wpua-edit {
            #wpua-upload-button-existing {
                max-width: 320px;
                float: right;
                input {
                    border: 1px solid #adacab;
                    border-radius: 3px;
                    height: 30px;
                    line-height: 28px;
                    display: inline-block;
                    @extend %clr;
                }
                button {
                    background: #b3d371;
                    border: 1px solid #b0d16b;
                    border-radius: 3px;
                    padding: 0 36px;
                    height: 30px;
                    color: #fff;
                    line-height: 30px;
                    display: inline-block;
                    &:hover {
                        background: $darkGreen;
                    }
                }
            }
        }
    }
    a {
        line-height: 1px;
        display: inline-block;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            display: block;
            width: 15px;
            height: 13px;
            right: 8px;
            bottom: 8px;
            background: url("../img/photo-icon.png");
        }
        img {
            border: 1px solid #adacab;
            max-height: 144px;
            width: auto;
        }
    }
    .user-name {
        font: 26px/30px latoregular;
    }
    .ac-row {
        .user-account-title,
        .right-block {
            height: 144px;
            position: relative;
            overflow: hidden;
            .form {
                display: table-cell;
                height: 144px;
                vertical-align: middle;
            }
        }
    }
}
.ac-row {
    @extend %clr;
    .user-account-title {
        color: #9baaba;
        font: 16px/36px latosemibold;
        display: inline-block;
        width: 50%;
        float: left;
        text-align: right;
        padding-right: 12px;
        @include max-screen($maxWidthMobile){
            width: 100%;
            display: block;
            padding: 0;
            float: left;
            text-align: left;
        }
    }
    .right-block {
        color: #575c63;
        font: 16px/36px latosemibold;
        display: inline-block;
        width: 50%;
        float: right;
        text-align: left;
        padding-left: 12px;
        @include max-screen($maxWidthMobile){
            width: 100%;
            display: block;
            padding: 0;
            float: none;
            text-align: left;
        }
        input {
            height: 30px;
            line-height: 30px;
            width: auto;
            background: none;
            border: 1px solid #ccd4dc;
            text-align: left;
            border-radius: 3px;
            font: 16px/36px latosemibold;
            color: #575c63;
        }
    }
}
.avatar-block {
    .user-account-edit[type="button"] {
        display: block;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        border: 1px solid #ccd4dc;
        border-radius: 3px;
        background-image: url("../img/edit.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: inherit;
        &:hover {
            border-color: #ccd4dc;
        }
    }
    .user-account-edit[type="submit"] {
        display: block;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        border: 1px solid #ccd4dc;
        border-radius: 3px;
        background-image: url("../img/check_button.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: #b3d371;
    }
}
.user-account-edit[type="button"] {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    border: 1px solid #ccd4dc;
    border-radius: 3px;
    background-image: url("../img/edit.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: inherit;
    &:hover {
        border-color: #ccd4dc;
    }
}
.user-account-edit[type="submit"] {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    border: 1px solid #ccd4dc;
    border-radius: 3px;
    background-image: url("../img/check_button.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #b3d371;
}
.user-show-manage-subscription {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #c2dc8d;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 3px;
    text-indent: -9999px;
    &.subscription {
        background-image: url("../img/arrows.png");
    }
}
.user-manage-subscription {
    a {
        font-weight: normal;
        font-size: 14px;
    }
}
.single-student-wrapper {
    .ac-row {
        position: relative;
        input {
            max-width: 100%;
        }
    }
    .student-info {
        input[type="submit"] {
            margin-top: 5px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
    }
    .hiding-part {
        .photo-hide {
            color: #9baaba;
            cursor: pointer;
        }
    }
    .photo-show{
        input[type="submit"]{
            margin: 20px 0 0;
            width: auto;
            padding: 0 20px; 
        }
    }
}
#wpua-upload-button-existing {
    input {
        border: 1px solid #adacab;
        border-radius: 3px;
        display: inline-block;
        height: 30px;
        line-height: 28px;
    }
    button {
        background: none repeat scroll 0 0 #b3d371;
        border: 1px solid #b0d16b;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 36px;
    }
}
#wpua-undo-existing {
    background: none repeat scroll 0 0 #b3d371;
    border: 1px solid #b0d16b;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 36px;
}