body {
	&.checkout {
		color: $textColor;
		.e-btn {
			padding: 5px 38px;
			border-radius: 3px;
			font: 16px/18px "latoregular", sans-serif;
			height: auto;
			text-transform: none;
			@include max-screen($maxWidthMobile) {
				padding: 10px 5px;
			}
		}
		.edd_checkout_register_login {
			margin-left: 10px;
			@include max-screen($maxWidthMobile) {
				margin: 10px 0;
				width: 100%;
				text-align: center;
			}
		}
		@include max-screen($maxWidthMobile) {
			input[type="submit"] {
				margin-top: 20px;
			}
		}
	}
}
.cart-checkout,
.purchase-data {
	width: 100%;
	max-width: 100%;
	border: none;
	color: $textColor;
	line-height: 20px;
	@include max-screen($maxWidthTablet) {
		padding-left: 10px;
	}
	th {
		color: $titleCartColor;
		font-weight: bold;
		line-height: 22px;
		padding: 20px 10px;
		&:first-child {
			text-align: left;
			color: $textColor;
			padding-left: 42px;
			@include max-screen($maxWidthTablet){
				padding-left: 10px;
			}
		}
	}
	td {
		border: 0;
		text-align: center;
		padding: 10px;
		&:first-child {
			color: $titleCartColor;
			text-align: left;
			padding-left: 42px;
			@include max-screen($maxWidthTablet){
				padding-left: 10px;
			}
		}
		&.edd_cart_actions {
			width: 30px;
			padding: 10px 0;
		}
	}
	tr {
		&:nth-child(odd) {
			td {
				background: $bgTableRow;
			}
		}
	}
	tfoot {
		th {
			font-weight: bold;
			padding: 16px 40px 16px 42px;
			@include max-screen($maxWidthTablet) {
				padding-left: 10px;
			}
			@include max-screen($maxWidthMobile) {
				padding-right: 10px;
			}
		}
	}
	.edd_cart_item_cycle {
		width: 180px;
	}
	.edd_cart_item_price {
		width: 85px;
	}
	.e-btn-remove {
		vertical-align: middle;
	}
}
.wrap-final-total {
	@extend %clr;
	margin-bottom: 40px;
	margin-right: 30px;
	@include max-screen($maxWidthMobile) {
		margin-right: 10px;
		margin-bottom: 20px;
	}
}
.title-total {
	float: left;
	text-transform: uppercase;
	font: 22px/40px $mainFont;
}
.final-total {
	float: right;
	text-align: right;
	font: 24px/40px $mainFontLight;
	color: $titleColor;
}

/* Cart discount */
.cart-discount {
	float: right;
	line-height: 40px;
	color: $titleColor;
	font-weight: normal;
}
.enter-discount {
	float: left;
	font-size: 0;
	label,
	input[type="text"],
	input[type="submit"] {
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		border-radius: 3px;
		&:focus {
			border-color: $bgHeader;
		}
	}
	input[type="text"],
	input[type="submit"] {
		margin-left: 15px;
	}
	input[type="text"] {
		font: 14px/18px $mainFont;
		padding: 5px;
		text-align: center;
		color: $formHColor;
		border: 1px solid $formHColor;
		width: 125px;
		height: auto;
		background: $bgContent;
		border-radius: 3px;
		@include max-screen($maxWidthMobile) {
			width: 45%;
			margin: 20px 2.5%;
			padding: 10px 5px;
		}
	}
	input[type="submit"] {
		width: 125px;
		padding: 6px 5px;
		font: 16px/18px $mainFont;
		height: auto;
		margin-top: 0;
		@include max-screen($maxWidthMobile) {
			width: 45%;
			margin: 20px 2.5%;
			padding: 10px 5px;
		}
	}
	@include max-screen($maxWidthMobile) {
		float: none;
		label {
			display: block;
		}
	}
}
/* Checkout user info */
.checkout-form {
	padding: 0 10px 40px 42px;
	fieldset {
		border: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}
	@include max-screen($maxWidthTablet) {
		padding-left: 10px;
	}
}
.checkout-user-info {
	margin-bottom: 40px;
	legend {
		font: bold 22px/40px $mainFont;
		padding: 20px 0;
	}
	@include max-screen($maxWidthMobile){
		margin-bottom: 0;
		legend {
			text-align: center;
		}
	}
}
.wrap-block-info {
	margin-bottom: 20px;
	font-size: 0;
	.item-title {
		width: 60%;
		display: inline-block;
		vertical-align: middle;
		label {
			font: bold 16px/18px $mainFont;
			padding: 0 0 10px;
			display: inline-block;
		}
		@include max-screen($maxWidthMobile) {
			width: auto;
			display: block;
			text-align: center;
			margin-bottom: 10px;
		}
	}
	.edd-required-indicator {
		color: $titleColor;
		font-size: 14px;
	}
	.item-input {
		vertical-align: middle;
		display: inline-block;
		width: 40%;
		font-size: 16px;
		@include max-screen($maxWidthMobile) {
			width: auto;
			display: block;
		}
	}
	.edd-description {
		display: block;
		color: $formHColor;
		font-size: 14px;
	}
}
.windows-safari {
	.wrap-block-info {
		.item-input {
			width: 39%;
		}
	}
}
.show-terms {
	text-align: right;
	@include max-screen($maxWidthMobile) {
		text-align: left;
	}
}
.empty-cart {
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
}
.purchase-submit {
	text-align: right;
	margin-top: 48px;
	@include max-screen($maxWidthMobile) {
		text-align: left;
	}
}
.check-agree {
	@extend %clr;
	display: inline-block;
	vertical-align: middle;
	color: $formHColor;
	font-style: italic;
	font-size: 14px;
	input[type=checkbox] {
		float: left;
	}
	label {
		margin-right: 10px;
	}
	@include max-screen($maxWidthMobile) {
		display: block;
		margin-bottom: 20px;
		label {
			display: block;
		}
	}
}
.add-payment-icons {
	display: inline-block;
	vertical-align: middle;
	.fa {
		width: 50px;
		height: 50px;
		margin-left: 5px;
		font-size: 18px;
		line-height: 50px;
		text-align: center;
		border-radius: 6px;
		background: $bgHeader;
		color: $lightColor;
		position: relative;
	}
}
.terms-agreement {
	text-align: left;
	margin-bottom: 20px;
}
.wrap-submit {
	text-align: right;
	input[type="submit"] {
		@include max-screen($maxWidthMobile) {
			width: 100%;
		}
	}
}
.edd_errors {
	margin: 20px 0;
	display: block;
	font-size: 13px;
}
.edd_error {
	padding: 5px;
	border: 1px solid #c00;
	background-color: #ffebe8;
	color: #333;
	text-align: center;
	border-radius: 2px;
}
