body {
	&.mch-course-page {
		.main-content {
			padding-left: 75px;
			padding-right: 75px;
			@include max-screen($maxWidthTablet) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		h2 {
			font: bold 26px/32px $mainFont;
			text-align: center;
			margin-bottom: 20px;
			@include max-screen($maxWidthMobile) {
				margin-bottom: 20px;
			}
		}
		h4 {
			font: 16px/32px $mainFontSemibold;
			color: $formHColor;
			text-align: center;
		}
	}
}
.select-content-wrapper {
	margin-bottom: 50px;
	@include max-screen($maxWidthMobile) {
		margin-bottom: 50px;
	}
}
.drop-down-wrapper {
	@extend %clr;
	padding-bottom: 18px;
	margin-bottom: 18px;
	border-bottom: 1px solid $borderColor;
	.link-to-tutor {
		float: right;
		margin-top: 10px;
		margin-bottom: 10px;
		@include max-screen($maxWidthMobile) {
			float: none;
		}
	}
	.wrap-selects {
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
		@include max-screen($maxWidthMobile) {
			float: none;
		}
	}
}
.wrap-selects {
	@extend %clr;
	.box-select {
		float: left;
		margin-right: 60px;
		&:last-child {
			margin-right: 0;
		}
		@include max-screen($maxWidthMobile) {
			float: none;
			margin-right: 0;
		}
	}
	.chosen-container-single {
		&.chosen-with-drop {
			.chosen-single {
				padding-left: 12px;
			}
		}
		.chosen-single {
			padding: 0;
		}
	}
}
.lesson-wrapper {
	@extend %clr;
	padding-bottom: 20px;
	border-bottom: 1px solid $borderColor;
	.select-lesson {
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
		@include max-screen($maxWidthMobile) {
			float: none;
		}
	}
	.wrap-links {
		float: right;
		margin-top: 10px;
		margin-bottom: 10px;
		@include max-screen($maxWidthMobile) {
			float: none;
			margin-bottom: 15px;
		}
	}
}
.select-lesson {
	font-size: 0;
}
.level-number-text {
	color: $formHColor;
	font: 16px/24px $mainFontSemibold;
	display: inline-block;
	margin-right: 26px;
	vertical-align: middle;
}
.lessons-list {
	display: inline-block;
	vertical-align: middle;
	@include max-screen($maxWidthMobile) {
		margin: 0 0 0 -6px; 
	}
	li {
		display: inline-block;
		font: 16px/40px $mainFont;
		border: 1px solid $bgHeader;
		color: $linkColor;
		border-radius: 3px;
		margin: 0 6px;
		@include max-screen($maxWidthMobile) {
			margin-bottom:12px; 
		}
		a {
			display: block;
			padding: 0 10px;
			opacity: .5;
			min-width: 40px;
			text-align: center;
			@extend %defTransition;
		}
		&.active-lesson,
		&:hover {
			a {
				opacity: 1;
				color: $lightBorderColor;
				text-decoration: none;
				background-color: $bgHeader;
			}
		}
	}
}
.wrap-links {
	font-size: 0;
	& > div {
		display: inline-block;
		vertical-align: middle;
		margin-left: 12px;
		@include max-screen($maxWidthMobile) {
			margin-left: 0;
			margin-right: 12px;
		}
	}
}
.mail-lesson {
	.fa-check {
		display: none;
		font-size: 14px;
		color: $titleColor;
	}
	.e-btn-send-mail {
		display: inline-block;
		vertical-align: middle;
	}
	&.sent-done {
		.fa-check {
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
		}
	}
}
.module-lesson-title {
	font: bold 26px/32px $mainFont;
	color: $titleColor;
	text-align: center;
	padding: 0 12px;
	text-transform: uppercase;
}
.manual-lesson-switch {
	text-align: center;
	margin-bottom: 20px;
	@include max-screen($maxWidthMobile) {
		margin-bottom: 20px;
	}
	.module-lesson-title {
		display: inline-block;
		vertical-align: middle;
		@include max-screen($maxWidthMobile) {
			display: inline;
		}
	}
	.prev-lesson,
	.next-lesson {
		display: inline-block;
		vertical-align: middle;
	}
	.prev-lesson,
	.next-lesson {
		a {
			color: $paginationColor;
			@extend %hide-text;
			@extend %defTransition;
		}
	}
	.prev-lesson {
		a {
			@include arrow('left', $paginationColor, 7px);
			&:hover {
				@include arrow('left', $linkColor, 7px);
			}
		}

	}
	.next-lesson {
		a {
			@include arrow('right', $paginationColor, 7px);
			&:hover {
				@include arrow('right', $linkColor, 7px);
			}
		}
	}
}
.video-explain {
	text-align: center;
	margin-bottom: 60px;
	@include max-screen($maxWidthMobile) {
		margin-bottom: 20px;
	}
	img {
		vertical-align: top;
	}
	h3 {
		font: bold 22px/32px $mainFont;
		color: $textColor;
		text-align: center;
		margin-bottom: 50px;
	}
	h4 {
		margin-bottom: 10px;
	}
}
.explain-lesson {
	@extend %clr;
	margin-bottom: 100px;
	@include max-screen($maxWidthMobile) {
		margin-bottom: 50px;
	}
	h4 {
		padding: 0 15px 12px;
		margin-bottom: 8px;
	}
	.box-explain-lesson {
		float: left;
		width: 48%;
		background: $bgTableRow;
		border-radius: 4px;
		padding: 10px 0;
		&:first-child {
			margin-right: 4%;
		}
		@include max-screen($maxWidthTablet) {
			float: none;
			width: 100%;
			margin-bottom: 20px;
			&:first-child {
				margin-right: 0;
			}
		}
	}
}
.content-explain-lesson {
	padding: 0 30px 16px;
	font: 16px/30px $mainFont;
	@include max-screen($maxWidthMobile) {
		padding: 0 15px 16px;
	}
}
.content-dialogue {
	color: $titleColor;
}
.section-explain-lesson {
	border-bottom: 1px solid $borderLessonColor;
	margin-bottom: 10px;
	h4 {
		border-bottom: 1px solid $borderLessonColor;
	}
}
.box-explain-lesson {
	.section-explain-lesson {
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
		}
	}
	ul {
		list-style-type: none !important;
		list-style-image: none;
		li {
			padding-left: 15px;
			position: relative;
			margin-bottom: 5px;
			&:before {
				position: absolute;
				content: '';
				height: 2px;
				width: 5px;
				top: 50%;
				left: 0;
				margin-top: -1px;
				background: $textColor;
			}
		}
	}
}
.box-translate {
	width: 100%;
	margin-bottom: 15px;
	tr {
		&:nth-child(2) {
			td {
				padding-top: 23px;
			}
		}
	}
	th {
		border-bottom: 1px solid $borderLessonColor;
		text-align: left;
		font-weight: normal;
		padding: 5px 0 16px;
	}
	td {
		font: 16px/35px $mainFont;
	}
	th,
	td {
		padding-right: 5px;
		&:first-child {
			padding-left: 35px;
			@include max-screen($maxWidthMobile) {
				padding-left: 15px;
			}
		}
		&:last-child {
			padding-right: 35px;
			@include max-screen($maxWidthMobile) {
				padding-right: 15px;
			}
		}
	}
	a {
		color: $textColor;
	}
}

/* Box quiz */
.box-quiz {
	.wpcw_fe_quiz_box_pending {
		background: none;
		border-color: $bgHeader;
	}
	.wpcw_fe_quiz_title {
		color: $formHColor;
		font: bold 16px/30px $mainFont;
		text-align: center;
	}
	.wpcw_fe_paging_progress {
		text-align: right;
		color: $formHColor;
	}
	a {
		&.fe_btn_navigation {
			border-color: $bgHeader;
			background-color: $lightColor;
			background-image: none;
			box-shadow: none;
			@extend %defTransition;
			color: $linkColor !important;
			font: 16px/32px $mainFont;
			&:hover {
				background-color: $bgHeader;
				color: $lightColor !important;
				text-decoration: none;
			}
		}
	}
	.wpcw_fe_quiz_q_title {
		font: bold 18px/32px $mainFont;
		color: $titleColor;
	}
	.wpcw_fe_quiz_answer_later {
		margin: 15px 0;
	}
	.wpcw_fe_quiz_box {
		font: 16px/32px $mainFont;
	}
	.wpcw_fe_quiz_q_hdr,
	.wpcw_fe_quiz_q_single {
		border-color: $bgHeader;
	}
	a.fe_btn_completion,
	.wpcw_fe_quiz_submit_data input.fe_btn_completion {
		border: none;
		background-color: $bgHeader;
		background-image: none;
		box-shadow: none;
		text-shadow: none;
		border-color: $bgHeader;
		font-size: 16px;
		text-transform: uppercase;
		max-width: 100%;
		margin: 10px 0;
		padding: 10px;
		@extend %defTransition;
		&:hover {
			text-decoration: none;
			background-color: $darkGreen;
		}
	}
	.box-quiz .wpcw_fe_quiz_title {
		color: $textColor;
	}
}
.wpcw_fe_quiz_q_answers {
	li {
		margin-bottom: 10px;
		label {
			@extend %defTransition;
			&:hover {
				color: $titleColor;
			}
		}
	}
}
ul.wpcw_fe_quiz_q_answers input[type="radio"]:checked+label {
	color: $titleColor;
}
.wpcw_fe_quiz_box_full_answers b {
	color: $titleColor;
}
.wpcw_fe_quiz_q_result_correct {
	color: $titleColor;
	background-image: none;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		top: 50%;
		left: 0;
		margin-top: -9px;
		left: 3px;
		margin-top: -(image-height('icons/checked.png')/2);
		@extend %iconsSprite;
		@include back-pos('checked');
	}
}
.wpcw_fe_quiz_q_result_incorrect {
	background-position: -1px 0;
}
/* End box quiz */

.template-lesson-body {
	article {
		font: 16px/30px $mainFont;
	}
}
.lesson-content {
	margin-bottom: 60px;
	h2, h3 {
		color: $textColor;
		margin-bottom: 18px;
	}
	h3 {
		font: bold 22px/32px $mainFont;
	}
	p {
		margin-bottom: 45px;
	}
}
.wrap-graduation {
	text-align: center;
	padding-top: 45px;
	.fa-graduation-cap {
		font-size: 65px;
		color: #d4dbe3;
		display: block;
		margin-bottom: 15px;
	}
}
.wrap-box-video {
	font-size: 0;
	margin: 0 -15px 35px;
	text-align: center;
	@include max-screen($maxWidthMobile) {
		margin: 0 0 30px;
	}
	h4 {
		margin-bottom: 20px;
		@include max-screen($maxWidthMobile) {
			margin-bottom: 15px;
		}
	}
	.box-video {
		display: inline-block;
		width: 46%;
		margin: 0 15px;
		@include max-screen($maxWidthMobile) {
			margin: 0 0 30px;
			width: auto;
			display: block;
		}
		img {
			vertical-align: top;
		}
	}
}
.interesting-links {
	margin-bottom: 45px;
	@include max-screen($maxWidthMobile) {
		margin-bottom: 30px;
	}
	h3 {
		margin-bottom: 37px;
	}
	ul {
		margin-left: 35px;
	}
	a {
		font: 16px/36px $mainFont;
		color: $color-1;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.wrap-downloads {
	font-size: 0;
	margin-bottom: 30px;
	@include max-screen($maxWidthMobile) {
		margin-bottom: 30px;
	}
	li {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 0 15px;
		margin-bottom: 15px;
		@include max-screen($maxWidthMobile) {
			display: block;
			width: 100%;
			max-width: 390px;
			padding: 0;
			margin: 0 auto 20px;
		}
		a {
			display: block;
			font: 16px/32px $mainFontSemibold;
			color: $formHColor;
			padding: 9px 70px 9px 25px;
			background: $bgTableRow;
			border-radius: 5px;
			position: relative;
			&:before {
				content: '';
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 54px;
				border-left: 1px solid $borderLessonColor;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				@extend %defTransition;
			}
			&:after {
				content: '\f019';
				font: normal 18px/32px $fontAwesome;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				top: 50%;
				right: 20px;
				margin-top: -16px;
				color: $titleColor;
				@extend %defTransition;
			}
			&:hover {
				text-decoration: none;
				&:before {
					background: $bgHeader;
					border-color: $bgHeader;
				}
				&:after {
					color: $lightColor;
				}
			}
		}
	}
}
.author-date-description {
	padding: 5px 0 25px;
	margin-bottom: 20px;
	border-bottom: 1px solid $borderColor;
	text-align: center;
	font: 16px/30px $mainFont;
}
.lesson-author-name {
	color: $color-1;
	text-decoration: underline;
}
.lesson-modify-date {
	@include max-screen($maxWidthMobile) {
		display: block;
	}
	span {
		color: $formHColor;
	}
}
.video-description {
	margin-bottom: 15px;
	h2 {
		color: $textColor;
	}
	h3 {
		font: bold 22px/32px $mainFont;
		color: $textColor;
		text-align: center;
		margin-bottom: 18px;
	}
}
.wrap-copy-link {
	padding: 0 70px 0 78px;
	@extend %clr;
	@include max-screen($maxWidthTablet) {
		padding: 0 15px;
	}
	@include max-screen($maxWidthMobile) {
		padding: 0;
	}
	.link-copy {
		overflow: hidden;
		input[type="text"] {
			background: $bgContent;
			height: 50px;
			line-height: 50px;
			border: 1px solid $borderCopyColor;
			color: $textColor;
			padding: 0 33px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			text-align: left;
			border-right: 0;
		}
	}
	.e-btn-copy {
		float: right;
		height: 50px;
		line-height: 50px;
		width: 176px;
		padding: 0 10px;
		text-transform: uppercase;
		text-align: center;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		&.zeroclipboard-is-hover {
			background-color: $darkGreen;
		}
		@include max-screen($maxWidthMobile) {
			width: 130px;
		}
	}
}

.comment-form{

  input[type=submit]{
    margin:0 auto !important;
  }

  .form-box{
    margin:0 0 28px 0 !important;
  }

  .form-submit{
    text-align: center;
  }

}

.comment-form{
  margin-top: 20px;
}

.community-section-description{
  margin:0 auto 0 auto;
  width:80%;
  text-align: center;
  font-style: italic;
}

.community-section-title{
  border: none !important;
  margin-top:40px;
  margin-bottom:0 !important;
}

.mch-comment{
  width:100%;
  border:1px solid #e2e5e8;
  padding:28px;
  margin:28px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  @mixin comment-data-marker{
    background-repeat: no-repeat;
    background-size:100% ;
    position:absolute;
    width: 20px;
    height:20px;
    margin-top:-25px;
    margin-left:5px;
  }

  .comment-data-block{
    display: inline-block;
    width:20%;
  }

  .vimeo-marker{
    background-image: url('../img/1425496755_Play1Pressed.png');
    @include comment-data-marker;
  }

  .youtube-marker{
    background-image: url('../img/1425496696_youtube-128.png');
    @include comment-data-marker;
  }

  .img-marker{
    background-image: url('../img/1425496838_search.png');
    @include comment-data-marker;
  }

  .mch-comment-image{
    margin-right:10px;
    img{
      vertical-align: top;
    }
  }

  .mch-comment-video{
    margin-right:10px;
    img{
      vertical-align: top;
    }
  }

  .mch-comment-info{
    margin: 28px 0 -10px 0;
    padding:14px 0 0 0;
    border-top:1px solid #e2e5e8;

    color:#c6c8ca;
    font-size:14px;

    .mch-comment-author{
      color:#a2caef;
    }

    .mch-comment-like-block{

      float:right;

      .comment-likes-count{
        font:16px/19px latosemibold;
      }

      .mch-like-comment{
        text-decoration: none !important;
        display: inline-block;
        width: 17px;
        height: 17px;
        background: #e0e5ea;
        border-radius: 3px;
        font-size: 16px;
        color: #fff !important;
        text-align: center;
        line-height: 18px;
        &:hover {
          background: #707274;
          color: #fff !important;
        }

      }

      .like-inc{
        margin-left:7px;
      }

      .like-dec{
        margin-right: 7px;
      }

    }

  }

}