body {
	&.home {
		#header {
			background: none;
			margin-bottom: 113px;
			@include max-screen($customWidthTablet){
				margin-bottom: 20px;
			}
		}
	}
}
.digital-products-list-big {
	position: relative;
	z-index: 8;
	display: block;
	list-style: none;
	margin: -$marginTopContent 0 0;
	.video-js {
		z-index: -1;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
		.vjs-tech {
			bottom: 0;
			top: 0;
			height: auto;
			@include max-screen(1099) {
				width: auto;
				height: 100%;
			}
		}
	}
	&>li {
		min-height: 623px;
		max-height: 623px;
		height: 623px;
		padding: $marginTopContent 0 100px;
		position: relative;
		overflow: hidden;
        .video-js {
            object {
                height: 100% !important;
            }
        }
		@include max-screen($maxWidthMobile){
			min-height: 480px;
			padding: 180px 0 50px;
		}
	}
	.content-wrapper {
		h2 {
			color: $lightColor;
			font-size: 28px;
			line-height: 41px;
			text-transform: uppercase;
			text-align: center;
			margin: 0 0 10px 0;
		}
		h4 {
			font-weight: 400;
			font-size: 20px;
			line-height: 41px;
			text-align: center;
			color: $lightColor;
			margin: 0 0 55px 0;
		}
		ul {
			@extend %clr;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				width: 50%;
				float: left;
				padding: 0 6px;
				text-align: left;
				&:first-child {
					text-align: right;
				}
				@include max-screen($maxWidthMobile){
					padding: 0;
				}
			}
		}
		.popup-youtube {
			padding: 0 35px 0 40px;
			position: relative;
			&:before {
				position: absolute;
				content: "";
				left: 21px;
				top: 20px;
				display: block;
				@extend %iconsSprite;
				@include back-pos('arrow_right');
			}
		}
	}
	@include max-screen($maxWidthMobile){
		.wrappper {
			.content-wrapper {
				h2 {
					font-size: 18px;
					line-height: 24px;
				}
				h4 {
					font-size: 16px;
					line-height: 18px;
					margin-bottom: 10px;
				}
				ul {
					li {
						display: block;
						width: auto;
						float: none;
						margin-bottom: 10px;
						a {
							display: block;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
.windows-safari {
	.video-js {
		padding-bottom: 56.25%;
		padding-top: 25px;
		height: 0;
		object.vjs-tech {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.content-home {
    text-align: center;
    h2 {
        color: $titleColor;
        text-transform: uppercase;
        text-align: center;
        font-size: 26px;
        line-height: 32px;
        font-weight: bold;
    }
    .e-btn {
        padding: 0 30px 0 23px;
        line-height: 50px;
        margin: 35px auto 0;
    }
	.main-content {
		padding-top: 100px;
		padding-bottom: 95px;
		@include max-screen($maxWidthMobile) {
			padding-top: 30px;
		}
	}
}
.digital-products-list {
    @extend %clr;
    margin: 0 -3px 130px;
    position: relative;
    padding-top: 60px;
    &:before {
        position: absolute;
        content: "";
        bottom: -78px;
        left: 50%;
        margin-left: -48px;
        width: 96px;
        height: 2px;
        background: $hrColor;
    }
	@include max-screen($maxWidthMobile) {
		padding-top: 20px;
	}
    li {
        width: 33.33%;
        display: inline-block;
        vertical-align: top;
        margin: 0 2px 6px; 
        padding: 0px;
        a {
            display: block;
            position: relative;
            text-align: center;
			text-decoration: none;
            img {
                width: 100%;
                position: relative;
            }
            .title {
                position: absolute;
                top: 45%;
                z-index: 2;
                font-size: 24px;
                line-height: 32px;
                text-transform: uppercase;
                font-weight: bold;
                color: $lightColor;
                display: block;
                width: 100%;
            }
			&:before {
				content: "";
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
				background-color: $bgHeaderAlpha85;
				@extend %defTransition;
			}
			&:hover {
				&:before {
					background-color: transparent;
					
				}
			}
        }
        @include max-screen($maxWidthMobile){
            width: 100%;
            float: none;
            margin-bottom: 10px;
        }
    }
    &#list-photo{
    	font-size: 0;
    	line-height: 0;
    	margin: 0 -2px; 
    	li{
    		display: inline-block;
    		vertical-align: top;
    		margin: 0 0 6px;
    		padding: 0 2px;  
    		a{
    			&:before {
					content: "";
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 1;
					background-color: transparent;
					@extend %defTransition;
				}
				&:hover {
					&:before {
						background-color: $bgHeaderAlpha85;
					}
				}
    		}
    	}
    }
}