.incsub_wiki {
    .main-content {
        padding-bottom: 232px;
        @include max-screen($maxWidthTablet){
            padding-bottom: 100px;
        }
        @include max-screen($maxWidthMobile){
            padding-top: 0;
            padding-bottom: 50px;
        }
    }
    .widget_incsub_wiki {
        padding-bottom: 31px;
        border-bottom: 1px solid $hrColor;
        @include max-screen($maxWidthMobile){
            padding-bottom: 20px;
        }
        h3 {
            padding-bottom: 43px;
            margin-bottom: 50px;
            border-bottom: 1px solid $hrColor;
            font-size: 26px;
            line-height: 30px;
            text-align: center;
            @include max-screen($maxWidthMobile){
                padding-bottom: 5px;
                margin-bottom: 10px;
            }
        }
        > ul {
            max-width: 380px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 25px;
            overflow: hidden;
            > li {
                position: relative;
                padding-bottom: 2px;
                padding-left: 18px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    top: 10px;
                    left: 0;
                    background: $textColor;
                }
                li {
                    position: relative;
                    padding-left: 10px;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        top: 10px;
                        left: -7px;
                        background: $textColor;
                    }
                }
            }
            ul {
                margin-top: -1px;
                margin-bottom: 3px;
                a {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            a {
                color: $textColor;
                &:hover {
                    text-decoration: none;
                    color: $linkColor;
                }
                &.current {
                    font-weight: normal;
                }
            }
        }
    }
}
.single-incsub_wiki {
    .single-p-d {
        max-width: 1180px;
        padding: 74px 0 55px;
        margin: 0 auto;
        @include max-screen($maxWidthMobile){
            padding-top: 20px;
        }
        .content-wiki {
            float: left;
            width: 270px;
            padding: 0 20px;
            margin: 0 0 40px;
            @include max-screen($customWidthTablet){
                width: 220px;
            }
            @include max-screen($maxWidthMobile){
                float: none;
                width: auto;
                margin: 0 0 20px;
            }
            h3 {
                padding: 0;
                margin-bottom: 24px;
                border:none;
                font-size: 24px;
                text-align: left;
                @include max-screen($maxWidthMobile){
                    text-align: center;
                }
                & + ul {
                    font-size: 16px;
                }
            }
            .current {
                font-weight: bold;
            }
        }
        .widget_incsub_wiki {
            padding-bottom: 20px;
            border: none;
            @include max-screen($maxWidthMobile){
                border-bottom: 1px solid $hrColor;
            }
        }
        .content-wrapper {
            max-width: 100%;
            padding: 0;
            margin: 0;
            border: none;
            overflow: hidden;
            @include max-screen($maxWidthMobile){
                padding: 0 10px;
            }
        }
        h1, h2 {
            margin-bottom: 55px;
            text-align: center;
            text-transform: none;
            letter-spacing: 2px;
            color: $titleColor;
            @include max-screen($maxWidthMobile){
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
        }
        h2 {
            margin-bottom: 98px;
            @include max-screen($maxWidthTablet){
                margin-bottom: 55px;
            }
            @include max-screen($maxWidthMobile){
                margin-bottom: 20px;
            }
        }
        .incsub_wiki_tabs:after {
            display: none;
        }
        .long-header {
            padding: 20px 20px 30px;
            font-size: 24px;
            line-height: 28px;
            overflow: hidden;
            @include max-screen($maxWidthMobile){
                font-size: 20px;
                line-height: 24px;
            }
        }
        .form-table {
            width: auto;
            margin: 0 20px;
            tr:nth-child(odd) {
                background: $bgHistoryWikiTable;
            }
            th, td {
                padding: 12px 20px;
                text-align: left;
                line-height: 24px;
            }
            th {
                width: 33.333%;
                @include max-screen($maxWidthMobile){
                    width: 20%;
                }
                @include max-screen($middleWidthMobile){
                    display: none;
                }
            }
            td {
                width: 66.666%;
                @include max-screen($maxWidthMobile){
                    width: 100%;
                }
            }
        }
        .incsub_wiki_revisions {
            margin: 0 20px;
            padding-bottom: 30px;
            border-bottom: 1px solid $hrColor;
            tbody {
                tr:nth-child(odd) {
                    background: $bgHistoryWikiTable;
                }
            }
            td, th {
                width: auto;
                padding: 12px 20px;
                text-align: left;
                @include max-screen($maxWidthMobile){
                    display: table-cell;
                }
            }
            th {
                @include max-screen($customWidthMobile){
                    display: none;
                }
            }
            td {
                @include max-screen($customWidthMobile){
                    display: block;
                }
            }
            td[scope="row"] {
                width: 25%;
            }
            input[type="submit"] {
                margin-top: 0;
                @include max-screen($middleWidthMobile){
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                }
            }
            .tablenav {
                padding: 10px 20px 40px;
                border-bottom: 1px solid $hrColor;
            }
        }
    }
    .incsub_wiki_tabs {
        padding-bottom: 20px;
        border-bottom: 1px solid $borderColor;
        ul {
            @include max-screen($customWidthMobile){
                float: none;
            }
        }
        li {
            margin-left: 11px !important;
            border: 1px solid $borderTabsColor !important;
            border-radius: 4px;
            color: $textColor !important;
            background: $bgTableRow !important;
            box-shadow: 0px 1px 3px 0px $ShadowTabsColor;
            @include max-screen($customWidthMobile){
                float: none;
                display: block !important;
                width: 300px;
                margin: 0 auto 20px !important;
            }
            &:first-child {
                margin-left: 0 !important;
                @include max-screen($customWidthMobile){
                    margin: 0 auto 20px !important;
                }
            }
            &.current {
                border-color: $borderTabsActiveColor !important;
                color: $color-2 !important;
                background: $bgWhite !important;
                &:after {
                    display: none;
                }
            }
            a {
                padding: 12px 18px !important;
            }
        }
    }
    .incsub_wiki_top {
        padding: 0 20px;
        font-size: 0.85em;
    }
    .incsub_wiki_content {
        padding: 22px 38px 13px;
        margin: 0;
        line-height: 25px;
        li {
            position: relative;
            padding-left: 18px;
            &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                top: 10px;
                left: 0;
                background: $textColor;
            }
        }
    }
    .incsub_wiki_bottom {
        padding: 0 20px;
        h3 {
            margin-bottom: 3px;
            font-size: 1.3em;
            letter-spacing: 2px;
        }
    }
    .incsub_wiki_title {
        margin-top: 30px;
    }
    .wp-editor-container {
        border-bottom: 1px solid $hrColor;
        margin-bottom: 36px;
    }
    .wp-editor-area {
        box-sizing: border-box !important;
        height: 96px;
        width: 110% !important;
        padding: 16px 12.5% 16px 22px;
        font: 16px/22px latoregular;
    }
    #wiki-tags-label {
        padding: 0 18px;
        text-align: right;
        @include max-screen($maxWidthMobile){
            width: 265px;
            padding: 0;
            text-align: left;
        }
        @include max-screen($middleWidthMobile){
            width: 100%;
        }
    }
    .incsub_wiki_header {
        padding: 0 22px;
        margin-bottom: 4px;
        font: 24px/28px latosemibold;
        letter-spacing: 1px;
    }
    #wiki-tags-td {
        @include max-screen($maxWidthMobile){
            width: 265px;
        }
        @include max-screen($middleWidthMobile){
            width: 100%;
        }
    }
    #wiki-category-td {
        text-align: left;
        span {
            margin-right: 5px;
            @include max-screen($middleWidthMobile){
                display: block;
            }
        }
        select {
            @include max-screen($middleWidthMobile){
                width: 100% !important;
            }
        }
        .chosen-container {
            width: 178px !important;
            @include max-screen($middleWidthMobile){
                width: 100% !important;
            }
        }
    }
    .incsub_wiki_meta_box {
        padding-left: 42px;
        margin-bottom: 28px;
    }
    label input[type="checkbox"] {
        margin-right: 5px;
    }
    .incsub_wiki_form_buttons {
        padding-top: 0;
        text-align: center;
        #btn_save {
            display: inline-block;
            vertical-align: top;
            margin: 0 20px 0 0;
            @include max-screen($maxWidthTablet){
                width: 200px;
            }
            @include max-screen($middleWidthMobile){
                display: block;
                margin: 0 auto;
            }
        }
        a {
            display: inline-block;
            vertical-align: top;
            width: 268px;
            height: 50px;
            border: none;
            border-radius: 6px;
            background-color: $bgButtonWiki;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
            color: $buttonWikiColor;
            @include max-screen($maxWidthTablet){
                width: 200px;
            }
            @include max-screen($maxWidthMobile){
                height: 36px;
                line-height: 36px;
            }
            @include max-screen($middleWidthMobile){
                display: block;
                margin: 0 auto;
            }
            &:hover {
                text-decoration: none;
                background-color: $bgButtonWikiHover;
            }
        }
    }
}
