.media-large-screen {
    position: absolute;
    width: 80px;
    padding: 7px;
    border: 1px solid $white;
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: $bgmedia;
    overflow: hidden;
    top: 135px;
    right: 0;
    z-index: 10;
    @include max-screen($customWidthDesktop) {
        display: none;
    }
    .media-section {
        overflow: hidden;
    }
}
.media-section {
    h5 {
        position: relative;
        margin: 0;
        text-align: center;
        letter-spacing: 2px;
        @include max-screen($customWidthDesktop) {
            display: none;
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background: url(../img/mediaBorder.png) no-repeat 50% 0;
            z-index: 20;
        }
    }
    ul {
        padding: 16px 6px 0;
        @include max-screen($customWidthDesktop) {
            padding: 16px 0;
        }
    }
    li {
        margin-bottom: 16px;
        @include max-screen($customWidthDesktop) {
            margin: 0;
        }
    }
    a {
        display: block;
        text-align: center;
        @include max-screen($maxWidthMobile) {
            display: block;
            padding: 0 5px;
        }
    }
    img {
        max-width: 100%;
        max-height: 55px;
    }
}
.media-small-screen {
    display: none;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    background: $bgmedia;
    overflow: hidden;
    @include max-screen($customWidthDesktop) {
        display: block;
    }
    li {
        text-align: center;
        height: auto;
    }
    a {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        display: inline-block;
        vertical-align: middle;
    }
    .slick-list {
        overflow: visible;
    }
}
.mfp-content {
    text-align: center;
    .video-container {
        position: relative;
        display: inline-block;
        vertical-align: top;
        .mfp-close {
            position: absolute;
            width: auto;
            height: auto;
            top: -40px;
            right: 0;
            color: $white;
        }
    }
}
.video-js {
    width: auto !important;
    height: auto !important;
}