input[type="text"],
input[type="password"],
input[type="email"] {
    border: 1px solid #f5f7f9;
    width: 100%;
    line-height: 50px;
    height: 50px;
    border-radius: 6px;
    padding: 0 10px;
    text-align: center;
    background: #f5f7f9;
    @include max-screen($mediaSmall){
        height: 36px;
        font-size: 16px;
        line-height: 19px;
        padding: 7px;
        text-align: center;
        ::-webkit-input-placeholder {
            text-align: center;
        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;
        }

        :-ms-input-placeholder {
            text-align: center;
        }
    }
    &:focus {
        background: #fff;
        border-color: #9baaba;
        color: $titleColor;
    }
}
textarea {
    border: 1px solid #f5f7f9;
    width: 100%;
    padding: 10px;
    background: #f5f7f9;
    border-radius: 6px;
    &:focus {
        background: #fff;
        border-color: #9baaba;
        color: $titleColor;
    }
}
textarea,
input {
    &.filled {
        color: $formHColor;
        background: #fff;
        border-color: #9baaba;
        &.error {
            border-color: #f00;
        }
    }
    .error {
        border-color: #f00;
    }
}
input[type="submit"] {
    background-color: $bgHeader;
    border: none;
    width: 268px;
    height: 50px;
    margin: 48px auto 0;
    border-radius: 6px;
    color: $lightColor;
    font-weight: bold;
    @extend %defTransition;
    @include max-screen($mediaSmall){
        height: 36px;
        margin-top: 0;
    }
    &:hover {
        background-color: $buttonHover;
    }
}
.login {
    padding: 0;
}
label {
    &.error {
        color: #f00;
        font-size: 14px;
    }
}
.message {
    color: #008000;
    margin-bottom: 15px;
}
input:focus { outline: none; }
textarea:focus { outline: none; }
.formTwoColumns {
  .gform_body {
    width: auto !important;
    background: $white;
    margin: 0 -10px;
    padding-top: 20px;
    ul::after {
      display: table;
      width: 100%;
      content: "";
      clear: both;
    }
    ul {
      font-size: 0;
      line-height: 0;
      li {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 30px;
        width: 50%;
        padding: 0 10px !important;
        margin: 0 0 15px !important;
        @include max-screen($mediaSmall) {
          width: 100%;
          padding: 0 !important;
        }
        &.fullWidth {
          width: 100%;
        }
        input {
          width: 100% !important;
        }
        select {
          width: 100% !important;
        }
        .chosen-container {
          width: 100% !important;
          li {
            width: 100%;
          }
          .chosen-single {
            height: 50px;
            > span,
            > div {
              padding-top: 12px;
              line-height: 1;
              b {
                top: 0;
              }
            }
          }
        }
      }
    }
  }
  .gform_footer {
    margin: 0 -10px !important;
    padding: 0 10px 20px !important;
    background: $white;
    width: auto !important;
    @include max-screen($mediaSmall) {
      padding: 0 !important;
    }
    input.button {
      display: block !important;
      min-width: 268px;
      margin: 0 auto !important;
    }
  }
}
