html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
* {
    @extend %m-border-box;
}
body {
    font-family: 'latoregular', sans-serif;
    min-width: 320px;
    background: $bgBody;
    font-size: 16px;
    line-height: 30px;
}
.wrapper {
    width:100%;
    height:100%;
    display:table;
    table-layout: fixed;
    margin:0 auto;
    padding: 0;
    img {
        max-width: 100%;
        height: auto;
    }
}
.content-wrapper {
    max-width: $maxSiteWidth;
    margin: 0 auto;
    padding: 75px 10px 0;
    .inner-wrapper {
        position: relative;
    }
    h1 {
        border-bottom: 1px solid #f1f1f6;
        font-size: 26px;
        margin-bottom: 20px;
        padding-bottom: 45px;
        text-align: center;
    }
}
.digital-products-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        img {
            display: block;
        }
    }
}
.main {
    position: relative;
    .content-wrapper {
        background: $bgContent;
    }
}
.bg-page {
    position: absolute;
    top: -$marginTopContent;
    width: 100%;
    max-height: 596px;
    overflow: hidden;
    z-index: -1;
    img {
        width: 100%;
    }
}
.content-header {
    margin-bottom: 40px;
    @extend %clr;
    h1 {
        float: left;
        margin-top: 8px;
    }
    .contact-me {
        float: right;
    }
    @include max-screen($mediaSmall){
        text-align: center;
        h1 {
            float: none;
            margin-top: 0;
            margin-bottom: 15px !important;
            text-align: center !important;
        }
        .contact-me {
            float: none;
        }
    }
}
.table-wrap {
    overflow-x: auto;
    position: relative;
    table {
        max-width: 100%;
        width: auto;
    }
}
@include max-screen(999){
    .bg-page {
        display: none;
    }
    #header {
        margin-bottom: 20px !important;
    }
}
.single-product-description {
    #header {
        background: rgba(0, 0, 0, .5);
        margin-bottom: 113px;
    }
}
.content-header {
    h1 {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
.column-grid {
	@include max-screen(640) {
		.column-span-1 {
			float: none;
			margin: 0 0 20px 0;
            display: block;
            width: 100%;
            > p {
                display: block;
                span {
                    display: block;
                }
                br {
                    display: none;
                }
                strong {
                    display: block;
                    text-align: center;
                }
            }
		}
	}
}
.error404 {
    background: #fff;
    h2 {
        text-align: center;
    }
}
