%elemBorder {
    border-radius: 6px;
    border: 1px solid $lightBorderColor;
    line-height: 48px;
    display: inline-block;
    text-decoration: none;
    color: $lightColor;
    text-transform: uppercase;
}
.e-btn-transparent {
	@extend %elemBorder;
	@extend %defTransition;
	&:hover {
		border-color: transparent;
		background-color: $darkGreen;
		text-decoration: none;
	}
}
.e-btn {
    @extend %elemBorder;
	@extend %defTransition;
    background: $bgHeader;
    border-color: $bgHeader;
    padding: 0 36px;
	&:hover {
		text-decoration: none;
		background-color: $darkGreen;
	}
	&.m-shadow {
		box-shadow: 0 1px rgba(0,0,0,.2);
	}
}
.e-btn-remove {
	display: inline-block;
	@extend %hide-text;
	@extend %iconsSprite;
	@include back-pos('remove');
}
.e-btn-open,
.e-btn-close {
	border-radius: 6px;
	border: 1px solid $lightBorderColor;
	background: $bgHeader;
	color: $lightColor;
	text-decoration: none;
	padding: 10px 25px 10px 10px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	@extend %defTransition;
	&:hover {
		text-decoration: none;
		background-color: $darkGreen;
	}
	&:before {
		position: absolute;
		content: "";
		display: block;
		right: 10px;
		top: 50%;
		margin-top: -(image-height('icons/arrow_bottom.png')/2);
		@extend %iconsSprite;
		@include back-pos('arrow_bottom');
	}
}
.e-btn-close {
	&:before {
		@include back-pos('arrow_top');
	}
}
.e-btn-mail {
	@extend %hide-text;
	background-image: url("../img/mail.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.e-btn-login {
	@extend %hide-text;
	background-image: url("../img/login.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.e-btn-submit {
	@extend %hide-text;
	background-image: url("../img/check.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.e-btn-show-lesson {
	@extend %hide-text;
	@extend %iconsSprite;
	@extend %defTransition;
	@include isp('time', $icons, false, 6.5px, 6.5px);
	background-color: $bgIcons;
	height: 27px;
	width: 27px;
	border: 0;
	border-radius: 3px;
	&:hover {
		background-color: $bgHeader;
	}
}
.e-btn-plus {
	@extend %hide-text;
	@extend %iconsSprite;
	@extend %defTransition;
	@include isp('plus', $icons, false, 9px, 9px);
	background-color: $bgIcons;
	height: 32px;
	width: 32px;
	border: 0;
	border-radius: 3px;
	&:hover {
		background-color: $bgHeader;
	}
}
.e-btn-tutor {
	position: relative;
	background-color: $bgContent;
	border-radius: 3px;
	border: 1px solid $borderLinksColor;
	padding: 0 26px 0 46px;
	color: $linksColor;
	font: 16px/40px $mainFont;
	display: inline-block;
	@extend %defTransition;
	&:before,
	&:after {
		position: absolute;
		top: 50%;
		left: 24px;
		margin-top: -(image-height('icons/book.png')/2);
		content: '';
		@extend %defTransition;
		@extend %iconsSprite;
		@include back-pos('book');
	}
	&:after {
		opacity: 0;
		@include back-pos('book-on');
	}
	&:hover {
		background-color: $bgHoverIcons;
		border-color: $bgHoverIcons;
		color: $lightColor;
		text-decoration: none;
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
}
.e-btn-grey {
	background-color: $bgContent;
	color: $linksColor;
	border: 1px solid $borderLinksColor;
	border-radius: 3px;
	display: inline-block;
	@extend %defTransition;
	&:hover {
		background-color: $bgHoverIcons;
		border-color: $bgHoverIcons;
		color: $lightColor;
		text-decoration: none;
	}
}
.e-btn-forum,
.e-btn-send-mail {
	width: 40px;
	height: 40px;
	position: relative;
	text-rendering: auto;
	box-sizing: content-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@extend %hide-text;
	&:before {
		font: normal 14px/38px $fontAwesome;
		position: absolute;
		content: "\f0e5";
		color: $bgHoverIcons;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
	}
	&:hover {
		&:before {
			color: $lightColor;
		}
	}
}
.e-btn-send-mail {
	&:before {
		content: "\f003";
	}
}
.e-with-title {
	position: relative;
	&:hover {
		.e-title {
			display: block;
		}
	}
	.e-title {
		display: none;
		position: absolute;
		top: 120%;
		left: 27px;
		padding: 4px 25px;
		font: 16px/32px $mainFont;
		color: $linksColor;
		background: $bgContent;
		border: 1px solid $bgHoverIcons;
		border-radius: 6px;
		box-shadow: 0 2px 3px rgba(0,0,0, .1);
		white-space: nowrap;
	}
	@include max-screen($maxWidthTablet) {
		&:hover {
			.e-title {
				display: none;
			}
		}
	}
}

/* select for devices */
select {
	color: $bgHeader;
	font-size: 16px;
	border: 1px solid $bgHeader;
	background: #fff;
	height: 35px;
	border-radius: 5px;
	padding: 0 15px;
	position: relative;
}
.descriptions-list {
    display: block;
    border-bottom: 1px solid #e9edf1;
    margin-bottom: 43px;
    padding-bottom: 20px;
    @extend %clr;
    li {
        display: block;
        float: left;
        margin-right: 20px;
        font-size: 14px;
        line-height: 32px;
        color: #d4dbe3;
        &.active{
            a {
                color: $textColor;
                &:before {
                    color: #d4dbe3;
                }
            }
        }
        &:first-child {
            a {
                &:before {
                    display: none;
                }
            }
        }
        a {
            text-decoration: none;
            color: #d4dbe3;
            position: relative;
            &:before {
                position: absolute;
                content: "-";
                left: -11px;
                top: -9px;
            }
            &:hover {
                color: $textColor;
                &:before {
                    color: #d4dbe3;
                }
            }
        }
    }
}
.post-edit-link {
	text-align: center;
	display: block;
	margin: 20px 0;
}
.open-info {
	cursor: pointer;
	background-color: $bgIcons;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	@extend %hide-text;
	@extend %defTransition;
	@extend %iconsSprite;
	@include isp('open', $icons, false, 7.5px, 4px);
	position: relative;
	&:before,
	&:after {
		content:'';
		position: absolute;
		opacity: 0;
	}
	&:before {
		@extend %iconsSprite;
		@include isp('open-on', $icons, false, 7.5px, 4px);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&:after {
		top: 50%;
		left: 50%;
		width: 12px;
		height: 2px;
		background: $bgTableRow;
		margin-top: -1px;
		margin-left: -6px;
	}
	&.active {
		background-image: none;
		&:after {
			opacity: 1;
		}
		&:before {
			opacity: 0;
		}
		&:hover {
			&:after {
				background: $bgContent;
			}
			&:before {
				opacity: 0;
			}
		}
	}
	&:hover {
		background-color: $bgHeader;
		background-image: none;
		&:before {
			opacity: 1;
		}
	}
}
.upgrade_button {
    border: 1px solid $bgHeader;
    border-radius: 6px;
    text-transform: uppercase;
    color: $bgHeader !important;
    line-height: 48px !important;
    text-decoration: none !important;
    width: 156px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    padding: 0;
    &:hover {
        border-color: $darkGreen;
        color: $darkGreen !important;
    }
}
.photo-block {
    .photo-content {
        display: block;
        text-align: center;
    }
    .nav-block {
        @extend %clr;
        .prev {
            display: inline-block;
            float: left;
            a {
                position: relative;
                display: block;
                padding-left: 15px;
                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: "<";
                }
            }
        }
        .next {
            display: inline-block;
            float: right;
            a {
                position: relative;
                display: block;
                padding-right: 15px;
                &:before {
                    position: absolute;
                    right: 0;
                    top: 0;
                    content: ">";
                }
            }
        }
    }
}