@font-face {
	font-family: 'latoregular';
	src: url('../fonts/latoRegular/lato-regular-webfont.eot');
	src: url('../fonts/latoRegular/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/latoRegular/lato-regular-webfont.woff2') format('woff2'),
	url('../fonts/latoRegular/lato-regular-webfont.woff') format('woff'),
	url('../fonts/latoRegular/lato-regular-webfont.ttf') format('truetype'),
	url('../fonts/latoRegular/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latolight';
	src: url('../fonts/latoLight/lato-light-webfont.eot');
	src: url('../fonts/latoLight/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/latoLight/lato-light-webfont.woff2') format('woff2'),
	url('../fonts/latoLight/lato-light-webfont.woff') format('woff'),
	url('../fonts/latoLight/lato-light-webfont.ttf') format('truetype'),
	url('../fonts/latoLight/lato-light-webfont.svg#latolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latosemibold';
	src: url('../fonts/latoSemibold/lato-semibold-webfont.eot');
	src: url('../fonts/latoSemibold/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/latoSemibold/lato-semibold-webfont.woff2') format('woff2'),
	url('../fonts/latoSemibold/lato-semibold-webfont.woff') format('woff'),
	url('../fonts/latoSemibold/lato-semibold-webfont.ttf') format('truetype'),
	url('../fonts/latoSemibold/lato-semibold-webfont.svg#latosemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latobold';
	src: url('../fonts/latoBold/lato-bold-webfont.eot');
	src: url('../fonts/latoBold/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/latoBold/lato-bold-webfont.woff2') format('woff2'),
	url('../fonts/latoBold/lato-bold-webfont.woff') format('woff'),
	url('../fonts/latoBold/lato-bold-webfont.ttf') format('truetype'),
	url('../fonts/latoBold/lato-bold-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latoheavy';
	src: url('../fonts/latoHeavy/lato-heavy-webfont.eot');
	src: url('../fonts/latoHeavy/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/latoHeavy/lato-heavy-webfont.woff2') format('woff2'),
	url('../fonts/latoHeavy/lato-heavy-webfont.woff') format('woff'),
	url('../fonts/latoHeavy/lato-heavy-webfont.ttf') format('truetype'),
	url('../fonts/latoHeavy/lato-heavy-webfont.svg#latoheavy') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.2.0');
	src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
	url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.2.0') format('woff'),
	url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
	url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
