/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 10, ../sass/ie.scss */
#header .logo ul ul {
  margin-top: 0px;
  z-index: 500;
}
/* line 17, ../sass/ie.scss */
#header .logo ul:hover ul {
  margin-top: 0px;
}

/* line 31, ../sass/ie.scss */
.main-menu ul li.menu-item-has-children:hover .sub-menu {
  margin-top: 0;
}
/* line 39, ../sass/ie.scss */
.main-menu .sub-menu {
  margin-top: 0px;
}

/*# sourceMappingURL=ie.css.map */
