body {
	&.checkout {
		color: $textColor;
		.e-btn {
			padding: 5px 38px;
			border-radius: 3px;
			font: 16px/18px "latoregular", sans-serif;
			height: auto;
			text-transform: none;
			@include max-screen($maxWidthMobile) {
				padding: 10px 5px;
			}
		}
		.edd_checkout_register_login {
			margin-left: 10px;
			@include max-screen($maxWidthMobile) {
				margin: 10px 0;
				width: 100%;
				text-align: center;
			}
		}
		@include max-screen($maxWidthMobile) {
			input[type="submit"] {
				margin-top: 20px;
			}
		}
	}
}
.cart-checkout,
.purchase-data {
	width: 100%;
	max-width: 100%;
	border: none;
	color: $textColor;
	line-height: 20px;
	@include max-screen($maxWidthTablet) {
		padding-left: 10px;
	}
	th {
		color: $titleCartColor;
		font-weight: bold;
		line-height: 22px;
		padding: 20px 10px;
		&:first-child {
			text-align: left;
			color: $textColor;
			padding-left: 42px;
			@include max-screen($maxWidthTablet){
				padding-left: 10px;
			}
		}
	}
	td {
		border: 0;
		text-align: center;
		padding: 10px;
		&:first-child {
			color: $titleCartColor;
			text-align: left;
			padding-left: 42px;
			@include max-screen($maxWidthTablet){
				padding-left: 10px;
			}
		}
		&.edd_cart_actions {
			width: 30px;
			padding: 10px 0;
		}
	}
	tr {
		&:nth-child(odd) {
			td {
				background: $bgTableRow;
			}
		}
	}
	tfoot {
		th {
			font-weight: bold;
			padding: 16px 40px 16px 42px;
			@include max-screen($maxWidthTablet) {
				padding-left: 10px;
			}
			@include max-screen($maxWidthMobile) {
				padding-right: 10px;
			}
		}
	}
	.edd_cart_item_cycle {
		width: 180px;
	}
	.edd_cart_item_price {
		width: 85px;
	}
	.e-btn-remove {
		vertical-align: middle;
	}
}
.wrap-final-total {
	@extend %clr;
	margin-bottom: 40px;
	margin-right: 30px;
	@include max-screen($maxWidthMobile) {
		margin-right: 10px;
		margin-bottom: 20px;
	}
}
.title-total {
	float: left;
	text-transform: uppercase;
	font: 22px/40px $mainFont;
}
.final-total {
	float: right;
	text-align: right;
	font: 24px/40px $mainFontLight;
	color: $titleColor;
}

/* Cart discount */
.cart-discount {
	float: right;
	line-height: 40px;
	color: $titleColor;
	font-weight: normal;
}
.enter-discount {
	float: left;
	font-size: 0;
	label,
	input[type="text"],
	input[type="submit"] {
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		border-radius: 3px;
		&:focus {
			border-color: $bgHeader;
		}
	}
	input[type="text"],
	input[type="submit"] {
		margin-left: 15px;
	}
	input[type="text"] {
		font: 14px/18px $mainFont;
		padding: 5px;
		text-align: center;
		color: $formHColor;
		border: 1px solid $formHColor;
		width: 125px;
		height: auto;
		background: $bgContent;
		border-radius: 3px;
		@include max-screen($maxWidthMobile) {
			width: 45%;
			margin: 20px 2.5%;
			padding: 10px 5px;
		}
	}
	input[type="submit"] {
		@extend .e-btn;
		width: 125px;
		padding: 6px 5px;
		font: 16px/18px $mainFont;
		height: auto;
		margin-top: 0;
		@include max-screen($maxWidthMobile) {
			width: 45%;
			margin: 20px 2.5%;
			padding: 10px 5px;
		}
	}
	@include max-screen($maxWidthMobile) {
		float: none;
		label {
			display: block;
		}
	}
}
/* Checkout user info */
.checkout-form {
	padding: 0 10px 40px 42px;
	fieldset {
		border: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}
	.button {
		@extend %elemBorder;
		@extend %defTransition;
		background: $bgHeader;
		padding: 0 36px;
		border: none;
		width: 268px;
		height: 50px;
		margin: 48px auto 0;
		border-radius: 6px;
		color: $white;
		font-weight: bold;
		text-transform: none;
		&:hover {
			text-decoration: none;
			background-color: $darkBlue;
		}
	}
	@include max-screen($maxWidthTablet) {
		padding-left: 10px;
	}
}
.checkout-user-info {
	margin-bottom: 40px;
	legend {
		font: bold 22px/40px $mainFont;
		padding: 20px 0;
	}
	@include max-screen($maxWidthMobile){
		margin-bottom: 0;
		legend {
			text-align: center;
		}
	}
}
.wrap-block-info {
	margin-bottom: 20px;
	font-size: 0;
	.item-title {
		width: 60%;
		display: inline-block;
		vertical-align: middle;
		label {
			font: bold 16px/18px $mainFont;
			padding: 0 0 10px;
			display: inline-block;
		}
		@include max-screen($maxWidthMobile) {
			width: auto;
			display: block;
			text-align: center;
			margin-bottom: 10px;
		}
	}
	.edd-required-indicator {
		color: $titleColor;
		font-size: 14px;
	}
	.item-input {
		vertical-align: middle;
		display: inline-block;
		width: 40%;
		font-size: 16px;
		@include max-screen($maxWidthMobile) {
			width: auto;
			display: block;
		}
	}
	.edd-description {
		display: block;
		color: $formHColor;
		font-size: 14px;
	}
}

.windows-safari {
	.wrap-block-info {
		.item-input {
			width: 39%;
		}
	}
}
.show-terms {
	text-align: right;
	@include max-screen($maxWidthMobile) {
		text-align: left;
	}
}
.empty-cart {
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
}
.purchase-submit {
	text-align: right;
	margin-top: 48px;
	@include max-screen($maxWidthMobile) {
		text-align: left;
	}
}
.check-agree {
	@extend %clr;
	display: inline-block;
	vertical-align: middle;
	color: $formHColor;
	font-style: italic;
	font-size: 14px;
	input[type=checkbox] {
		float: left;
	}
	label {
		margin-right: 10px;
	}
	@include max-screen($maxWidthMobile) {
		display: block;
		margin-bottom: 20px;
		label {
			display: block;
		}
	}
}
.add-payment-icons {
	display: inline-block;
	vertical-align: middle;
	.fa {
		width: 50px;
		height: 50px;
		margin-left: 5px;
		font-size: 18px;
		line-height: 50px;
		text-align: center;
		border-radius: 6px;
		background: $mainBlueColor;
		color: $lightColor;
		position: relative;
	}
}
.terms-agreement {
	text-align: left;
	margin-bottom: 20px;
}
.wrap-submit {
	text-align: right;
	input[type="submit"] {
		@include max-screen($maxWidthMobile) {
			width: 100%;
		}
	}
}
.edd_errors {
	margin: 20px 0;
	display: block;
	font-size: 13px;
}
.edd_error {
	padding: 5px;
	border: 1px solid #c00;
	background-color: #ffebe8;
	color: #333;
	text-align: center;
	border-radius: 2px;
}

// PAGE /checkout/
#edd_purchase_form {
	#edd_payment_mode_select_wrap {
		fieldset {
			border: 0;
			padding: 0;
			margin: 0 0 40px;
			legend {
				font: bold 22px/40px $mainFont;
				padding: 20px 0;
			}
			@include max-screen($maxWidthMobile){
				margin-bottom: 0;
				legend {
					text-align: center;
				}
			}
			#edd-payment-mode-wrap {
				label {
					padding-right: 15px;
				}
				input {
					margin-right: 5px;
				}
			}
		}
	}
}

#edd_purchase_form_wrap {
	position: relative;
	#edd_checkout_login_register {
		fieldset {
			border: 0;
			padding: 0;
			margin: 0 0 40px;
			legend {
				font: bold 22px/40px $mainFont;
				padding: 20px 0;
			}
			@include max-screen($maxWidthMobile){
				margin-bottom: 0;
				legend {
					text-align: center;
				}
			}
			p[id^="edd"] {
				position: relative;
				margin-bottom: 20px;
				@include max-screen($maxWidthMobile) {
					text-align: center;
				}
				label {
					width: 60%;
					display: inline-block;
					vertical-align: middle;
					font: bold 16px/18px "latoregular", sans-serif;
					margin-bottom: 20px;
					padding: 0 0 10px;
					@include max-screen($maxWidthMobile) {
						width: 100%;
						margin-bottom: 0;
					}
					.edd-required-indicator {
						color: #60a0e7;
						font-size: 14px;
					}
				}
				.edd-description {
					width: 60%;
					display: inline-block;
					color: #9baaba;
					font-size: 14px;
					position: absolute;
					left: 0;
					top: 30px;
					@include max-screen($maxWidthMobile) {
						width: 100%;
						position: static;
						margin-bottom: 10px;
					}
				}
				.edd-input {
					width: 38%;
					font-size: 16px;
					border: 1px solid #f5f7f9;
					line-height: 48px;
					height: 50px;
					border-radius: 6px;
					padding: 0 10px;
					text-align: center;
					background: #f5f7f9;
					color: #9baaba;
					@include max-screen($maxWidthMobile) {
						width: 100%;
					}
				}
			}
			.item-input {
				vertical-align: middle;
				display: inline-block;
				width: 40%;
				font-size: 16px;
				@include max-screen($maxWidthMobile) {
					width: 100%;
				}
				.edd-input {
					border: 1px solid #f5f7f9;
					width: 100%;
					line-height: 50px;
					height: 50px;
					border-radius: 6px;
					padding: 0 10px;
					text-align: center;
					background: #f5f7f9;
					color: #9baaba;
				}
			}
		}
	}
	#edd_purchase_submit {
		border: 0;
		padding: 0;
		margin: 0 0 40px;
		fieldset {
			border: 0;
			padding: 0;
			margin: 0 0 40px;
		}
		input[type="checkbox"] {
			display: none;
			& + label {
				cursor: pointer;
				position: relative;
				padding-left: 25px;
				&:before,
				&:after {
					content: "";
					position: absolute;
					width: 16px;
					height: 16px;
					top: 50%;
					left: 0;
					margin-top: -9px;
				}
				&:before {
					border: 1px solid $bgHeader;
					border-radius: 2px;
				}
				&:after {
					@extend %iconsSprite;
					@include back-pos('checked');
					left: 3px;
					margin-top: -(image-height('icons/checked.png')/2);
					display: none;
				}
			}
			&:checked {
				& + label {
					&:after {
						display: block;
					}
				}
			}
		}
	}
	#edd-purchase-button {
		background: #60a0e7;
		padding: 0 36px;
		border: none;
		width: 268px;
		height: 50px;
		margin: 48px 0 0 auto;
		border-radius: 6px;
		color: $white;
		font-weight: bold;
		text-transform: none;
		position: relative;
		right: 0;
		left: 100%;
		transform: translateX(-100%);
		@include max-screen($maxWidthMobile) {
			width: 100%;
			left: 0;
			transform: none;
		}
	}
}
