body {
	&.purchase-confirmation {
		text-align: center;
		h2 {
			margin-bottom: 30px;
		}
	}
}
.purchase-data {
	margin-bottom: 40px;
	th, td {
		&:last-child {
			text-align: right;
			padding-right: 40px;
			@include max-screen($maxWidthTablet){
				padding-left: 10px;
			}
		}
	}
}
