body {
	&.register {
		.main-content {
			padding-bottom: 75px;
			@include max-screen($maxWidthTablet) {
				padding-bottom: 20px;
			}
		}
		h1 {
			margin-bottom: 45px;
			@include max-screen($maxWidthTablet) {
				margin-bottom: 20px;
			}
		}
	}
}
.wrap-registration {
	display: table;
	width: 100%;
	padding: 0 32px;
	color: $formHColor;
	font: 16px/24px $mainFontSemibold;
	h2 {
		font: bold 22px/32px $mainFont;
		color: $textColor;
		margin-bottom: 15px;
	}
	p {
		margin: 0 0 12px;
	}
	.login {
		display: table-cell;
		text-align: center;
		@include max-screen($maxWidthMobile) {
			display: block;
			margin-bottom: 30px;
		}
	}
	input[type="text"],
	input[type="password"],
	input[type="email"] {
		margin: 0 0 12px;
	}
	.submit {
		margin-top: 34px;
		@include max-screen($maxWidthMobile) {
			margin-top: 14px
		}
		input[type="submit"] {
			margin: 0;
		}
	}
	@include max-screen($maxWidthMobile) {
		padding: 0;
	}
}
.wrap-content-registration {
	display: table-cell;
	width: 72%;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
	color: $lightColor;
	position: relative;
	overflow: hidden;
	.inner-wrap-content-registration {
		//background: $bgContentRegistration;
		border-radius: 6px;
		float: right;
		//position: absolute;
		//left: 107px;
		//right: 0;
		//top: 0;
		//bottom: 0;
		@include max-screen($maxWidthTablet) {
			left: 30px;
		}
	}
	.content-registration {
		/* position: absolute;
		top: 50%;
		left: 50%;
		padding: 10px;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%); */
		img{vertical-align: top;}
	}
	@include max-screen($maxWidthMobile) {
		display: block;
		width: auto;
		.inner-wrap-content-registration {
			position: static;
		}
		.content-registration {
			position: static;
			transform: translate(0);
			-webkit-transform: translate(0);
		}
	}
}
.img-mail {
	display: block;
	margin: 45px auto;
	@extend %hide-text;
	@extend %iconsSprite;
	@include back-pos('img-mail');
}