$icons: sprite-map("icons/*.png", $spacing: 20px);

%iconsSprite{
    background-image: sprite-url($icons);
    background-repeat:  no-repeat;
}
// sized sprites
@mixin image-size($path){
	width: image-width($path);
	height: image-height($path);
}
@mixin sized-sprite($sprite,$map: $icons ){
	background: sprite($map, $sprite) no-repeat;
	@include image-size(sprite-file($map, $sprite));
}
//shortcut
@mixin s($sprite, $map: $icons){
	background: sprite($map, $sprite) no-repeat;
	@include image-size(sprite-file($map, $sprite));
}
//only image, when dimensions are useless
@mixin si($sprite, $map: $icons ){
	background: sprite($map, $sprite) no-repeat;
}

//only position
@mixin back-pos($sprite, $map: $icons){
	background-position: sprite-position($map, $sprite);
	@include image-size(sprite-file($map, $sprite));
}