 body {
	&.lostpassword {
		.inner-wrapper {
			text-align: center;
		}
		h1 {
			margin-bottom: 70px;
			@include max-screen($maxWidthMobile){
				padding-bottom: 25px;
				margin-bottom: 30px;
			}
		}
		h4 {
			font-size: 16px;
			line-height: 30px;
			color: $formHColor;
		}
		input {
			max-width: 268px;
		}
	}
}
body {
	&.login {
		.inner-wrapper {
			text-align: center;
		}
		h1 {
			margin-bottom: 70px;
			@include max-screen($maxWidthMobile){
				padding-bottom: 25px;
				margin-bottom: 30px;
			}
		}
		.page {
			max-width: 696px;
			margin: 0 auto 40px;
			@extend %clr;
			> p {
				max-width: 270px;
				float: right;
				text-align: left;
				background: #cdd3da;
				padding: 10px;
				color: $lightColor;
				border-radius: 6px;
			}
			.wrap-registration{
				display: table;
	            width: 100%;
	            padding: 0 32px;
	            color: #9baaba;
	            font: 16px/24px "latosemibold", sans-serif;
	            @include max-screen($maxWidthMobile){
	                padding: 0;
	            }
				.login_image{
					display: table-cell;
					width: 72%;
					box-sizing: border-box;
					vertical-align: middle;
					text-align: center;
					color: #fff;
					position: relative;
					overflow: hidden;
					padding: 0 0 0 15%;
					@include max-screen($maxWidthMobile){
						padding: 0;
						width: 100%;
						display: block;
					}
				}
			}
			#theme-my-login {
				//display: table-cell;
				@include max-screen($maxWidthMobile){
					max-width: 100%;
				}
			}
			@include max-screen($maxWidthMobile){
				#theme-my-login {
					width: 100%;
					float: none;
					display: block;
					margin-bottom: 15px;
				}
				> p {
					width: 100%;
					float: none;
					max-width: 100%;
				}
			}
		}
		&.page-template-template-login-php{
			.page{max-width: 100%;}
		}
		form {
			p {
				margin-bottom: 12px;
				input {
					margin-bottom: 0;
				}
			}
		}
	}
}
.tml-action-links {
    a {
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;
        color: $formHColor;
        &:hover {
            text-decoration: underline;
        }
    }
}
.wrap-field-inputs {
	text-align: center;
	font-size: 0;
	margin-bottom: 15px;
	.field-input {
		display: inline-block;
		width: 267px;
		margin: 0 12px;
		font-size: 16px;
	}
	@include max-screen($maxWidthMobile){
		.field-input {
			width: 100%;
			margin: 0;
			display: block;
		}
	}
}

.login-form {
	.cptch_block {
		margin: 30px 0 40px;
	}
	.e-btn-login {
		margin-top: 0;
	}
	br{
		display: none;
	}
	[type="submit"] {
		margin-top: 0;
	}
}
