.b-tutor-cal-wrap {
	padding: 30px 0 50px;
	text-align: center;
}


.lessons-block {
	width: 464px;
	margin: 0 auto 50px;
	@include max-screen($maxWidthMobile) {
		width: auto;
	}
	textarea {
		resize: vertical;
	}
	.lessons-block-title {
		margin: 0 0 20px 0;
		text-align: center;
		h3 {
			color: $textColor;
		}
	}
}
.user-block-wrap {
	margin-bottom: 2px;
	font-family: $mainFontSemibold;
	background: #fbfbfb;
	&.active {
		background: $lightColor;
		.event-time:after {
			display: none;
		}
	}
	&:last-child {
		.event-time:after {
			display: none;
		}
	}
}
.user-block {
	position: relative;
	.student-top-box {
		@extend %clr;
		position: relative;
		padding: 13px 45px 8px 16px;
		@include max-screen($customWidthMobile) {
			padding: 13px 25px 8px 0;
		}
	}
	.event-time {
		width: 100px;
		text-align: center;
		line-height: 1.2;
		color: $mainBlueColor;
		position: absolute;
		top: 35px;
		left: -150px;
		&:after {
			content: '';
			width: 1px;
			height: 50px;
			margin-top: 5px;
			background: $mainBlueColorAlpha20;
			position: absolute;
			top: 100%;
			left: 50%;
		}
		@include max-screen($maxWidthMobile) {
			width: auto;
			text-align: left;
			padding-top: 13px;
			position: static;
			top: auto;
			left: auto;
			&:after {
				display: none;
			}
		}
	}
	.user-photo {
		float: left;
		margin-right: 18px;
		padding-top: 3px;
		img {
			width: 75px;
			height: 75px;
		}
	}
	.user-info-box {
		max-width: 310px;
		overflow: hidden;
		& > div {
			margin-bottom: 8px;
			line-height: 1.2;
		}
	}
	.open-info {
		position: absolute;
		right: 16px;
		top: 16px;
		@include max-screen($maxWidthMobile) {
			right: 10px;
			top: -25px;
		}
	}

	.student-bottom-box {
		.student-info {
			margin-left: 109px;
			border-top: 1px solid $borderColor;
			padding: 13px 0 8px;
			@include max-screen($maxWidthMobile) {
				margin-left: 0;
			}
			& > div {
				margin-bottom: 8px;
				line-height: 1.2;
			}
		}
		&.hide-student-info-block {
			display: none;
		}
	}
}

.lesson-history-wrapper {
	@extend %clr;
	border-top: 1px solid $borderColor;
	padding: 15px 0;
	font-size: 0;
	.lessons-loop {
		display: inline-block;
		vertical-align: middle;
	}
	.lesson-history-topic {
		line-height: 27px;
		float: left;
		font-size: 16px;
		margin: 5px 0;
		@include max-screen($middleWidthMobile) {
			float: none;
		}
	}
	.lesson-history-buttons {
		float: right;
		margin: 5px 0;
		@include max-screen($middleWidthMobile) {
			float: none;
		}
	}
	.all-complete-lessons-wrapper {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
	}
	.e-btn-show-lesson {
		vertical-align: top;
	}
}
.lessons-loop {
	font-size: 0;
	.history-wrapper {
		display: inline-block;
		margin-left: 5px;
		@include max-screen($middleWidthMobile) {
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
.history-wrapper {
	background: $bgIcons;
	width: 67px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	&:first-child {
		background: $bgDarkIcons;
	}
	&:hover {
		@extend %defTransition;
		background: $bgHeader;
	}
}
.history-item-wrapper {
	a {
		display: block;
		font: bold 12px/27px $mainFont;
		color: $lightColor;
		&:hover {
			text-decoration: none;
		}
	}
}


.lesson-number-block-wrapper,
.next-lesson-number-block-wrapper {
	@extend %clr;
	padding-bottom: 15px;
}
.lesson-number-block-wrapper {
	padding: 15px 0;
	border-top: 1px solid $borderColor;
}
.wrap-select-block {
	float: left;
	margin: 5px 40px 15px 0;
	@extend %clr;
	&.m-one-row {
		float: none;
		margin-left: 0;
		clear: both;
	}
	&.m-fr {
		//float: right;
		margin-right: 0;
		width: 100%;
		text-align: right; 
		@include max-screen($middleWidthMobile) {
			float: none;
		}
	}
	&.module-id-wrapper{
		margin: 5px 0 15px;
		float: right; 
	}
	@include max-screen($middleWidthMobile) {
		float: none;
		margin-right: 0;
	}
	.title-block {
		display: inline-block;
		margin-right: 6px;
		color: $formHColor;
		font: 16px/32px $mainFontSemibold;
	}
	.select-block {
		display: inline-block;
		@include max-screen($middleWidthMobile) {
			float: right;
		}
	}
	.plus-button-wrapper {
		display: inline-block;
	}
	.chosen-container {
		width: auto !important;
	}

	.chosen-container-single {
		.chosen-single {
			height: 32px;
		}
	}
	.ch-select {
		.chosen-container {
			min-width: 32px;
			font: bold 16px/32px $mainFont;
			&.chosen-with-drop {
				.chosen-container-single {
					.chosen-single {
						background: $bgHeader;
					}
				}
			}
		}
		.chosen-container-single {
			text-align: center;
			.chosen-single {
				border: 0;
				color: $lightBorderColor;
				background: $bgHeader;
				box-shadow: none;
				padding: 0 30px;
				@extend %defTransition;
				&:hover {
					background: $bgHeader;
				}
				span {
					margin-right: 0;
					color: $lightBorderColor;
				}
				div {
					display: none;
				}
			}
		}
		select {
			height: 32px;
			border: 0;
			background: $bgHeader;
			color: $lightBorderColor;
			vertical-align: middle;
			padding: 0;
		}
	}
	.e-btn-plus {
		vertical-align: middle;
	}
	.lesson-removed-part {
		display: inline-block;
	}
}

.lesson-comment-wrapper {
	padding: 15px 0;
	border-top: 1px solid $borderColor;
	textarea {
		width: 100%;
		height: 95px;
	}
	div.lesson-comment {
		text-align: left;
	}

	.title-block {
		display: inline-block;
		margin-right: 6px;
		color: $formHColor;
		font: 16px/32px $mainFontSemibold;
	}
	.select-block {
		display: inline-block;
	}
}

.affiliate-area{
	.status-publish{
		overflow: hidden;
		position: relative;
		.affwp-errors{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;  
		} 
		.affwp-form{
			max-width: 50%;
			width: 100%;
			float: left;
			input[type=text],
			input[type=password],
			input[type=email],
			input[type=url],
			textarea{
				width: 100%; 
			}
			@include max-screen($maxWidthMobile) {
				float: none;
				max-width: 100%;
				margin: 0 0 30px;  
			}
			.button{
				height: 50px;
				width: 268px;
				font-weight: bold;
				vertical-align: middle;
				text-transform: uppercase;
				background: #60A0E7;
				border:1px solid #60a0e7;
				border-radius: 5px;
				color: #fff; 
				&:hover{
					background: #498ad2; 
				}  
			}
		}
		.tablenav{
			.button{
				height: 35px;
				width: 220px; 
				font-weight: bold;
				vertical-align: middle;
				text-transform: uppercase;
				background: #60A0E7;
				border:1px solid #60a0e7;
				border-radius: 5px;
				color: #fff; 
				margin: 0;
				&:hover{
					background: #498ad2; 
				}  
				
			}
			.chosen-container{min-width: 72px;}
		}
	}
}




















