<?php

global $wp_query;

/*
 *  Disclaimer text
 */
if( CMA_Thread::isDisclaimerApproved() )
{
	add_action('wp_enqueue_scripts', 'cma_enqueue_disclaimer');

	function cma_enqueue_disclaimer()
	{
		wp_register_script('cma_disclaimer', CMA_URL . '/views/resources/disclaimer.js');
		wp_localize_script('cma_disclaimer', 'cma_disclaimer_opts', array(
			'content'    => CMA_Thread::getDisclaimerContent(),
			'acceptText' => CMA_Thread::getDisclaimerContentAccept(),
			'rejectText' => CMA_Thread::getDisclaimerContentReject()));
		wp_enqueue_script('cma_disclaimer');
	}

}

CMA_BaseController::get_header();
$user_id = get_current_user_id();
if(mch_user_has_access($user_id, 'view_forum') || CMA_Thread::canPostAnswers()):
?>

	<div id="primary" class="site-content forum-page">
		<div class="forum-cma-main">
			<div class="forum-cma-wrapper">
				<div id="content" role="main" class="entry-content">
					<div class="content-wrapper main-content">
						<?php do_action('CMA_breadcrumbs'); ?>

						<?php do_action('cma_index_header_before'); ?>

						<?php if (CMA_Settings::getOption(CMA_Settings::OPTION_SHOW_INDEX_TITLE)): ?><header class="entry-header">
							<h1 class="entry-title">
								<?php
								$foundPosts = $wp_query->found_posts;
								if( is_tax(CMA_Category::TAXONOMY) ):
									?>
									<?php
									single_term_title();
									?>
								<?php else: ?>
									<?php
									post_type_archive_title();
									if (isset($_GET['cmatag'])) {
										$tagTerm = get_term_by('slug', $_GET['cmatag'], 'post_tag');
										if (!empty($tagTerm)) {
											echo ' for tag "' . esc_html($tagTerm->name) . '"';
										}
									}
									?>
								<?php endif; ?>
								<?php if (CMA_Settings::getOption(CMA_Settings::OPTION_SHOW_TITLE_FOUND_POSTS)) echo ' (' . $foundPosts . ')'; ?>
							</h1>
							</header><?php endif; ?>

						<?php do_action('cma_index_header_after'); ?>
					</div>


					<?php
					$questionIds = array();
					foreach($wp_query->posts as $key => $post)
					{
						$questionIds[] = $post->ID;
					}
					$questions = array_filter(array_map(array('CMA_Thread', 'getInstance'), $questionIds));

					$displayOptions = CMA_Settings::getDisplayOptionsDefaults();
					echo CMA_BaseController::_loadView('answer/widget/questions', compact('questions', 'displayOptions'));
					?>
					<div class="cma-clear"></div>
				</div>

				<?php if( CMA_Thread::isReferralEnabled() && CMA_Thread::getAffiliateCode() ): ?>
					<span class="cma_referral_link">
                    <a href="http://www.cminds.com/store/answers/?af=<?php echo CMA_Thread::getAffiliateCode() ?>">
	                    <img src="http://static.cminds.com/wp-content/uploads/download_answer.png" height="22" alt="Code" />
                    </a>
                </span>
				<?php endif; ?>
			</div>
			<?php
			/*
			 * CMA-Sidebar
			 */
			echo CMA_BaseController::_loadView('answer/widget/sidebar');
			?>

		</div>
	</div>
<?php else: ?>
    <div class="error-msg"><h2><?php echo __('You don\'t permitted to view forum'); ?></h2></div>
<?php endif; ?>

<?php
get_footer();
