.single-photo, .single-post {
    .e-btn {
        padding: 0 36px;
    }
    .photo-content {
        text-align: center;
    }
    .nav-block {
        &:after {
            @extend %clr;
        }
        .prev, .next {
            display: inline-block;
            a {
                position: relative;
                display: block;
                &:before {
                    position: absolute;
                    top: 0;
                }
            }
        }
        .prev {
            float: left;
            a {
                padding-left: 15px;
                &:before {
                    left: 0;
                    content: "<";
                }
            }
        }
        .next {
            float: right;
            a {
                padding-right: 15px;
                &:before {
                    right: 0;
                    content: ">";
                }
            }
        }
    }
    .comment-form {
        padding-top: 20px;
    }
    .form-submit {
        text-align: center;
    }
    .comment-form input[type=submit] {
        margin: 0 auto !important;
        background: #929292;
    }
    .mch-comment {
        border: 1px solid $borderColorComment;
        padding: 28px;
        margin: 28px 0;
        border-radius: 3px;
        .mch-comment-content {
            padding-bottom: 12px;
        }
        .mch-comment-info {
            padding: 14px 0 0 0;
            border-top: 1px solid $borderColorComment;
            margin: 0 0 -10px;
            font-size: 14px;
            color: $commentHistoryColor;
        }
    }
    .mch-comment-author {
        color: $commentAuthorColor;
    }
    .mch-comment-like-block {
        float: right;
    }
    .mch-like-comment {
        text-decoration: none;
        display: inline-block;
        width: 17px;
        height: 17px;
        background: $bgLinksCommentColor;
        border-radius: 3px;
        font-size: 16px;
        color: $white;
        text-align: center;
        line-height: 18px;
        &:hover {
            background: $bgLinksCommentHoverColor;
        }
    }
    .like-dec {
        margin-right: 7px;
    }
    .like-inc {
        margin-left: 7px;
    }
    .comment-likes-count {
        font: 16px/19px latosemibold;
    }
}
.create-post {
    .e-btn {
        background-color: #929292;
    }
}
