.home {
    .wrapper {
        position: relative;
        overflow: hidden;
    }
}
#testimonial-wrapper {
    background: #f1f1f6;
    margin: 0 -8px;
    position: relative;
    padding-bottom: 30px;
    &:before {
        position: absolute;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        background: #f1f1f6;
    }
    &:after {
        position: absolute;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        right: -100%;
        top: 0;
        background: #f1f1f6;
    }
    @include max-screen($mediaSmall){
        margin: 0 -10px;
        padding-left: 10px;
        padding-right: 10px;
        &:before,
        &:after {
            display: none;
        }
    }
    h1 {
        color: #575c63;
        margin-bottom: 5px;
        padding-top: 35px;
    }
    .testimonial-block {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        padding-bottom: 40px;
        .testimonial {
            background: #fff;
            border: 1px solid #dfdfe4;
            padding: 15px 30px 5px;
            border-radius: 6px;
        }
        &:nth-child(odd) {
            padding-left: 38px;
        }
        &:nth-child(even) {
            padding-right: 38px;
        }
        @include max-screen($mediaSmall){
            width: 100%;
            display: block;
            &:nth-child(odd) {
                padding-left: 0;
            }
            &:nth-child(even) {
                padding-right: 0;
            }
        }
    }

}
.t-link-block {
    @extend %clr;
    text-align: right;
    .liak-all {
        font-size: 14px;
        text-decoration: underline;
        margin-right: 8px;
        &:hover {
            text-decoration: none;
        }
    }
}
.testimonial-block {
    padding-bottom: 10px;
    text-align: left;
    .testimonial {
        background: #fff;
        border: 1px solid #dfdfe4;
        padding: 15px 30px 5px;
        border-radius: 6px;
    }
}
.testimonial-head {
    @extend %clr;
    border-bottom: 1px solid $titleColor;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
    &:before {
        position: absolute;
        content: "";
        left: 50%;
        bottom: -10px;
        margin-left: -20px;
        @extend %iconsSprite;
        @include back-pos('quotes');
    }
    .testimonial-author {
        display: block;
        float: left;
        color: $titleColor;
        font-size: 16px;
        line-height: 20px;
    }
    .testimonial-school {
        float: right;
        display: block;
        color: #505153;
        line-height: 20px;
        span {
            font-weight: bold;
            &.student-ttl{
                font-weight: normal;
                @include max-screen($mediaSmall){display: block;text-align: right;}
            }
        }


    }
}
.testimonial-content {
    font-style: italic;
    color: #575c63;
    text-align: center;
    font-size: 16px;
    line-height: 23px;
}
body.testimonials {
    #header {
        margin-bottom: 113px;
    }
    .content-header {
        border-bottom: 1px solid #e9edf1;
        margin-bottom: 30px;
        padding-bottom: 18px;
        padding-top: 0;
    }
}
.testimonials-load-more-link {
    @extend %elemBorder;
    background: $bgHeader;
    width: 222px;
    text-align: center;
    margin: 20px auto 0;
    display: block;
    margin-bottom: 15px;
}