html body.home #wpadminbar{
	@include max-screen($maxWidthMobile){
		top: -46px !important;
	}
}
html, body {
    padding: 0;
    margin: 0;
	height: 100%;
}
* {
    @extend %m-border-box;
}
body {
    font-family: $mainFont;
    min-width: 320px;
	background: $bgContent;
	color: $textColor;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
a {
	color: $linkColor;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
a:focus,
a:hover,
a:active {
	outline:0;
}
body {
	&.sitemap {
		line-height: 1.4;
	}
}
.wrapper {
	width:100%;
	height:100%;
	display:table;
	table-layout: fixed;
	margin:0 auto;
	padding: 0;
    img {
        max-width: 100%;
        height: auto;
    }
}
.content-wrapper {
    max-width: $maxSiteWidth;
    margin: 0 auto;
    padding: 0 10px;
	@include max-screen($maxWidthMobile){
		padding: 0 15px;
	}
}
.main-content {
	background: $bgContent;
	padding-top: 75px;
	padding-bottom: 95px;
	h2 {
		text-align: center;
	}
	@include max-screen($customWidthTablet){
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@include max-screen($maxWidthMobile){
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.digital-products-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        img {
            display: block;
        }
    }
}
.main {
    position: relative;
    .content-wrapper {
        background: $bgContent;
    }
}
.bg-page {
    position: absolute;
    top: -$marginTopContent;
    width: 100%;
    max-height: 596px;
    overflow: hidden;
    z-index: -1;
    img {
        width: 100%;
    }
	@include max-screen($customWidthTablet){
		display: none;
	}
}
.content-header {
    margin-bottom: 40px;
    @extend %clr;
	@include max-screen($maxWidthMobile){
		text-align: center;
	}
    h1 {
        float: left;
        margin-top: 8px;
        border-bottom: none !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
		@include max-screen($maxWidthMobile){
			float: none;
			margin-top: 0;
			margin-bottom: 15px !important;
			text-align: center !important;
		}
    }
    .contact-me {
        float: right;
		@include max-screen($maxWidthMobile){
			float: none;
		}
    }
}
.content-wrapper {
	h1 {
		border-bottom: 1px solid $borderColor;
		font: bold 26px/32px $mainFont;
		padding-bottom: 42px;
		margin-bottom: 20px;
		text-align: center;
	}
}
.single-product-description {
	background: $bgBody;
	#header {
		background: rgba(0, 0, 0, .5);
		margin-bottom: 113px;
		@include max-screen($customWidthTablet){
			margin-bottom: 20px;
		}
	}
}
.table-wrap {
    overflow-x: auto;
    position: relative;
}
.pagination {
	text-align: center;
	li {
		font: 16px/40px $mainFontSemibold; /* Medium */
		color: $paginationColor;
		display: inline-block;
		vertical-align: middle;
		margin: 0 7px;
		&:hover {
			color: $linkColor;
			a {
				text-decoration: none;
				color: $linkColor;
			}
		}
		&.disabled {
			a {
				cursor: default;
			}
			&.prev {
				a {
					@include arrow('left', $paginationDisabledColor, 7px);
				}
			}
			&.next {
				a {
					@include arrow('right', $paginationDisabledColor, 7px);
				}
			}
			&:hover {
				&.prev {
					a {
						@include arrow('left', $paginationDisabledColor, 7px);
					}
				}
				&.next {
					a {
						@include arrow('right', $paginationDisabledColor, 7px);
					}
				}
			}
		}
		&.active {
			color: $linkColor;
			a {
				color: $linkColor;
                cursor: default;
			}
		}
		&.prev {
			a {
				@extend %hide-text;
				@include arrow('left', $paginationColor, 7px);
			}
			&:hover {
				a {
					@include arrow('left', $linkColor, 7px);
				}
			}
		}
		&.next {
			a {
				@extend %hide-text;
				@include arrow('right', $paginationColor, 7px);
			}

			&:hover {
				a {
					@include arrow('right', $linkColor, 7px);
				}
			}
		}
		&.first,
		&.last {
			display: none;
		}
		a {
			color: $paginationColor;
			@extend %defTransition;
		}
	}
}
.column-grid {
	@include max-screen($customWidthMobile) {
		.column-span-1 {
			width: auto;
			float: none;
			margin: 0 0 20px 0;
		}
	}
}
