.amoption label, #headerimg_div label{
	padding-right:4px; 
	width:370px; 
	text-align:right; 
	display:block; 
	float:left; 
	clear:left;
	padding-top:4px;
	font-weight:bold;
}
.amoption label span, #headerimg_div label span{
	font-weight:normal;
}
.amoption input, #headerimg_div input{
	width:300px;
	border:1px solid #ccc;
	padding:2px 3px;
}
#wpwrap #poststuff .centerme{
	font-size:13px;
	height:30px;
}
.amoption p{
	height:40px;
	clear:both;
}	
.displaynone{
	display:none;
}	
#wpwrap #frontpage-blank{
	width:auto;
	border:none;
	padding:none;
	margin:6px 0 0 0;
}
.multitable{
	margin-top:15px;
}
.am_check{
	margin-right:10px;
}
#wpbody-content .grouped th, #wpbody-content .grouped td{
	border-bottom:none;
}
#wpbody-content .no_height{
	padding:0;
}
.multiple_box select{
	max-width:200px;
}
.admin_submit{
	width: 100%;
	overflow: hidden;
}
.admin_submit .submit{
	float: left;
}
.admin_submit .reset{
	float: right;
}