.admin_pages_form {
	padding: 20px 0 40px;
	text-align: center;
	.e-btn {
		margin: 0;
		height: 34px;
		line-height: 34px;
		vertical-align: middle;
	}

	@include max-screen($maxWidthMobile) {
		.chosen-container,
		select {
			width: 100% !important;
			margin-bottom: 10px;
		}
		.e-btn {
			width: 100% !important;
		}
	}
}

.b-error-block {
	margin: 20px 0;
	font-size: 13px;
	padding: 5px;
	border: 1px solid #c00;
	background-color: #ffebe8;
	color: #333;
	text-align: center;
	border-radius: 2px;
}

/*		Accounts 	*/
.account-info-row {
	border-top: 1px solid $borderColorContent;
	margin-top: 40px;
	padding-top: 50px;
	color: $textColor;
	h4 {
		margin-bottom: 20px;
	}
	@include max-screen($maxWidthMobile) {
		.column-grid {
			.column-span-1 {
				width: auto;
				float: none;
				margin-bottom: 20px;
			}
		}
	}
	.e-btn {
		@include max-screen($maxWidthMobile){
			height: 36px;
			line-height: 36px;
		}
	}
}

.account-form {
	.wrap-block-info {
		.item-title {
			width: 40%;
			@include max-screen($maxWidthMobile) {
				width: auto;
				label {
					padding-bottom: 0;
				}
			}
		}
		.item-input {
			width: 60%;
			@include max-screen($maxWidthMobile) {
				width: auto;
			}
		}
	}
	.e-btn {
//		width: 268px;
	}
	.wrap-submit {
		@include max-screen($maxWidthMobile) {
			text-align: center;
		}
	}
}
.balans-wrapper {
	.balans-count {
		color: $mainBlueColor;
	}
	.e-btn {
		margin-left: 15px;
		@include max-screen($maxWidthMobile) {
			margin: 15px 0 0;
		}
	}
}
.bookings_list {
	.m-no-events {
		.e-btn {
			margin-left: 15px;
			@include max-screen($maxWidthMobile) {
				margin-top: 15px;
			}
		}
	}
}
.css-events-list {
	table {
		width: 100%;
	}
	th {
		padding: 10px;
		text-align: left;
	}
	td {
		padding: 10px;
		&:last-child {
			width: 70px;
		}
	}
	tr {
		&:nth-child(odd) {
			td {
				background: #fbfbfb;
			}
		}
	}
}
.wpua-edit-container {
	h3 {
		display: none;
	}
}
.avatar-info {
	@extend %clr;
	.controls {
		p {
			display: inline-block;
			margin-right: 6px;
		}
		.icon-btn {
			margin-right: 6px;
		}
		@include max-screen($maxWidthMobile) {
			.icon-btn {
				padding: 8px 11px;
			}
		}
	}
}
.wpua-edit {
	.button-primary {
		margin: 0;
	}
	@include max-screen($maxWidthMobile) {
		text-align: center;
	}
}
.mfp-inline-holder {
	.mfp-content {
		max-width: 900px;
		padding: 20px;
		margin: {
			top: 20px;
			bottom: 20px;
		};
		background: $lightColor;
		@include max-screen($mediaSmall) {
			padding: 30px 7px;
		}
	}
}
.white-popup-block {
	h2 {
		text-align: center;
		margin-bottom: 30px;
	}
	.wrap-block-info {
		.item-title {
			width: 50%;
			text-align: right;
			padding: 5px 10px 0 0;
			vertical-align: top;
			@include max-screen($maxWidthMobile) {
				width: auto;
				text-align: center;
				label {
					padding-bottom: 0;
				}
			}
		}
		.item-input {
			width: 50%;
			text-align: left;
			padding-left: 10px;
			@include max-screen($maxWidthMobile) {
				width: auto;
				text-align: center;
			}
		}
		textarea {
			height: 150px;
		}
	}
	.chosen-container {
		width: 73px !important;
	}
	.wrap-submit {
		text-align: center;
	}
}

.b-inline-blocks-wrap {
	margin-left: -20px;
	font-size: 0;
	@include max-screen($maxWidthMobile) {
		margin: 0;
	}
}
.b-inline-block {
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	margin: 0 0 20px 0;
	.b-inline-block-content {
		margin: 0 0 0 20px;
	}
	&.m-column-2 {
		width: 50%;
	}
	@include max-screen($maxWidthMobile) {
		display: block;
		.b-inline-block-content {
			margin-left: 0;
		}
		&.m-column-2 {
			width: auto;
		}
	}
}

.b-tutor-card {
	@extend %clr;
	min-height: 236px;
	background: $lightColor;
	font-size: 14px;
	.b-tutor-photo {
		float: left;
	}
	.b-tutor-info {
		padding: 18px;
		overflow: hidden;
	}
	.e-title {
		margin-bottom: 20px;
		font-size: 18px;
		color: $titleColor;
	}
	.e-text {
		margin-bottom: 20px;
	}
	.e-info-list {
		margin-bottom: 20px;
		font-size: 12px;
		color: $lightGrayColor;
		li {
			margin-bottom: 5px;
		}
		span {
			color: $mainBlueColor;
		}
	}
	.b-action-wrap {
		text-align: right;
	}
	.e-btn {
		width: auto;
		padding: {
			top: 10px;
			bottom: 10px;
		};
		font-size: 14px;
		line-height: normal;
	}
	@include screen($maxWidthMobile, $maxWidthTablet) {
		min-height: 0;
		.b-tutor-photo {
			max-width: 150px;
		}
		.e-btn {
			padding: {
				left: 5px;
				right: 5px;
			};
		}
	}
	@include max-screen($middleWidthMobile) {
		min-height: 0;
		.b-tutor-photo {
			float: none;
			img {
				width: 100%;
			}
		}
		.b-action-wrap {
			text-align: center;
			.e-btn {
				display: block;
			}
		}
	}
}
.b-notice {
	min-height: 236px;
	background: url("../img/expert_notice.png") $mainBlueColor no-repeat scroll right bottom;
	text-transform: uppercase;
	a {
		display: block;
		padding: 40px 20px 40px 48px;
		font-size: 22px;
		color: $lightColor;
		&:hover {
			text-decoration: none;
		}
	}
	.expert_notice_text {
		padding-top: 40px;
		&:first-child {
			padding-top: 0;
		}
	}
}

.m-tutors-list {
	margin: 80px 0;
	.modal_wrap {
		font-size: 16px;
	}
}
/* modal */
.modal_wrap {
//	background: rgba(0,0,0,.7);
}
.m-book-lesson {
	.mfp-content {
		max-width: 1000px;
		padding: 20px 0px 48px;
	}
}
.modal_title {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}


.modal_form_wrap_error {
	position:absolute;
	width: 430px;
	left: 105px;
	top: 75px;
	display:none;
}

.modal_form_wrap_sucessfully {
	position:absolute;
	width: 430px;
	left: 105px;
	top: 75px;
	display:none;
}


/* STEPS TABS */
.steps_tabs_wrap {
	@extend %clr;
}

.steps_tab {
	color: $lightColor;
	font-size: 24px;
	text-transform: uppercase;
	float: left;
	background: #e4e3e3;
	padding: 20px 40px 19px;
	width: 50%;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		@include arrow(right, #f5f5f5, 32px, 20px);
	}
	&.active {
		color: $mainBlueColor;
		background: #f5f5f5;
		&:after {
			border-left-color: #e4e3e3;
		}
	}
	&:first-child {
		&:after {
			display: none;
		}
	}
	@include max-screen($maxWidthTablet) {
		padding: 20px 25px 19px;
		font-size: 16px;
		&:after {
			border-top-width: 28px;
			border-bottom-width: 29px;
		}
	}
}

.steps_body_wrap {
	position: relative;
	.steps_body {
		padding: 27px 0 0;
		position: relative;
		display: none;
		&.active {
			display: block;
		}
	}
}
	/*	mobile tabs	*/
.loc-step-title {
	float: none;
	width: auto;
	text-align: center;
	padding: 0;
	margin: 0 0 20px;
	position: relative;
	a {
		display: block;
		background: #e4e3e3;
		color: $lightColor;
		font-size: 24px;
		text-transform: uppercase;
		text-decoration: none;
		padding: 20px 20px 19px;
		&.active {
			color: $mainBlueColor;
			background: #f5f5f5;
		}
	}

}


/* book lessons */
.book_lessons_wrap {
	@extend %clr;
	.book_lessons_col {
		float: left;
		position: relative;
	}
	.col2 {
		padding: 0 206px 0 190px;
		width: 100%;
	}
	.col1 {
		margin-left: -100%;
		width: 190px;
	}
	.col3 {
		margin-right: -100%;
		width: 206px;
		right: 206px;
	}
	@include max-screen($maxWidthTablet) {
		.col2 {
			padding: 0 7px 0 7px;
		}
		.col1 {
			width: 120px;
			display: none;
		}
		.col3 {
			width: 130px;
			right: 130px;
			display: none;
		}
	}
}


.book_lessons_profile_wrap {
	padding: 0 0 0 39px;
	width: 100px;
	.book_lessons_profile_title {
		padding: 18px 0 12px;
		font-size: 14px;
		text-align: left;
		color: $textColor;
	}
	.book_lessons_profile_tags {
		padding: 12px 0;
		border-top: 1px solid #edecec;
	}

	.book_lessons_profile_tags div {
		padding: 4px 0;
		color: $mainBlueColor;
		font-size: 12px;
	}
}

.loc-info-wrapper {
	margin-bottom: 20px;
	.book_lessons_top {
		@extend %clr;
	}
	.book_lessons_profile_wrap {
		float: left;
		padding: 0 0 0 39px;
		width: 50%;
	}
	.bl_timenow_wrap {
		float: left;
		width: 50%;
	}
}

/*	BOOK A LESSON  Calendar	*/
.bl_wrap {
	min-height: 415px;
	.loader {
		background: rgba(48,49,54,.68);
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 48px;
		color: $mainBlueColor;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		&:before {
			content: "\f021";
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-animation: fa-spin 2s infinite linear;
			animation: fa-spin 2s infinite linear;
		}
		img {
			display: none;
		}
	}
}
/*	BOOK A LESSON time */
.bl_timenow_wrap {
	padding: 0 30px;
	text-align: center;
	.bl_timenow_days {
		div {
			color: $textColor;
			&:first-child {
				font-size: 70px;
				font-weight: bold;
			}
			& + div {
				font-size: 25px;
			}
		}
	}
	.bl_timenow_time {
		margin-top: 16px;
		padding: 24px 0 0;
		font-size: 36px;
		color: $textColor;
		border-top: 1px solid #edecec;
	}
	@include max-screen($maxWidthTablet) {
		.bl_timenow_days {
			div {
				&:first-child {
					font-size: 60px;
				}
				& + div {
				}
			}
		}
		.bl_timenow_time {
		}
	}
}

.bl_text_table {
	margin-top: 16px;
	font-size: 14px;
	color: $mainBlueColor;
}

.bl_form_feedback_wrap {
	@extend %clr;
	width: 90%;
	margin: 0 auto 0px;
	.bl_text_info {
		margin: 0 0 20px;
		text-align: center;
		span {
			color: $mainBlueColor;
		}
	}
	.bl_text_info_main {
		&.message {
			text-align: center;
			color: $goodMessage;
			font-size: 22px;
			.tutor-message-box{
				margin: 0 0 20px; 
			}
		}
	}
	@include max-screen($maxWidthTablet) {
		width: 95%;
	}
}
.booking-message {
	text-align: center;
	color: $goodMessage;
	font-size: 22px;
}
.bl_form {
	margin-top: 30px;
	.bl_form_feedback_left {
		@extend %clr;
	}
	.bl_form_column {
		display: inline-block;
		vertical-align: top;
		&.col1 {
			width: 55%;
			margin-right: 4%;
		}
		&.col2 {
			width: 40%;
		}
	}
	.bl_form_profile {
		float: left;
		text-align: center;
		margin-left: -100%;
		padding: 0 30px;
	}
	.bl_form_profile_name {
		color: $mainBlueColor;
	}
	.bl_profile_info {
		float: left;
		width: 100%;
		padding-left: 150px;
		text-align: center;
	}
	.bl_form_profile_photo {
		padding-bottom: 17px;
		color: $mainBlueColor;
	}
	.bl_feedback_timebox_wrap {
		padding: 0 40px;
		margin-bottom: 30px;
		font-size: 27px;
	}
	.bl_feedback_timebox_links {
		text-align: left;
		&>div {
			margin-bottom: 20px;
		}
		label {
			display: block;
			margin-bottom: 5px;
		}
	}
	.button_submit_feedback {
		text-align: center;
		margin-top: 20px;
		clear: both;
	}
	@include max-screen($maxWidthTablet) {
		.bl_form_profile {
			padding: 0 5px;
		}
		.bl_profile_info {
			padding-left: 100px;
		}
		.bl_feedback_timebox_wrap {
			padding: 0;
		}
	}
}
.loc-info-wrapper {
	.bl_form {
		.bl_form_feedback_left {
			margin-bottom: 20px;
		}
		.bl_feedback_timebox_wrap {
			font-size: 20px;
		}
		.bl_feedback_timebox_links {
			text-align: center;
		}
	}
}
.page-back-link {
	margin: -20px 0 20px;
}
/* pagination */
.page_panel_doc {
    padding-top: 15px;
    width: 100%;
    text-align: center;
    .page-box {
        display: inline-block;
        padding: 4px 8px;
        margin: 0 3px;
        border: 1px solid $borderColor;
        border-radius: 4px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 3px;
        &.active,
        &:hover {
            text-decoration: none;
            border-color: $darkBlue;
            color: $darkBlue;
        }
    }
}
/*popups*/
#skype_form, #polycom_form {
    margin: 30px;
    h1 {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    input {
        &[type="text"] {
            margin-bottom: 15px;
        }
        &[type="button"] {
            display: block;
            margin: 0 auto;
        }
    }

}



.date-time-inputs{
	@extend %clr;
	padding: 0 0 0 20px;
	//overflow: hidden;
	p{
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px 0 0; 
		@include max-screen($maxSiteWidth){
			display: block;
			width: 100%;
			margin: 0 0 20px;
			text-align: center;  
		}
	} 
	.tutor-date{
		width: 20%;
		display: inline-block;
		margin: 0 10px 0 0; 
		vertical-align: middle;
		input#tutor-date{
			width: 100%; 
			background: transparent; 
			display: inline-block;
			vertical-align: top;
			border-radius: 5px;
			line-height: 32px;
			border: 1px solid #60a0e7;
			padding: 5px;
			height: 34px;
                        color: #60a0e7;
                        font-weight: 600;
                        font-size: 14px;
		}
		@include max-screen($maxSiteWidth){
			width: 25%; 
		}
		@include max-screen($maxWidthMobile){
			width: 100%;
			margin: 0 0 20px;  
		}
	}
        .chosen-container{
		
	}
	input[type="submit"]{
		border-radius:  5px;
		color: #FFF;
		float: right;
		margin: 0;
		height: 35px;  
		background: #60a0e7;
		border: none;
		transition:  all .5s ease-in-out;
		&:hover{
			background: #498AD2;
		}
		@include max-screen($maxWidthMobile){
			width: 100%;
		}
	}
	@include max-screen($maxWidthMobile){
		padding: 0;
	}
	select{
		@include max-screen($maxWidthMobile){
			width: 100%;
			margin: 0 0 20px;  
		}	
	}

}
p.no-tutors{
        padding: 30px 10px 0 10px;
        text-align: center;
        color: #f33;
        font-style: italic;
}
#ui-datepicker-div{
	background: #FFF; 
	max-width: 220px;
	margin: 10px 0 0; 
	padding: 10px; 
	width: 100%;
	border-radius:5px;
	border:1px solid #60a0e7;
	.ui-datepicker-title{
		text-align: center;
		margin: 0 0 10px; 
	}
	.ui-datepicker-next,
	.ui-datepicker-prev{
		font-size: 0;
		line-height: 0;
		font-family: "Glyphicons Halflings"; 
		float: left; 
		&:before{
			content: "\e257";
			color: #000; 
			font-family: "Glyphicons Halflings"; 
			font-size: 20px;
			line-height: 23px;
			float: left;  
		}
	}
	.ui-datepicker-next{
		float: right;
		&:before{
			content: "\e258";
		}
	}
	.ui-datepicker-calendar{
		width: 100%;
		td{
			text-align: center;
			a{
				display:block;
				width: 100%; 
				padding: 3px;
				&.ui-state-active{
					background: #60a0e7;
					border-radius:4px;
					color: #FFF; 
				} 
			}
		} 
	}
	@include max-screen($maxWidthMobile){
		max-width: calc( 100% - 30px ); 
		label{
			display: block;
			width: 100%; 
		}
	}
}
#too-early{
        padding: 20px;
        .too-early-content{
            text-align: center;
            #close-too-early{
                margin-top: 10px
            }
        }
}
p.banner {
    font-size: 18px;
    color: #eb0f0f;
    border-radius: 6px;
    border: 1px solid #f7695e;
    background-color: #ffeaea;
    margin: 0 0 50px 20px;
    padding: 15px
}
.tabletInfo {
	display: none;
	margin-bottom: 27px;
	padding-bottom: 15px;
	font-weight: bold;
	border-bottom: 1px solid $hrColor;
	font-size: 24px;
	@include max-screen($maxWidthTablet) {
		display: block;
	}
	&-dateTime {
		display: inline-block;
		vertical-align: middle;
		padding: 0 10px;
	}
	&-date {
		display: inline-block;
		vertical-align: middle;
	}
	&-time {
		display: inline-block;
		vertical-align: middle;
	}
	&-user {
		width: auto;
		display: inline-block;
		vertical-align: middle;
		padding: 0 10px;
		img {
			display: inline-block;
			vertical-align: middle;
			width: 50px;
			height: 50px;
		}
		.book_lessons_profile_title {
			display: inline-block;
			vertical-align: middle;
			padding: 0;
			margin-right: 15px;
		}
		.book_lessons_profile_tags {
			display: inline-block;
			vertical-align: middle;
			border: 0;
			padding: 0;
			margin-right: 15px;
		}
	}
}
