html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}
* {
	@extend %m-border-box;
}
body {
	font-family: $mainFont;
	min-width: 320px;
	background: $bgBody;
	font-size: 16px;
	color: $textColor;
}
a {
	color: $linkColor;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
a:focus,
a:hover,
a:active {
	outline:0;
}
body {
	&.sitemap {
		line-height: 1.4;
	}
	&.error404 {
		h2 {
			text-align: center;
		}
	}
}
.wrapper {
	width:100%;
	height:100%;
	display:table;
	table-layout: fixed;
	margin:0 auto;
	padding: 0;
	img {
		max-width: 100%;
		height: auto;
	}
}
.content-wrapper {
	max-width: $maxSiteWidth;
	margin: 0 auto;
	padding: 0 10px;
	@include max-screen(767){
		padding: 0 15px;
	}
}

.main-content {
	background: $bgContent;
	padding-top: 75px;
	padding-bottom: 95px;
	@include max-screen($customWidthTablet){
		padding-top: 40px;
	}
	@include max-screen($maxWidthMobile){
		padding-top: 30px;
	}
}
.digital-products-list {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		img {
			display: block;
		}
	}
}
.main {
	position: relative;
	.content-wrapper {
		background: $bgContent;
	}
}
.bg-page {
	position: absolute;
	top: -$marginTopContent;
	width: 100%;
	max-height: 596px;
	overflow: hidden;
	z-index: -1;
	img {
		width: 100%;
	}
	@include max-screen($customWidthTablet){
		display: none;
	}
}
.content-header {
	margin-bottom: 40px;
	@extend %clr;
	h1 {
		float: left;
		margin-top: 8px;
		border-bottom: none !important;
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}
	.contact-me {
		float: right;
	}
	@include max-screen($maxWidthMobile){
		text-align: center;
		h1 {
			float: none;
			margin-top: 0;
			margin-bottom: 15px !important;
			text-align: center !important;
		}
		.contact-me {
			float: none;
		}
	}
}
.content-wrapper {
	h1 {
		border-bottom: 1px solid $borderColor;
		padding-bottom: 45px;
		margin-bottom: 20px;
		font-size: 26px;
		font-weight: 32px;
		text-align: center;
	}
}
.single-product-description {
	background: $bgAlternBody;
	#header {
		background: rgba(0, 0, 0, .5);
		margin-bottom: 113px;
		@include max-screen($customWidthTablet){
			margin-bottom: 20px;
		}
	}
}
.page-id-79,
.page-id-79 .main-content {
	background: $bgAlternBody;
	color: $textColor;
}
.table-wrap {
	overflow-x: auto;
	position: relative;
}
.column-grid {
	@include max-screen($customWidthMobile) {
		.column-span-1 {
			width: auto;
			float: none;
			margin: 0 0 20px 0;
		}
	}
}
