/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

#header {
	.logo {
		ul {
			ul {
				margin-top: 0px;
				z-index: 500;
				li {
				}
			}
			&:hover {
				ul {
					margin-top: 0px;
				}
			}
		}
	}
}
.main-menu {
	ul {
		li {
			a {
			}
			&.menu-item-has-children {
				&:hover {
					.sub-menu {
						margin-top: 0;
					}
				}
			}
		}
	}

	.sub-menu {
		margin-top: 0px;
	}
}