$white: #fff;
$black: #000;
$blueCornflower: #60a0e7;
$blueCadet: #9baaba;
$redWood: #c84040;
$transparent: transparent;

/*bg*/
$bgBody: #fff;
$bgAlternBody: #f7fbfd;
$bgHeader: $blueCornflower;
$bgFooter: #525458;
$bgContent: #fff;
$formHColor: $blueCadet;
$bgTableRow: #fbfbfb;
$bgHeaderAlpha85: rgba(96, 160, 321,.85);
$bgContentRegistration: #cdd3da;
$orangeBtn: #ffa312;
$orangeBtnHover: rgba(255, 163, 66, 0.8);
$bgIcons: #e0e5ea;
$bgDarkIcons: #b6c0cc;;
$bgHoverIcons: #d9dfe5;
$bgmedia: #ececec;

/*border*/
$footerBorderColor: #5a5c60;
$lightBorderColor: #fff;
$borderColorContent: #eff3f5;
$borderColor: #f1f1f6;
$paginationArrow: #d7dce2;
$paginationArrowDisabled: #f2f4f6;

/*text color*/
$titleColor: $blueCornflower;
$linkColor: $blueCornflower;
$textColor: #575c63;
$lightColor: #fff;
$h4Color: #505153;
$footerMenuColor: #a5a6a7;
$footerWidgetlinkColor: #f8a764;
$color-1: #a2caef; /* footer link block 1 */
$color-2: #b0d16b; /* footer link block 2 */
$selectColor: $blueCornflower; /* #f9b781 */
$titleCartColor: #a1afbe;
$lightGrayColor: #9c9c9c;
$goodMessage: #b0d16b;
$paginationColor: #d7dce2;

$hrColor: #f1f1f6;

$mainBlueColor: $blueCornflower;
$mainBlueColorAlpha40: rgba(96, 160, 321,.40);
$mainBlueColorAlpha20: rgba(96, 160, 321,.20);
$greyColor: #e2e3e4;
$darkBlue: #498ad2;

/*form color*/
$bgInput: lighten($blueCadet, 30%);
$bgBtnSubmit: $blueCornflower;

$textColorInput: $blueCadet;

$borderColorInput: lighten($blueCadet, 30%);
$borderColorBtnSubmit: $blueCornflower;
$borderColorError: $redWood;
