%elemBorder {
    border-radius: 6px;
    border: 1px solid $lightBorderColor;
    line-height: 48px;
    display: inline-block;
    text-decoration: none;
    color: $lightColor;
    text-transform: uppercase;
}
.e-btn-transparent {
	@extend %elemBorder;
	@extend %defTransition;
	&:hover {
		border-color: transparent;
		background-color: $darkBlue;
		text-decoration: none;
	}
}
.e-btn,
.button-primary {
    @extend %elemBorder;
	@extend %defTransition;
    background: $bgHeader;
    border-color: $bgHeader;
    padding: 0 36px;
	&:hover {
		text-decoration: none;
		background-color: $darkBlue;
	}
	&.m-shadow {
		box-shadow: 0 1px rgba(0,0,0,.2);
	}
	&.m-btn-orange {
		background: $orangeBtn;
		border-color: $orangeBtn;
		&:hover {
			background: $orangeBtnHover;
			border-color: $orangeBtnHover;
		}
	}
}
.e-btn-remove {
	display: inline-block;
	@extend %hide-text;
	@extend %iconsSprite;
	@include back-pos('remove');
}
.e-btn-open,
.e-btn-close {
	border-radius: 6px;
	border: 1px solid $lightBorderColor;
	background: $bgHeader;
	color: $lightColor;
	text-decoration: none;
	padding: 10px 25px 10px 10px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	&:before {
		position: absolute;
		content: "";
		display: block;
		right: 10px;
		top: 50%;
		margin-top: -(image-height('icons/arrow_bottom.png')/2);
		@extend %iconsSprite;
		@include back-pos('arrow_bottom');
	}
	&:hover {
		background-color: $darkBlue;
		text-decoration: none;
	}
}
.e-btn-close {
	&:before {
		@include back-pos('arrow_top');
	}
}
.e-btn-mail {
	@extend %hide-text;
	background-image: url("../img/mail.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.e-btn-login {
	@extend %hide-text;
	background-image: url("../img/login.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.e-btn-submit {
	@extend %hide-text;
	background-image: url("../img/check.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.icon-btn {
	padding: 15px 17px;
	font-size: 18px;
	border-radius: 6px;
	border: none;
	background: $bgHeader;
	color: $lightColor;
	&:hover {
		background-color: $darkBlue;
		text-decoration: none;
	}
}

.e-btn-show-lesson {
	@extend %hide-text;
	@extend %iconsSprite;
	@extend %defTransition;
	@include isp('time', $icons, false, 6.5px, 6.5px);
	display: inline-block;
	background-color: $bgIcons;
	height: 27px;
	width: 27px;
	border: 0;
	border-radius: 3px;
	&:hover {
		background-color: $bgHeader;
	}
}
.e-btn-plus {
	@extend %hide-text;
	@extend %iconsSprite;
	@extend %defTransition;
	@include isp('plus', $icons, false, 9px, 9px);
	background-color: $bgIcons;
	height: 32px;
	width: 32px;
	border: 0;
	border-radius: 3px;
	&:hover {
		background-color: $bgHeader;
	}
}
.m-ta-center {
	text-align: center;
}
.m-fs22 {
	font-size: 22px;
}
/* select for devices */
select {
	color: $mainBlueColor;
	font-size: 16px;
	border: 1px solid $bgHeader;
	background: #fff;
	height: 35px;
	border-radius: 5px;
	padding: 0 15px;
	position: relative;
}
.descriptions-list {
    display: block;
    border-bottom: 1px solid #e9edf1;
    margin-bottom: 43px;
    padding-bottom: 20px;
    @extend %clr;
    li {
        display: block;
        float: left;
        margin-right: 20px;
        font-size: 14px;
        line-height: 32px;
        color: #d4dbe3;
        &.active{
            a {
                color: $textColor;
                &:before {
                    color: #d4dbe3;
                }
            }
        }
        &:first-child {
            a {
                &:before {
                    display: none;
                }
            }
        }
        a {
            text-decoration: none;
            color: #d4dbe3;
            position: relative;
			@extend %defTransition;
            &:before {
                position: absolute;
                content: "-";
                left: -11px;
                top: -9px;
            }
            &:hover {
                color: $textColor;
                &:before {
                    color: #d4dbe3;
                }
            }
        }
    }
}

.open-info {
	cursor: pointer;
	background-color: $bgIcons;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	@extend %hide-text;
	@extend %defTransition;
	@extend %iconsSprite;
	@include isp('open', $icons, false, 7.5px, 4px);
	position: relative;
	&:before,
	&:after {
		content:'';
		position: absolute;
		opacity: 0;
	}
	&:before {
		@extend %iconsSprite;
		@include isp('open-on', $icons, false, 7.5px, 4px);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&:after {
		top: 50%;
		left: 50%;
		width: 12px;
		height: 2px;
		background: $bgTableRow;
		margin-top: -1px;
		margin-left: -6px;
	}
	&.active {
		background-image: none;
		&:after {
			opacity: 1;
		}
		&:before {
			opacity: 0;
		}
		&:hover {
			&:after {
				background: $bgContent;
			}
			&:before {
				opacity: 0;
			}
		}
	}
	&:hover {
		background-color: $bgHeader;
		background-image: none;
		&:before {
			opacity: 1;
		}
	}
}

.site-loader {
	@include stretch();
	position: fixed;
	background: rgba(48,49,54,.68);
	z-index: 1044;

	font: normal normal normal 14px/1 FontAwesome;
	font-size: 48px;
	color: $mainBlueColor;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before {
		content: "\f021";
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-animation: fa-spin 2s infinite linear;
		animation: fa-spin 2s infinite linear;
	}
}
