@font-face {
	font-family: 'latoregular';
	src: url('../fonts/latoRegular/lato-regular-webfont.eot');
	src: url('../fonts/latoRegular/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/latoRegular/lato-regular-webfont.woff2') format('woff2'),
	url('../fonts/latoRegular/lato-regular-webfont.woff') format('woff'),
	url('../fonts/latoRegular/lato-regular-webfont.ttf') format('truetype'),
	url('../fonts/latoRegular/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latolight';
	src: url('../fonts/latoLight/lato-light-webfont.eot');
	src: url('../fonts/latoLight/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/latoLight/lato-light-webfont.woff2') format('woff2'),
	url('../fonts/latoLight/lato-light-webfont.woff') format('woff'),
	url('../fonts/latoLight/lato-light-webfont.ttf') format('truetype'),
	url('../fonts/latoLight/lato-light-webfont.svg#latolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latosemibold';
	src: url('../fonts/latoSemibold/lato-semibold-webfont.eot');
	src: url('../fonts/latoSemibold/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/latoSemibold/lato-semibold-webfont.woff2') format('woff2'),
	url('../fonts/latoSemibold/lato-semibold-webfont.woff') format('woff'),
	url('../fonts/latoSemibold/lato-semibold-webfont.ttf') format('truetype'),
	url('../fonts/latoSemibold/lato-semibold-webfont.svg#latosemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latobold';
	src: url('../fonts/lato-bold-webfont.eot');
	src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato-bold-webfont.woff2') format('woff2'),
	url('../fonts/lato-bold-webfont.woff') format('woff'),
	url('../fonts/lato-bold-webfont.ttf') format('truetype'),
	url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}