.register {
	article.page {
		position: relative;
		margin: 0 35px;
		overflow: hidden;
		.registrationActions {
			display: inline-block;
			width: 100%;
			text-align: center;
			padding-top: 20px;
			@include min-screen($mediaMedium){
				padding-top: 0;
			}
		}
		img[src*="/wp-content/uploads/"] {
			display: block !important;
			margin: 0 auto;
			@include min-screen($mediaMedium){
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				width: 50%;
			}
		}
		.radio_wrap {
			width: 100% !important;
			min-height: 25px;
			label {
				display: inline-block !important;
				float: left !important;
				width: 30px !important;
				height: 100%;
			}
			&.registrationPay {
				label {
					& > input[type="checkbox"] {
						display: none !important;
						& + span {
							display: block;
							padding-top: 5px;
							&:before {
								content: "";
								display: inline-block !important;
								width: 22px;
								height: 22px;
								line-height: 22px;
								border-radius: 5px;
								border: solid 1px #E6DB55;
								background-color: #FFFFE0;
							}
						}
						&:checked + span:before {
							content: "\f14a";
							font-family: "FontAwesome";
							font-size: 25px;
							color: $bgBtnSubmit;
							animation: pop 180ms ease-in;
						}
					}
				}
				& + .legend_txt {
					display: block !important;
					position: static !important;
				}
			}
			p {
				padding-left: 30px;
			}
		}
		.fieldset.error {
			.radio_wrap {
				label {
					& > input[type="checkbox"] {
						& + span {
							&:before {
								border: $borderColorError 1px solid;
							}
						}
					}
				}
			}
		}
	}



	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		border: 1px solid #f5f7f9;
		width: 100%;
		line-height: 50px;
		height: 50px;
		border-radius: 6px;
		padding: 0 10px;
		text-align: center;
		background: #f5f7f9;
		color: $formHColor;
		@extend %defTransition;
		@include max-screen($maxWidthMobile){
			height: 36px;
			line-height: 36px;
		}
		&:focus {
			background: #fff;
			border-color: #9baaba;
			color: $formHColor;
			outline: none;
		}
		@include placeholder-color($formHColor);
	}
	.windows-safari {
		input[type="text"],
		input[type="password"],
		input[type="email"],
		textarea {
			line-height: normal;
		}
	}
	textarea {
		height: 250px;
		line-height: normal;
		padding: 10px;
		@include max-screen($maxWidthMobile){
			height: 250px;
			line-height: normal;
		}
	}
	input {
		&.filled {
			color: $formHColor;
			background: #fff;
			border-color: #9baaba;
			&.error {
				border-color: #f00;
			}
		}
		.error {
			border-color: #f00;
		}
	}

	input[type="submit"] {
		width: 268px;
		height: 50px;
		margin: 48px auto 0;
		font-weight: bold;
		@include max-screen($maxWidthMobile){
			height: 36px;
			line-height: 36px;
			margin-top: 0;
		}
	}
	.login {
		padding: 0;
	}
	label {
		&.error {
			color: #f00;
			font-size: 14px;
		}
	}
	/* Custom checkbox */
	body {
		&.checkout {
			input[type="checkbox"] {
				display:none;
			}
			input[type="checkbox"] {
				& + label {
					cursor: pointer;
					position: relative;
					padding-left: 25px;
					&:before,
					&:after {
						content: "";
						position: absolute;
						width: 16px;
						height: 16px;
						top: 50%;
						left: 0;
						margin-top: -9px;
					}
					&:before {
						border: 1px solid $bgHeader;
						border-radius: 2px;
					}
					&:after {
						@extend %iconsSprite;
						@include back-pos('checked');
						left: 3px;
						margin-top: -(image-height('icons/checked.png')/2);
						display: none;
					}
				}
				&:checked {
					& + label {
						&:after {
							display: block;
						}
					}
				}
			}
		}
	}
	#user_pass,
	#user_login {
		text-transform: none;
	}

	/* Page /register/ */
	.wrap-registration {
		@include max-screen($maxWidthMobile){
			display: block !important;
		}
	}
	.pieregWrapper {
		&.piereg_container {
			@include min-screen($mediaMedium) {
				width: 35%;
			}
		}
		#pie_register .fields {
			margin: 0;
			.fieldset {
				position: relative;
				padding-top: 0;
				padding-bottom: 0;
				&.error {
					border: none;
					border-left: none;
					input[type="text"],
					input[type="password"],
					input[type="email"],
					textarea {
						border: $borderColorError 1px solid;
					}
				}
				input[type="text"],
				input[type="password"],
				input[type="email"],
				textarea {
					width: 100%;
					height: 50px;
					margin: 0 0 12px;
					padding: 0 10px;
					line-height: 50px;
					border: 1px solid $borderColorInput;
					border-radius: 6px;
					text-align: center;
					background: $bgInput;
					color: $textColorInput;
					&:focus {
						background: $white;
						border-color: $formHColor;
						color: $textColorInput;
						outline: none;
					}
				}
				input[name="e_mail"] {
					border: solid 1px #E6DB55;
					background-color: #FFFFE0;
				}
				label {
					display: none;
					width: 100%;
					position: absolute;
					top: -2px;
					left: 10px;
				}
				.legend_txt {
					display: none;
					position: absolute;
					top: -4px;
					right: 7px;
				}
				img {
					display: block;
					margin: 0 auto;
					padding-left: 5%;
				}
				.desc {
					width: 100%;
					text-align: center;
				}
			}
			.pie_wrap_buttons {
				width: 100% !important;
				input {
					display: block;
					width: 268px;
					max-width: 100%;
					height: 50px;
					margin: 20px auto 0;
					padding: 0 36px;
					background: $bgBtnSubmit;
					border-color: $borderColorBtnSubmit;
					border-radius: 6px;
					font-weight: bold;
					float: none;
					text-indent: -9999px;
					background-image: url(/wp-content/themes/mc_tutor/img/check.png);
					background-repeat: no-repeat;
					background-position: 50% 50%;
				}
			}
		}
		#password_meter {
			label {
				height: 0;
			}
		}
		.piereg_pass {
			width: 100% !important;
			height: 50px;
			margin: 0 0 12px;
			padding: 0 10px !important;
			line-height: 50px;
			background-color: $bgInput;
			border: none;
			border-radius: 6px;
			&_v_week {
				background: #FFA0A0;
			}
			&_week {
				background: #FFB78C;
			}
			&_medium {
				background: #FFEC8B;
			}
			&_strong{
				background:#C3FF88;
			}
		}
		.wrapmathcaptcha {
			text-align: center;
			input {
				margin-top: 0 !important;
				@include min-screen($mediaMedium) {
					width: 60px !important;
				}
			}
		}
		#piereg_login .piereg_math_captcha,
		.piereg_container .piereg_math_captcha,
		#pie_register_reg_form .piereg_math_captcha {
			display: inline-block;
			height: 50px;
			line-height: 50px;
			border: 1px solid $borderColorInput;
			border-radius: 6px;
			float: none;
			vertical-align: middle;
			margin-top: 0 !important;
		}
	}
}

