/* History Popup styles */
.history-popup-box,
.full-history-popup-box {
	padding: 0 20px;
	font: 16px/30px $mainFontSemibold;
	color: $textColor;
	text-align: left;
	max-height: 90%;
	overflow: hidden;
	@include max-screen($maxWidthMobile) {
        padding: 0 10px;
	}
	.inner-history-popup {
		border-radius: 5px;
		background: $bgContent;
		padding: 25px 15px;
		position: relative;
		box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.2);
        @include max-screen($maxWidthMobile) {
            padding: 15px;
        }
	}
	h2 {
		font: 26px/32px $mainFontSemibold; /* Medium */
		padding: 5px 0 15px;
		margin-bottom: 20px;
		border-bottom: 1px solid $borderColor;
        @include max-screen($maxWidthMobile) {
            padding: 15px 0 5px;
            margin-bottom: 15px;
        }
	}
	.item-history {
		span {
			color: $color-1;
			display: inline-block;
			margin-right: 10px;
		}
	}
	.history-popup-content {
		overflow-y: auto;
		max-height: 300px;
	}
	.single-history-item {
		margin-bottom: 20px;
		padding-top: 20px;
		position: relative;
		&:before {
			position: absolute;
			width: 70px;
			height: 2px;
			left: 50%;
			top: 0;
			margin-left: -35px;
			content: '';
			background: $borderColor;
		}
		&:first-child {
			padding-top: 0;
			&:before {
				content: none;
			}
		}
	}
}
.no-balance-popup {
    text-align: center;
    padding: 15px 0;
    h3 {
        margin-bottom: 35px;
    }

}
