#header {
    position: relative;
    z-index: 10;
    height: $headerHeight;
    background: $bgHeader;
    @include max-screen($mediaSmall){
        margin-bottom: 30px;
    }
    .content-wrapper {
        max-width: none;
        padding-top: 23px;
        @include justifyBlocks();
        @include max-screen($mediaMedium){
            padding-top: 10px;
        }
    }
    .nav-btn {
        display: none;
        position: absolute;
        right: 15px;
        left: auto;
        top: 10px;
        height: 46px;
        width: 56px;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 3px;
        &:after {
            position: absolute;
            top: 11px;
            left: 10px;
            height: 16px;
            width: 36px;
            border: 4px solid #fff;
            border-width: 4px 0;
            content: '';
        }
        &:before {
            position: absolute;
            top: 21px;
            left: 10px;
            height: 4px;
            width: 36px;
            background: #fff;
            content: '';
        }
        &.active {
            background: $bgContent;
            &:after {
                border-color: $bgHeader;
            }
            &:before {
                background: $bgHeader;
            }
        }
    }
    .logo {
        padding: 10px;
        position: relative;
        z-index: 1;
        @include max-screen($mediaSmall){
            padding: 10px 10px 10px 0;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            .item-logo {
                background: url("../img/logo.png") no-repeat 0 0;
                display: block;
                padding-left: 50px;
                height: 29px;
                line-height: 29px;
                text-decoration: none;
                color: $lightColor;
                position: relative;
                font-size: 18px;
                font-weight: 600;
                padding-right: 15px;
                z-index: 2;
                &:before {
                    position: absolute;
                    content: "";
                    display: block;
                    right: 0;
                    top: 14px;
                    @extend %iconsSprite;
                    @include back-pos('arrow_bottom');
                    @extend %defTransition;
                    @include backface-visibility(hidden);
                }
            }
            ul {
                text-align: right;
                margin-top: 20px;
                padding: 0 10px;
                border-radius: 6px;
                background: $bgHeader;
                box-shadow: 0 1px rgba(0,0,0,.2);
                position: absolute;
                left: 0;
                right: 0;
				visibility: hidden;
				@include backface-visibility(hidden);
                @extend %defTransition;
                li {
                    margin: 0;
                    display: block;
                    box-shadow: inset 0 1px rgba(0,0,0,.2);
                    &:first-child {
                        box-shadow: none;
                    }
                }
                a {
                    display: block;
                    padding: 5px 0;
                    color: #fff;
                    text-transform: inherit;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &.is-open {
                    visibility: visible;
                    margin-top: 3px;
                }
            }
            &:hover {
                ul {
                    visibility: visible;
                    margin-top: 3px;
                }
                .item-logo {
                    &:before {
                        @include rotate(-180);
                    }
                }
            }
        }
    }
    .right-menu {
        ul {
            padding: 0;
            margin: 0;
        }
    }
}
.main-menu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        text-align: center;
        &.menu > li > a {
            background: $transparent;
            border: none;
            &:hover {
                background: $transparent !important;
                border: none;
            }
        }
        li {
            display: inline-block;
            margin: 0 15px;
            a {
                display: block;
                font-size: 16px;
                color: $lightColor;
                text-transform: uppercase;
                text-decoration: none;
                padding: 5px 0;
                &:hover {
                    text-decoration: underline;
                }
            }
            &.menu-item-has-children {
                margin-right: 0;
                & > a {
                    position: relative;
                    padding-right: 15px;
                    &:before {
                        position: absolute;
                        content: "";
                        display: block ;
                        right: 0;
                        top: 17px;
                        @extend %iconsSprite;
                        @include back-pos('arrow_bottom');
                        @extend %defTransition;
                        @include backface-visibility(hidden);
                    }
                }
                &:hover {
                    > .sub-menu {
                        visibility: visible;
                        margin-top: 10px;
                    }
                    & > a {
                        &:before {
                            @include rotate(-180);
                        }
                    }
                }
            }
        }
        .menu-item-has-children {
            .menu-item-has-children {
                position: relative;
                &:hover {
                     a:before {
                        -moz-transform: rotate(-90deg);
                          -o-transform: rotate(-90deg);
                          -webkit-transform: rotate(-90deg);
                          -ms-transform: rotate(-90deg);
                          transform: rotate(-90deg);
                    }
                }
                .sub-menu {
                    width: 110%;
                    top: -10px;
                    left: 100%;
                    margin-left: 11px;
                }
            }
        }
    }


    .sub-menu {
        position: absolute;
        text-align: left;
        margin-top: 20px;
        padding: 0 10px;
        border-radius: 6px;
        background: $bgHeader;
        box-shadow: 0 1px rgba(0,0,0,.2);
        visibility: hidden;
        @extend %defTransition;
        li {
            margin: 0;
            display: block;
            box-shadow: inset 0 1px rgba(0,0,0,.2);
            &:first-child {
                box-shadow: none;
            }
        }
        a {
            text-transform: inherit;
        }
    }

    .b-mobile-nav {
        position: absolute;
        left: 10px;
        right: 10px;
        z-index: 5;
        background: $bgHeader;
        border-radius: 6px;
        padding: 10px 20px;
        @include transform(translate3d(0, 80px, 0));
        @include backface-visibility(hidden);
        @extend %defTransition;
		visibility: hidden;
        opacity: 0;
        z-index: -1;
        &.is-open {
            @include transform(translate3d(0, 25px, 0));
			visibility: visible;
            z-index: 5;
            opacity: 1;
        }
        .sub-menu {
            .sub-menu {
                width: auto !important;
                padding: 0!important;
                margin: 0!important;
                border: 1px solid $borderColorSubMenu;
                visibility: visible !important;
                background: $bgHeader;
                li {
                    border-bottom: 1px solid $bgRightMenuLinks;
                    a {
                        color: $white;
                    }
                }
            }
        }
        & > ul {
            display: block;
            > li {
                border-bottom: 1px solid $bgRightMenuLinks;
                a.popup-with-form {
                    line-height: 30px !important;
                    background: $white;
                    border: none;
                    &:hover {
                        background: $white !important;
                    }
                }
            }
            li {
                display: block;
                margin: 0;
                float: none;
                padding: 5px 0;
                box-shadow: inset 0 1px $buttonHover;
                &:first-child {
                    box-shadow: none;
                }
                a {
                    padding: 5px 0;
                }
                &.menu-item-has-children {
                    & > a {
                        padding: {
                            left: 15px;
                            right: 15px;
                        }
                        &:before {
                            top: 16px;
                            @include back-pos('arrow_bottom_mobile');
                        }
                    }
                    .menu-item-has-children > a:before {
                        @include back-pos('arrow_bottom_mobile_red');
                    }
                    &.active {
                        & > a {
                            &:before {
                                @include rotate(-180);
                            }
                        }
                    }
                }
                &:hover {
                    .sub-menu {
                        margin: 0;
                    }
                }
            }
        }

        .right-menu {
            padding-top: 30px;
            box-shadow: inset 0 1px $buttonHover;
            ul {
                li {
                    display: block;
                    padding: 5px 0;
                    margin: 0;
                    a {
                        display: block;
                        margin: 0 0 10px 0;
                        border: 1px solid $white;
                        &:hover {
                            background: $bgRightMenuLinks !important;
                            border-color: $bgRightMenuLinks;
                            text-decoration: none;
                        }
                    }
                    .user-info:hover {
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }
        }
        .sub-menu {
            display: none;
            margin-top: 0;
            margin-bottom: 5px !important;
            text-align: center;
            border-radius: 0;
            background: #fff;
            box-shadow: none;
            position: static;
            visibility: visible;
            li {
                a {
                    color: $bgHeader;
                }
            }
        }
    }
}
.ua-safari5,
.os-android {
	.main-menu {
		.b-mobile-nav {
			display: none;
			opacity: 1;
			visibility: visible;
			&.is-open {
				display: block;
				z-index: 5;
			}
		}
	}
}
.right-menu {
    ul {
        list-style: none;
        li {
            margin: 0 20px;
            a {
                @extend %elemBorder;
                background: none;
                border-color: #fff;
                padding: 0 28px;
            }
        }
    }
}
.user-info {
    color: $bgContent;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    padding: 0;
    text-transform: capitalize;
    word-wrap: break-word;
    @extend %defTransition;
    &:hover {
        text-decoration: none;
        color: $bgHeader;
    }
    img {
        width: 39px;
        height: 39px;
        border-radius: 50%;
        vertical-align: middle;
        &.alignnone,
        &.avatar {
            margin: 0 11px 0 0;
        }
    }
}
.video-js {
  width: auto !important;
  height: auto !important;
}